{% extends "backoffice/toll_tag/base.html" %}

{% block content %}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
        <tr>
            <th col="id" default-sort="desc">ID</th>
            <th col="toll_account">Toll Account</th>
            <th col="tag_number">Tag Number</th>
            <th>Vehicle</th>
        </tr>
        {% for tolltag in tolltag_list %}
            <tr class="clickable click-to-edit" destination="{% url "backoffice:tolltag-detail" pk=tolltag.id %}">
                <td><a href="{% url "backoffice:tolltag-detail" pk=tolltag.id %}">{{ tolltag.id }}</a></td>
                <td>{{ tolltag.toll_account }}</td>
                <td>{{ tolltag.tag_number }}</td>
                <td>
                    {% if tolltag.vehicle %}
                        <a href="{% url "backoffice:vehicle-detail" pk=tolltag.vehicle.id %}">{{ tolltag.vehicle.vehicle_name }}</a>
                    {% else %}
                        {{ tolltag.alt_usage }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
