{% extends "backoffice/site_content/base.html" %}

{% block content %}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
        <tr>
            <th col="page">Page</th>
        </tr>
        {% for sitecontent in sitecontent_list %}
            <tr class="clickable click-to-edit" destination="{% url "backoffice:sitecontent-detail" page=sitecontent.page %}">
                <td><a href="{% url "backoffice:sitecontent-detail" page=sitecontent.page %}">{{ sitecontent.name }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
