<cftry>
    <cfparam name="CurntDate" default="#Now()#">
    <cfparam name="monthOffset" type="integer" default="0">
    <cfparam name="vid" type="integer" default="0">
    <cfcatch type="Any">
        Invalid parameters.
        <cfabort>
    </cfcatch>
</cftry>

<cfset CurntDate = CreateODBCDate(DateAdd("m", monthOffset, Now()))>

<cfset yearSet = year(CurntDate)>
<cfset monthSet = month(CurntDate)>

<cfset monthStart = createDateTime(#yearSet#, #monthSet#, 1, 0, 0, 0)>
<cfset monthEnd = createDateTime(#yearSet#, #monthSet#, #DaysInMonth(monthStart)#, 23, 59, 59)>
<cfset offset = #DayOfWeek(monthStart)#>
<cfset lastSlot = #offset# + #DaysInMonth(monthStart)#-1>
<cfset calDays = (#Ceiling(lastSlot/7)#)*7>
<cfset day = 1>
<cfset dateCal = "">

<!--- Output calendar table --->

<table class="calendar">
    <tr align="center">
        <cfoutput>
        <td colspan="7" align="center">
            <span><big>#DateFormat(CurntDate,"MMMM yyyy")#</big></span>
        </td>
	</cfoutput>
    </tr>
    <cfoutput>
    <tr>
        <th class="weekend">S</th>
        <th class="weekday">M</th>
        <th class="weekday">T</th>
        <th class="weekday">W</th>
        <th class="weekday">Th</th>
        <th class="weekday">F</th>
        <th class="weekend">S</th>
    </tr>
    </cfoutput>
    <tr>
        <cfloop index="ii" from="1" to="#calDays#">

        <cfif ii GTE offset AND ii LTE lastslot>
            <cfset dispDay = ii+1-offset>
            <cfset dateCal = CreateODBCDate(createDate(Year(CurntDate),Month(CurntDate),dispDay))>
            <cfset monthClass = "this-month">
        <cfelseif ii LT offset>
            <cfset dispDay = DaysInMonth(DateAdd("m",-1,CurntDate))+ii+1-offset>
            <cfset dateCal = CreateODBCDate(createDate(Year(Curntdate),Month(DateAdd("m",-1,CurntDate)),dispDay))>
            <cfset monthClass = "other-month">
        <cfelseif ii GT offset>
            <cfset dispDay = ii+1-offset-DaysInMonth(CurntDate)>
            <cfset dateCal = CreateODBCDate(createDate(Year(CurntDate),Month(DateAdd("m",1,CurntDate)),dispDay))>
            <cfset monthClass = "other-month">
        </cfif>

        <cfquery name="Rentals" datasource="#DSN#">
            SELECT rentalid FROM Rentals
            INNER JOIN ConsignmentVehicles ON ConsignmentVehicles.vehicleid = Rentals.vehicleid
            INNER JOIN Vehicles ON Vehicles.vehicleid = Rentals.vehicleid
            WHERE Rentals.status != 4
            AND Vehicles.status = 1
            AND #datecal# BETWEEN DATE_SUB(dateout,INTERVAL 1 DAY) AND dateback
            AND consignerid = <CFQUERYPARAM value="#YourID.consignerid#" CFSQLType="CF_SQL_NUMERIC">
            <cfif vid GT 0>
                AND Rentals.vehicleid = <CFQUERYPARAM value="#vid#" CFSQLType="CF_SQL_NUMERIC">
            </cfif>
        </cfquery>

        <cfquery name="ConsignerReservations" datasource="#DSN#">
            SELECT reservationid FROM ConsignmentReservations
            INNER JOIN ConsignmentVehicles ON ConsignmentVehicles.vehicleid = ConsignmentReservations.vehicleid
            INNER JOIN Vehicles ON Vehicles.vehicleid = ConsignmentReservations.vehicleid
            AND status = 1
            WHERE #datecal# BETWEEN dateout AND DATE_SUB(dateback,INTERVAL 1 DAY)
            AND consignerid = <CFQUERYPARAM value="#YourID.consignerid#" CFSQLType="CF_SQL_NUMERIC">
            <cfif vid GT 0>
                AND ConsignmentReservations.vehicleid = <CFQUERYPARAM value="#vid#" CFSQLType="CF_SQL_NUMERIC">
            </cfif>
        </cfquery>

        <cfoutput>
        <td class="calendar-date #monthclass#
            <cfif dispday is #datepart("d", now())# and #month(curntdate)# is #month(now())#>today</cfif>
            <cfif Rentals.recordCount GT 0>rental</cfif>
            <cfif ConsignerReservations.recordCount GT 0>reservation</cfif>
            " date="#DateFormat(datecal,"MM/DD/YYYY")#" reservationid="#ConsignerReservations.reservationid#">
            <div class="day-label">#dispday#</div>
        </td>
        </cfoutput>

        <cfset day = #day# + 1>
        <cfif (#ii# mod 7 is 0)>
            </tr>
            <tr>
        </cfif>

        </cfloop>

        <!--- The last tr is created in the loop above --->
        <td colspan="7">
        </td>
    </tr>
</table>
