<header class="l-header">

    <section class="upper">
        <div class="l-container">
            <div class="banner right">
                <p class="highlight" style="font-size: 22px;">Sports car rentals for the automotive enthusiast</p>
                <p>Serving the NYC area and beyond</p>
            </div>
            <div class="banner left">
                {% if user.is_authenticated %}
                    <p>PRI Special Use Portal - <span class="your-name">{{ user.consigner.full_name }}</span></p>
                {% else %}
                    <p>PRI Special Use Portal</p>
                {% endif %}
            </div>
        </div>
    </section>

</header>
