{% load static %}

<a class="header-logo" href="{% url "consignment:home" %}"><img src="{% static "consignment/images/PRI_logo.png" %}" alt='Performance Rentals' width="255px"></a>

{% if user.is_authenticated %}

    <ul class="sidebar-nav">
        <li class="account-info {% if selected_page == 'vehicles' and not vehicle %}selected-page{% endif %}">
            <a href="{% url "consignment:calendar" %}">All Vehicles</a>
        </li>
        {% for menu_vehicle in user.consigner.vehicle_set.all %}
            <li class="{% if selected_page == 'vehicles' and menu_vehicle == vehicle %}selected-page{% endif %}">
                <a href="{% url "consignment:calendar" slug=menu_vehicle.slug %}">
                    {% if menu_vehicle.upcoming_rentals.exists %}
                        <div class="badge">{{ menu_vehicle.upcoming_rentals.count }}</div>
                    {% endif %}
                    {{ menu_vehicle.make }} {{ menu_vehicle.model }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <ul class="sidebar-nav">
        <li class="account-info {% if selected_page == "payments" %}selected-page{% endif %}">
            <a href="{% url "consignment:payment-history" %}">Payments</a>
        </li>
        <li class="account-info {% if selected_page == "password" %}selected-page{% endif %}">
            <a href="{% url "consignment:password" %}">Change Password</a>
        </li>
    </ul>
    <ul class="sidebar-nav">
        <li class="account-info">
            <a href="{% url "consignment:logout" %}">Log Out</a>
        </li>
    </ul>

{% endif %}