<div class="legend">
    {% if user.employee.reservations_access %}
        {% if reservations.exists %}
            <a
                class="l_reservations"
                href="{% url "backoffice:reservation-list" %}"
            >
                {{ reservations.count }} Reservation{{ reservations.count|pluralize }}
            </a>
        {% endif %}
    {% endif %}
    {% if user.employee.reservations_access %}
        {% if rentals.exists %}
            <a
                class="l_rentals"
                href="{% url "backoffice:rental-list" %}"
            >
                {{ rentals.count }} Rental{{ rentals.count|pluralize }} In Progress
            </a>
        {% endif %}
    {% endif %}
    {% if user.employee.reservations_access %}
        {% if performance_experiences.exists %}
            <a
                class="l_perfexp"
                href="{% url "backoffice:perfexp-list" %}"
            >
                {{ performance_experiences.count }} PerfExp{{ performance_experiences.count|pluralize }}
            </a>
        {% endif %}
    {% endif %}
    {% if user.employee.reservations_access %}
        {% if joy_rides.exists %}
            <a
                class="l_joyride"
                href="{% url "backoffice:joyride-list" %}"
            >
                {{ joy_rides.count }} Joy Ride{{ joy_rides.count|pluralize }}
            </a>
        {% endif %}
    {% endif %}
    {% if user.employee.maintenance_access %}
        {% if maintenances.exists %}
            <a
                class="l_service"
                href="{% url "backoffice:service-list-due" %}"
            >
                {{ maintenances.count }} Service{{ maintenances.count|pluralize }}
            </a>
        {% endif %}
    {% endif %}
    {% if user.employee.maintenance_access %}
        {% if damages.exists %}
            <a
                class="l_damage"
                href="{% url "backoffice:damage-list" %}"
            >
                {{ damages.count }} Damage{{ damages.count|pluralize }}
            </a>
        {% endif %}
    {% endif %}
    {% if user.employee.admin_access %}
        {% if gift_certificates.exists %}
            <a
                class="l_gift"
                href="{% url "backoffice:giftcert-list" %}"
            >
                {{ gift_certificates.count }} Gift Cert{{ gift_certificates.count|pluralize }}
            </a>
        {% endif %}
    {% endif %}
    {% if user.employee.admin_access %}
        {% if adhoc_payments.exists %}
            <a
                class="l_subpay"
                href="{% url "backoffice:adhocpayment-list" %}"
            >
                {{ adhocpayments.count }} SubPay{{ adhocpayments.count|pluralize }}
            </a>
        {% endif %}
    {% endif %}
</div>
