<div id="menu_vehicles" class="popupbox">
    <ul class="navmenu">
        {% if user.employee.any_privileged_access %}
            <li>
                <a
                    class="tnav {% if page_group == 'vehicles' %}selected{% endif %}"
                    href="{% url "backoffice:vehicle-list" %}"
                >
                    Vehicles
                </a>
            </li>
        {% endif %}
        {% if user.employee.reservations_access %}
            <li>
                <a
                    class="tnav {% if page_group == 'reservations' %}selected{% endif %}"
                    href="{% url "backoffice:reservation-list" %}"
                >
                    Reservations
                </a>
            </li>
        {% endif %}
        {% if user.employee.reservations_access %}
            <li>
                <a
                    class="tnav {% if page_group == 'rentals' %}selected{% endif %}"
                    href="{% url "backoffice:rental-list" %}"
                >
                    Rentals
                </a>
            </li>
        {% endif %}
        {% if user.employee.reservations_access %}
            <li>
                <a
                    class="tnav {% if page_group == 'performance_experiences' %}selected{% endif %}"
                    href="{% url "backoffice:perfexp-list" %}"
                >
                    Performance Experiences
                </a>
            </li>
        {% endif %}
        {% if user.employee.reservations_access %}
            <li>
                <a
                    class="tnav {% if page_group == 'joy_rides' %}selected{% endif %}"
                    href="{% url "backoffice:joyride-list" %}"
                >
                    Joy Rides
                </a>
            </li>
        {% endif %}
    </ul>
</div>