{% extends "backoffice/red_flag/base.html" %}

{% block content %}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
        <tr>
            <th col="id" default-sort="desc">ID</th>
            <th col="full_name">Name</th>
            <th col="email">Email</th>
            <th>Phone</th>
            <th>Cell</th>
            <th>State</th>
            <th col="created_at" default-sort="desc">Created</th>
        </tr>
        {% for redflag in redflag_list %}
            <tr class="clickable click-to-edit" destination="{% url "backoffice:redflag-detail" pk=redflag.id %}">
                <td><a href="{% url "backoffice:redflag-detail" pk=redflag.id %}">{{ redflag.id }}</a></td>
                <td>{{ redflag.full_name }}</td>
                <td><a href="mailto:{{ redflag.email }}">{{ redflag.email }}</a></td>
                <td>{{ redflag.home_phone.as_national }}</td>
                <td>{{ redflag.mobile_phone.as_national }}</td>
                <td>{{ redflag.state }}</td>
                <td>{{ redflag.created_at|date:"m/d/Y" }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
