{% extends "backoffice/mass_email/base.html" %}

{% block content %}

    {% if is_rich_text %}
        <script>
            tinymce.init({
                selector: '#id_body'
            });
        </script>
    {% endif %}

    {% if request.POST %}
        <span class="red">Preview:</span>
        {% if is_rich_text and form.data.include_header == 'True' %}
            <br>
            <small>HTML Header/footer will be wrapped around content below.</small>
        {% endif %}
        <br><br>
        <div class="mailpreview">
            <b>Sending To:</b> {{ form.recipient_label }}

            <br><br>

            <b>Subject:</b> {{ request.POST.subject }}<br><br>
            {% if is_rich_text %}
                {{ form.body.value|safe }}
            {% else %}
                <pre>
                    {{ form.body.value }}
                </pre>
            {% endif %}
        </div>
    {% endif %}

    <form method="POST" action="">
        <table class="inputform massemail">
            <tr>
                <td>Email To</td>
                <td>
                    {{ form.send_to }}
                </td>
            </tr>
            <tr>
                <td>Subject</td>
                <td>
                    {{ form.subject }}
                </td>
            </tr>
            {% if is_rich_text %}
                <tr>
                    <td>Include Header</td>
                    <td>
                        {{ form.include_header }}
                        <small>Includes site logo and styling container div around content.</small>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td class="align-top">Message</td>
                <td>
                    {{ form.body }}
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <button class="btn" type="submit" name="preview">Preview</button>
                    {% if request.POST %}
                        <button class="btn" type="submit" name="send" onclick="return confirmSend(this.form, 'mass email')">Send Mass Email</button>
                    {% endif %}
                </td>
            </tr>
        </table>
        {{ form.preview }}
        {% csrf_token %}
    </form>

{% endblock %}