{% extends "backoffice/mass_email/image_base.html" %}

{% block content %}

    {% include "backoffice/includes/paginator.html" %}

    <form method="POST">
        <table class="data alternating" sortedby="{{ sortby }}" style="width: 800px;">
            <tr>
                <th col="id" default-sort="desc">ID</th>
                <th>Image</th>
                <th>URL</th>
                <th></th>
            </tr>
            {% for emailimage in emailimage_list %}
                <tr >
                    <td>{{ emailimage.id }}</td>
                    <td>
                        <a href="{{ emailimage.image.url }}" target="_blank">
                            <img class="email-image-thumb" src="{{ emailimage.image.url }}" />
                        </a>
                    </td>
                    <td>{{ server_base_url }}{{ emailimage.image.url }}</td>
                    <td>
                        <button
                            class="btn delete"
                            type="button"
                            name="delete"
                            onclick="return confirmDelete(this.form, '{% url "backoffice:massemail-image-delete" pk=emailimage.id %}', 'email image')"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% csrf_token %}
    </form>

{% endblock %}
