{% extends "backoffice/mass_email/image_base.html" %}

{% block content %}

    <h2>Add Email Image</h2>

    {% include "backoffice/includes/form_error.html" %}

    <form method="POST" action="{% url "backoffice:massemail-image-create" %}" enctype="multipart/form-data">

        <table class="inputform emailpic">
            <tr>
                <td>Image</td>
                <td>
                    {{ form.image }}
                </td>
            </tr>
            <tr>
                <td>Resize</td>
                <td>Resize images appropriately prior to uploading.</td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <button class="btn" type="submit" name="edit">Add</button>
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>

{% endblock %}