Django==4.0.3
pyyaml==5.3.1
ipython==7.18.1
djangorestframework==3.13.1
PyMySQL==0.10.1
colorlog==6.6.0
django-two-factor-auth==1.13.2
phonenumbers==8.12.39
django-phonenumber-field==6.0.0
jedi==0.17.2
pycryptodome==3.10.1
cryptography==3.4.7
django-searchable-encrypted-fields==0.1.9
django-countries==7.2.1
django-prettyjson==0.4.1
Pillow==8.3.1
django-localflavor==3.1
avalara==21.6.0
english-words==1.0.3
html2bbcode==2.3.3
django-precise-bbcode==1.2.14
django-credit-cards==0.4.1
python-dateutil==2.8.2
pytest-django==4.4.0
pytest-mock==3.6.1
pdfkit==1.0.0
stripe==2.64.0
redis==4.2.2
hiredis==2.0.0
wagtail==4.2.2
freezegun==1.2.2