{% extends "backoffice/vehicle/base.html" %}

{% block content %}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
        <tr>
            <th col="id" default-sort="desc">ID</th>
            <th col="make">Make</th>
            <th col="model">Model</th>
            <th col="year">Year</th>
            <th>Type</th>
            <th col="status">Status</th>
            <th>Toll Tag</th>
            <th>Notes</th>
        </tr>
        {% for vehicle in vehicle_list %}
            <tr class="clickable click-to-edit" destination="{% url "backoffice:vehicle-detail" pk=vehicle.id %}">
                <td><a href="{% url "backoffice:vehicle-detail" pk=vehicle.id %}">{{ vehicle.id }}</a></td>
                <td>{{ vehicle.make }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.year }}</td>
                <td>
                    {{ vehicle.get_vehicle_type_display }}
                </td>
                <td>
                    {{ vehicle.get_status_display }}
                </td>
                <td>{{ vehicle.toll_tag_number }}</td>
                <td>{{ vehicle.notes }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
