<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>Performance Rentals - Exotic Car and Motorcycle Rentals for the enthusiast!</title>
    {% include "front_site/includes/meta.html" %}
    {% include "front_site/includes/styles.html" %}
    {% include "front_site/includes/js.html" %}
</head>
<body>

    <div class="wrapper">

        <CFINCLUDE TEMPLATE="inc_nav.cfm">
        {% include "front_site/includes/nav.html" %}

        {% block full_page_content %}
        <section class="l-content">
            <div class="l-container">
                <div class="well">

                    <div class='section-header'>{% block page_title %}{% endblock %}</div>
                    {% block content %}{% endblock %}

                </div>
            </div>
        </section>
        {% endblock %}

        <div class="push"></div>
    </div>

    {% include "front_site/includes/footer.html" %}

    <CFINCLUDE TEMPLATE="inc_trk.cfm">

</body>
</html>
