{% extends "front_site/base.html" %}
{% load static humanize bbcode_tags %}

{% block page_title %}Our Fleet{% endblock %}

{% block content %}

    {% comment %}
    <CFQUERY NAME="Vehicles" DATASOURCE="#DSN#">
    SELECT vehicleid,make,model,type FROM Vehicles
    WHERE status = 1
    <cfif fleet IS "cars">
        AND type = 1
    <cfelseif fleet IS "bikes">
        AND type = 2
    </cfif>
    ORDER BY type,weighting DESC
    </CFQUERY>
    {% endcomment %}

    {% if vehicle_type %}
        <cfif fleet IS NOT "all">
        <cfoutput>
        <div
            class="fleet-banner"
            {% if vehicle_type == 'cars' %}
                style="background-image: url('{% static "images/cars_banner.jpg" %}');"
            {% elif vehicle_type == 'bikes' %}
                style="background-image: url('{% static "images/bikes_banner.jpg" %}');"
            {% endif %}
        >
            <div class="fleet-banner-title">
            {% if vehicle_type == 'cars' %}
            <cfif fleet IS "cars">
                <p class="overlay-text">The PRI Sports Cars</p>
            {% elif vehicle_type == 'bikes' %}
            <cfelseif fleet IS "bikes">
                <p class="overlay-text">The PRI Bike Fleet</p>
            </cfif>
            {% endif %}
            </div>
        </div>
        </cfoutput>
        </cfif>
    {% endif %}

    <div class="fleet-list">

    {% for vehicle in vehicles %}
        {% if vehicle.slug %}
            {% comment %}
            <cfoutput query="Vehicles">
                <cfquery name="VehicleFront" datasource="#FDSN#">
                    SELECT blurb,price,specs FROM VehiclesFront
                    WHERE vehicleid = <CFQUERYPARAM value="#vehicleid#" CFSQLType="CF_SQL_INTEGER">
                </cfquery>

                <cftry>
                    <cfset specsStruct = DeserializeJSON(VehicleFront.specs)>
                    <cfset headline = specsStruct.headline>
                    <cfcatch type="Any">
                        <cfset headline = "">
                    </cfcatch>
                </cftry>
                {% endcomment %}

                <div class="fleet-vehicle">
                    <a href="{% url "vehicle" slug=vehicle.slug %}">
                        {% if vehicle.thumbnail_image %}
                            <img class="fleet-thumbnail" src="{{ vehicle.thumbnail_image.url }}" />
                        {% endif %}
                    </a>
                    <div class="car-info-fleet">

                            <div class="price-fleet">
                            <div class="ih-item circle effect4 left_to_right price-bubble">
                                <a href="{% url "reserve" slug=vehicle.slug %}">
                                <div class="img">
                                    <img class="click-to-reserve" src="{% static "images/ClickToReserve.png" %}" />
                                    <img src="{% static "images/price-bg.jpg" %}" alt="img">
                                    <span class="price-centered">
                                        <p class="price">${{ vehicle.price_per_day|floatformat:0|intcomma }}</p>/day
                                    </span>
                                </div>
                                <div class="info">
                                    <h3>Reserve Now</h3>
                                </div>
                                </a>
                            </div>
                            </div>

                        <a href="{% url "vehicle" slug=vehicle.slug %}">
                        <h3>
                            {{ vehicle.make }} {{ vehicle.model }}
                            <span class="trimlevel">{{ vehicle.headline }}</span>
                        </h3>
                        </a>
                        <div class="blurb-fleet">
                            {{ vehicle.blurb|bbcode|safe }}
                        </div>
                    </div>
                </div>
            </cfoutput>
        {% endif %}
    {% endfor %}

    </div>

{% endblock %}
