{% extends "front_site/base.html" %}
{% load static %}

{% block page_title %}Gift Certificate{% endblock %}

{% block content %}

    <div class="reservation-pics-sidebar">
        <img src="{% static "images/gifts.png" %}" />
    </div>

    <div class="reservation-form-sidebar">

    {% block gift_certificate_content %}
        <form method="POST" name="reservation_form" id="reservation_form" action="{% url "gift-certificate" %}" onsubmit="return false;" autocomplete="on">

            {% if form.errors %}
            <cfif Len(formError) GT 0>
            <div class="exception" id="reservation_form_error">
                <h3>An error occurred</h3>
                <p class="alert-message">#formError#</p>
            </div>
            </cfif>
            {% endif %}

            <div id="gift_payment">

                <p class="reservation-info">
                If you've got a gearhead in your life, one of the best, most memorable gifts you can give is an experience&mdash;some time behind the wheel of one of our exhilarating vehicles. Our gift certificates can be
                applied to any of our rental services: street rentals, track rentals, or our Performance Experience and Joy Ride events, allowing the recipient to choose the car or experience most to his or her liking.
                What's more, you'll be able to share the gift with them on that special day!
                </p>

                <p class="reservation-info">
                You can purchase a PRI gift certificate right here, right now, and have it in your hands in just a few hours! Our secure, automated system will collect your information and prepare the gift certificate,
                email you instructions on how to retrieve it, and you can then print it yourself. No waiting on the phone or trying to intercept the mailman here!
                </p>

                <table class="inputform payment">
                    <tr>
                        <td>Your Name</td>
                        <td>
                            {{ form.cc_name }}
                            <cfinput name="ccname" value="#GiftCert.ccname#" class="#StructKeyExists(fieldErrors,"ccname") ? 'field-error' : ''#" />
                        </td>
                    </tr>
                    <tr>
                        <td>Your Email</td>
                        <td>
                            {{ form.email }}
                            <cfinput name="email" value="#GiftCert.email#" class="#StructKeyExists(fieldErrors,"email") ? 'field-error' : ''#" />
                        </td>
                    </tr>
                    <tr class="smallprint">
                        <td></td>
                        <td>
                            <small class="subtext">Note: Your gift certificate information will be emailed to you. Please use a reliable address and double-check it before submitting.</small>
                        </td>
                    </tr>

                    <tr>
                        <td>Contact Phone Number</td>
                        <td>
                            {{ form.phone }}
                            <cfinput name="phone" value="#GiftCert.phone#" maxlength="20" class="phone #StructKeyExists(fieldErrors,"phone") ? 'field-error' : ''#" />
                        </td>
                    </tr>
                    <tr>
                        <td>Gift Certificate Amount</td>
                        <td>
                            {{ form.amount }}
                            <cfselect name="amount" class="#StructKeyExists(fieldErrors,"amount") ? 'field-error' : ''#">
                                <option value="100" <cfif GiftCert.amount IS 100>selected</cfif>>$100</option>
                                <option value="250" <cfif GiftCert.amount IS 250>selected</cfif>>$250</option>
                                <option value="500" <cfif GiftCert.amount IS 500>selected</cfif>>$500</option>
                                <option value="1000" <cfif GiftCert.amount IS 1000>selected</cfif>>$1,000</option>
                                <option value="1500" <cfif GiftCert.amount IS 1500>selected</cfif>>$1,500</option>
                                <option value="2000" <cfif GiftCert.amount IS 2000>selected</cfif>>$2,000</option>
                                <option value="5000" <cfif GiftCert.amount IS 5000>selected</cfif>>$5,000</option>
                            </cfselect>
                            <small>For other amounts, <a href="#OnSite#contact.cfm">contact us</a>.</small>
                        </td>
                    </tr>
                    <tr>
                        <td>Beneficiary Name</td>
                        <td>
                            {{ form.beneficiary_name }}
                            <cfinput name="usename" value="#GiftCert.usename#" class="#StructKeyExists(fieldErrors,"usename") ? 'field-error' : ''#" />
                        </td>
                    </tr>
                    <tr class="smallprint">
                        <td></td>
                        <td>
                            <small class="subtext">This is the name of the recipient. It will be printed on the gift certificate.</small>
                        </td>
                    </tr>
                    <tr>
                        <td >Billing Address</td>
                        <td>
                            {{ form.cc_address }}
{#                            <cftextarea name="ccaddr" style="height: 50px;" class="#StructKeyExists(fieldErrors,"ccaddr") ? 'field-error' : ''#">#GiftCert.ccaddr#</cftextarea>#}
                        </td>
                    </tr>
                    <tr>
                        <td>Billing City</td>
                        <td>
                            {{ form.cc_city }}
                            <cfinput name="cccity" value="#GiftCert.cccity#" class="#StructKeyExists(fieldErrors,"cccity") ? 'field-error' : ''#" />
                        </td>
                    </tr>
                    <tr>
                        <td>Billing State</td>
                        <td>
                            {{ form.cc_state }}
                            <cfselect name="ccstate" class="#StructKeyExists(fieldErrors,"ccstate") ? 'field-error' : ''#">
                                <cfloop array="#states#" index="state">
                                    <option value="#state.abbr#" <CFIF GiftCert.ccstate IS state.abbr>selected</CFIF>>#state.name#</option>
                                </cfloop>
                            </cfselect>
                        </td>
                    </tr>
                    <tr>
                        <td>Billing Zip</td>
                        <td>
                            {{ form.cc_zip }}
                            <cfinput name="cczip" value="#GiftCert.cczip#" maxlength="10" class="#StructKeyExists(fieldErrors,"cczip") ? 'field-error' : ''#" />
                        </td>
                    </tr>
                    <tr>
                        <td>Credit Card Number</td>
                        <td>
                            {{ form.cc_number }}
                            <cfinput name="ccnum" value="#GiftCert.ccnum#" maxlength="30" class="cc-field #StructKeyExists(fieldErrors,"ccnum") ? 'field-error' : ''#" />
                        </td>
                    </tr>
                    <tr>
                        <td>Credit Card Expiration</td>
                        <td>
                            {{ form.cc_exp_mo }} / {{ form.cc_exp_yr }}
                            {% comment %}
                            <cfselect name="ccexpmo" class="#StructKeyExists(fieldErrors,"ccexpmo") ? 'field-error' : ''#">
                                <option value="01" <cfif GiftCert.ccexpmo IS "01">selected</cfif>>January (01)</option>
                                <option value="02" <cfif GiftCert.ccexpmo IS "02">selected</cfif>>February (02)</option>
                                <option value="03" <cfif GiftCert.ccexpmo IS "03">selected</cfif>>March (03)</option>
                                <option value="04" <cfif GiftCert.ccexpmo IS "04">selected</cfif>>April (04)</option>
                                <option value="05" <cfif GiftCert.ccexpmo IS "05">selected</cfif>>May (05)</option>
                                <option value="06" <cfif GiftCert.ccexpmo IS "06">selected</cfif>>June (06)</option>
                                <option value="07" <cfif GiftCert.ccexpmo IS "07">selected</cfif>>July (07)</option>
                                <option value="08" <cfif GiftCert.ccexpmo IS "08">selected</cfif>>August (08)</option>
                                <option value="09" <cfif GiftCert.ccexpmo IS "09">selected</cfif>>September (09)</option>
                                <option value="10" <cfif GiftCert.ccexpmo IS "10">selected</cfif>>October (10)</option>
                                <option value="11" <cfif GiftCert.ccexpmo IS "11">selected</cfif>>November (11)</option>
                                <option value="12" <cfif GiftCert.ccexpmo IS "12">selected</cfif>>December (12)</option>
                            </cfselect> /

                            <cfset tyear = #Dateformat(Now(),"yyyy")#>
                            <cfset fyear = tyear+15>
                            <cfset ynow=#LSDateFormat(Now(),"yyyy")#>
                            <cfset ythen=(#ynow# + 11)>
                            <cfset mnow=#LSDateFormat(Now(),"mm")#>
                            <cfset dyear=ynow>
                            <cfselect name="ccexpyr" class="#StructKeyExists(fieldErrors,"ccexpyr") ? 'field-error' : ''#">
                                <cfoutput>
                                <cfloop index="year" from="#ynow#" to="#ythen#">
                                    <option value="#dyear#" <cfif GiftCert.ccexpyr IS dyear>selected</cfif>>#dyear#</option>>
                                    <cfset dyear = dyear + 1>
                                </cfloop>
                                </cfoutput>
                            </cfselect>
                            {% endcomment %}
                        </td>
                    </tr>
                    <tr>
                        <td>CVV</td>
                        <td>
                            {{ form.cc_cvv }}
                            <cfinput name="cccvv" value="#GiftCert.cccvv#" maxlength="5" class="#StructKeyExists(fieldErrors,"cccvv") ? 'field-error' : ''#" />
                        </td>
                    </tr>
                    <tr>
                        <td>Credit Card Bank Phone</td>
                        <td>
                            {{ form.cc_phone }}
                            <cfinput name="cctel" value="#GiftCert.cctel#" maxlength="20" class="phone #StructKeyExists(fieldErrors,"cctel") ? 'field-error' : ''#" />
                        </td>
                    </tr>
                    <tr>
                        <td>Personal Message</td>
                        <td>
                            {{ form.message }}
                            <cfinput name="message" value="#GiftCert.message#" maxlength="100" style="width: 300px;" placeholder="(Optional)" class="#StructKeyExists(fieldErrors,"message") ? 'field-error' : ''#" />
                        </td>
                    </tr>
                    <tr class="smallprint">
                        <td></td>
                        <td>
                            <small class="subtext">This greeting (100 characters max) will appear on the gift certificate.</small>
                        </td>
                    </tr>

                    <tr class="buttons">
                        <td></td>
                        <td>
                            <button type="submit" name="payment_btn" class="btn reserve-gift-complete-btn">Buy Gift Certificate</button>
                            <div class="spinner next-form-spinner payment-spinner"></div>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="exception hidden" id="reservation_payment_error">
                <h3>An error occurred</h3>
                <p class="alert-message"></p>
            </div>

        </form>
    {% endblock %}

    </div>

{% endblock %}
