{% extends "front_site/base.html" %}
{% load static %}

{% block content %}
<div class="l-container">
<div class="well" style="padding-bottom: 100px;">
    <div class='section-header'>Gift Certificate</div>

    <div class="reservation-pics-sidebar">
        <img src="{% static "images/gifts.png" %}" />
    </div>

    <div class="reservation-form-sidebar">

        <p class="reservation-info">
        Thank you for your purchase! Your gift certificate will be emailed to you as soon as it's been prepared.
        If you don't receive it within a day, please check your spam/junk folder.
        </p>

    </div>

</div>
</div>
{% endblock %}
