{% extends "front_site/base.html" %}
{% load static %}

{% block page_title %}Gift Certificate{% endblock %}

{% block content %}

    <div class="reservation-pics-sidebar">
        <img src="{% static "images/gifts.png" %}" />
    </div>

    <div class="reservation-form-sidebar">

    {% block gift_certificate_content %}
        <form method="POST" name="reservation_form" id="reservation_form" action="{% url "gift-certificate" %}" onsubmit="return false;" autocomplete="on">

            {% if form.errors %}
                {% with form_id="reservation_form_error" %}
                    {% include "global_includes/form_errors.html" %}
                {% endwith %}
            {% endif %}

            <div id="gift_payment">

                <p class="reservation-info">
                    If you've got a gearhead in your life, one of the best, most memorable gifts you can give is an
                    experience&mdash;some time behind the wheel of one of our exhilarating vehicles. Our gift certificates
                    can be applied to any of our rental services: street rentals, track rentals, or our Performance
                    Experience and Joy Ride events, allowing the recipient to choose the car or experience most to his
                    or her liking. What's more, you'll be able to share the gift with them on that special day!
                </p>

                <p class="reservation-info">
                    You can purchase a PRI gift certificate right here, right now, and have it in your hands in just
                    a few hours! Our secure, automated system will collect your information and prepare the gift
                    certificate, email you instructions on how to retrieve it, and you can then print it yourself.
                    No waiting on the phone or trying to intercept the mailman here!
                </p>

                <table class="inputform payment">
                    <tr>
                        <td>Your Name</td>
                        <td>
                            {{ form.cc_name }}
                        </td>
                    </tr>
                    <tr>
                        <td>Your Email</td>
                        <td>
                            {{ form.email }}
                        </td>
                    </tr>
                    <tr class="smallprint">
                        <td></td>
                        <td>
                            <small class="subtext">
                                Note: Your gift certificate information will be emailed to you. Please use a reliable
                                address and double-check it before submitting.
                            </small>
                        </td>
                    </tr>

                    <tr>
                        <td>Contact Phone Number</td>
                        <td>
                            {{ form.phone }}
                        </td>
                    </tr>
                    <tr>
                        <td>Gift Certificate Amount</td>
                        <td>
                            {{ form.amount }}
                            <small>For other amounts, <a href="{% url "contact" %}">contact us</a>.</small>
                        </td>
                    </tr>
                    <tr>
                        <td>Beneficiary Name</td>
                        <td>
                            {{ form.beneficiary_name }}
                        </td>
                    </tr>
                    <tr class="smallprint">
                        <td></td>
                        <td>
                            <small class="subtext">
                                This is the name of the recipient. It will be printed on the gift certificate.
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <td >Billing Address</td>
                        <td>
                            {{ form.cc_address }}
                        </td>
                    </tr>
                    <tr>
                        <td>Billing City</td>
                        <td>
                            {{ form.cc_city }}
                        </td>
                    </tr>
                    <tr>
                        <td>Billing State</td>
                        <td>
                            {{ form.cc_state }}
                        </td>
                    </tr>
                    <tr>
                        <td>Billing Zip</td>
                        <td>
                            {{ form.cc_zip }}
                        </td>
                    </tr>
                    <tr>
                        <td>Credit Card Number</td>
                        <td>
                            {{ form.cc_number }}
                        </td>
                    </tr>
                    <tr>
                        <td>Credit Card Expiration</td>
                        <td>
                            {{ form.cc_exp_mo }} / {{ form.cc_exp_yr }}
                        </td>
                    </tr>
                    <tr>
                        <td>CVV</td>
                        <td>
                            {{ form.cc_cvv }}
                        </td>
                    </tr>
                    <tr>
                        <td>Credit Card Bank Phone</td>
                        <td>
                            {{ form.cc_phone }}
                        </td>
                    </tr>
                    <tr>
                        <td>Personal Message</td>
                        <td>
                            {{ form.message }}
                        </td>
                    </tr>
                    <tr class="smallprint">
                        <td></td>
                        <td>
                            <small class="subtext">
                                This greeting (100 characters max) will appear on the gift certificate.
                            </small>
                        </td>
                    </tr>

                    <tr class="buttons">
                        <td></td>
                        <td>
                            <button type="submit" name="payment_btn" class="btn reserve-gift-complete-btn">Buy Gift Certificate</button>
                            <div class="spinner next-form-spinner payment-spinner"></div>
                        </td>
                    </tr>
                </table>

            </div>

            {% with hidden="hidden" form_id="reservation_payment_error" %}
                {% include "global_includes/form_errors.html" %}
            {% endwith %}

        </form>
    {% endblock %}

    </div>

{% endblock %}
