{% extends "front_site/base.html" %}
{% load bbcode_tags %}

{% block content %}
<div class="l-container">
<div class="well">
    <div class='section-header'>News</div>

    <cfquery name="News" datasource="#FDSN#" cachedWithin="#tMin#">
        SELECT newsid,stamp,thenews,subject FROM News
        <cfif IsDefined("URL.newsid") AND IsNumeric(URL.newsid)>
            WHERE newsid = <CFQUERYPARAM value="#URL.newsid#" CFSQLType="CF_SQL_NUMERIC">
        </cfif>
        ORDER BY stamp DESC
        LIMIT 10
    </cfquery>

    <cfoutput query="News">
    {% for news_item in news_items %}
    <div class="news">
        <h4><a href="news.cfm?newsid=#newsid#">{{ news_item.created_at|date:"n/d/Y" }} - {{ news_item.subject }}</a></h4>
        <p>
            {{ news_item.body|bbcode|safe }}
        </p>
    </div>
    {% endfor %}
    </cfoutput>

    <cfif IsDefined("URL.newsid") AND IsNumeric(URL.newsid)>
    <p><a href="{% url "news" %}">View all news</a></p>
    </cfif>

</div>
</div>
{% endblock %}
