{% extends "front_site/base.html" %}

{% block content %}
<div class="l-container">
<div class="well">
    <div class='section-header'>Privacy Policy</div>

<p>This Privacy Policy ("Policy") describes how and when Performance Rentals, Inc. ("PRI") collects, uses and shares your information when you use our
Services. PRI receives your information through our website, servers, code, email notifications and applications (collectively, the "Services"). For
example, you send us information when you use our Services on the web, from an email, or via the PRI iOS app. When using any of our Services you consent
to the collection, transfer, storage, disclosure, and use of your information described in this Privacy Policy.</p>

<p>You authorize us to use your information in, and as a result to transfer it to and store it in, the United States of America. Privacy and data protection
laws in the United States may vary from the laws in the country where you live.</p>

<p>If you have any questions or comments about this Privacy Policy, you may contact us at netops@performancerentals.us.</p>

<p class="bold">Information We Collect and Use</p>

<p class="bold">Account Information</p>
<p>When you create or edit an account, you provide some personal information, such as your name, password, email address, date of birth and other
information we require to process a rental application.</p>

<p class="bold">Log Data</p>
<p>When you use our Services, we may receive information ("Log Data") such as your IP address, browser type, operating system, the referring web page,
cookie information, and pages visited. We receive Log Data when you interact with our Services, for example, when you visit our website, sign in to our
Services, or interact with our email notifications. We may also receive Log Data when you click on, view or interact with links on our Services,
including links to third-party sites. PRI uses Log Data to provide, understand, and improve our Services. We delete Log Data or remove any common account
identifiers, such as your username, IP address or email address, after a maximum of 30 days. </p>

<p class="bold">Cookies</p>
<p>Like many websites, we use cookies and similar technologies to collect additional website usage data and to improve our Services. A cookie is a small
data file that is transferred to your computer or mobile device. PRI may use both session cookies and persistent cookies to better understand how you
interact with our Services, to monitor aggregate usage by our users and web traffic routing on our Services, and to customize and improve our Services.
Although most web browsers automatically accept cookies, some browsers' settings can be modified to decline cookies or alert you when a website is
attempting to place a cookie on your computer. However, some Services may not function properly if you disable cookies, such as logging in to your account.</p>

<p class="bold">Information Sharing and Disclosure </p>

<p>We do not disclose any stored information to any third party whatsoever, with the exception of: complying with legal requests for information from law
enforcement agencies when it is reasonably necessary to comply with a law, regulation, legal process or US government request; to protect the safety of
any person; to address fraud, abuse, security or technical issues; or to protect PRI's rights or property. However, nothing in this Privacy Policy is
intended to limit any legal defenses or objections that you may have to a third party's request to disclose your information, including a government
agency.</p>

<p class="bold">Accessing and Modifying Your Personal Information </p>

<p>If you are a registered user of our Services, we provide you with tools and account settings to access, correct, delete, or modify the personal
information you provided to us and associated with your account. </p>

<p>You can also permanently delete your PRI account by sending a request to netops@performancerentals.us. You will be required to verify your identity
in order to delete your account. </p>

<p class="bold">Changes to this Policy</p>

<p>We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be
at http://performance.rentals/privacy.cfm. If we make a change to this policy that, at our sole discretion, is material, we will notify you via an
email to the email address associated with your account. By continuing to access or use the Services after those changes become effective, you agree
to be bound by the revised Privacy Policy. </p>

<p>Effective: May 1, 2016</p>

</div>
</div>
{% endblock %}
