{% extends "front_site/base.html" %}

{% block page_title %}Terms & Conditions{% endblock %}

{% block content %}

    <p>These Terms of Service ("Terms") govern your access to and use of our ("Performance Rentals, Inc. herein referred to as PRI") Services, including
    our various websites, email notifications, applications, servers, environments, APIs and code (collectively, the "Services"), and any information,
    text, graphics, photos or other materials uploaded, downloaded or appearing on the Services (collectively referred to as "Content"). Your access
    to and use of the Services are conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to
    be bound by these Terms. </p>

    <p class="bold">1. Basic Terms</p>

    <p>You are responsible for your use of the Services, for any Content you post to the Services, and for any consequences thereof. You may use the Services
    only if you can form a binding contract with PRI and are not a person barred from receiving services under the laws of the United States or other
    applicable jurisdiction. You may use the Services only in compliance with these Terms and all applicable local, state, national, and international laws,
    rules and regulations.</p>

    <p>The form and nature of the Services that PRI provides may change from time to time without prior notice to you. In addition, PRI may stop (permanently
    or temporarily) providing the Services (or any features within the Services) to you or to users generally and may not be able to provide you with prior
    notice. We also retain the right to create limits on use and storage at our sole discretion at any time without prior notice to you.</p>

    <p class="bold">2. Privacy</p>

    <p>Any information that you or other users provide to PRI is subject to our Privacy Policy, which governs our collection and use of your information.
    You understand that through your use of the Services you consent to the collection and use (as set forth in the <a href="{% url "privacy-policy" %}">Privacy Policy</a>) of this information,
    including the transfer of this information to the United States and/or other countries for storage, processing and use by PRI. As part of providing you
    the Services, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are
    considered part of the Services and your account, which you may not be able to opt-out from receiving.</p>

    <p class="bold">3. Passwords</p>

    <p>You are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password. We
    encourage you to use "strong" passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account. PRI
    cannot and will not be liable for any loss or damage arising from your failure to comply with the above.</p>

    <p class="bold">4. Content on the Services</p>

    <p>All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. We may not monitor
    or control the Content posted via the Services and, we cannot take responsibility for such Content. Any use or reliance on any Content or materials posted
    via the Services or obtained by you through the Services is at your own risk.</p>

    <p>We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via
    the Services or endorse any opinions expressed via the Services. You understand that by using the Services, you may be exposed to Content that might be
    offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. Under no
    circumstances will PRI be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or
    damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Services or broadcast
    elsewhere.</p>

    <p class="bold">5. Your Rights</p>

    <p>You retain your rights to any Content you submit, post or display on or through the Services. By submitting, posting or displaying Content on or through
    the Services, you grant us a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify,
    publish, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed).</p>

    <p class="bold">6. Your License To Use the Services</p>

    <p>PRI gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software that is provided to you by PRI as part
    of the Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by PRI, in the manner
    permitted by these Terms.</p>

    <p class="bold">7. PRI Rights</p>

    <p>All right, title, and interest in and to the Services (excluding Content provided by users) are and will remain the exclusive property of PRI. Nothing
    in the Terms gives you a right to use the PRI name or any of the PRI trademarks, logos, domain names, and other distinctive brand features. Any feedback,
    comments, or suggestions you may provide regarding PRI, or the Services is entirely voluntary and we will be free to use such feedback, comments or
    suggestions as we see fit and without any obligation to you.</p>

    <p class="bold">8. Restrictions on Content and Use of the Services</p>

    <p>We reserve the right at all times (but will not have an obligation) to remove or refuse to distribute any Content on the Services, to suspend or
    terminate users, and to reclaim usernames without liability to you. We also reserve the right to access, read, preserve, and disclose any information as
    we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce the Terms, including
    investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user
    support requests, or (v) protect the rights, property or safety of PRI, its users and the public.</p>

    <p>You may not do any of the following while accessing or using the Services: (i) access, tamper with, or use non-public areas of the Services, PRI's
    computer systems, or the technical delivery systems of PRI's providers; (ii) probe, scan, or test the vulnerability of any system or network or breach
    or circumvent any security or authentication measures; (iii) access or search or attempt to access or search the Services by any means (automated or
    otherwise) other than through our currently available, published interfaces that are provided by PRI (and only pursuant to the applicable terms and
    conditions), unless you have been specifically allowed to do so in a separate agreement with PRI; (iv) forge any TCP/IP packet header or any part of
    the header information in any email or posting, or in any way use the Services to send altered, deceptive or false source-identifying information; or
    (v) interfere with, or disrupt, (or attempt to do so), the access of any user, host or network, including, without limitation, sending a virus,
    overloading, flooding, spamming, mail-bombing the Services, or by scripting the creation of Content in such a manner as to interfere with or create an
    undue burden on the Services. </p>

    <p class="bold">9. Copyright Claims</p>

    <p>PRI respects the intellectual property rights of others and expects users of the Services to do the same. We will respond to notices of alleged
    copyright infringement that comply with applicable law and are properly provided to us. If you believe that your Content has been copied in a way that
    constitutes copyright infringement, please provide us with the following information: (i) a physical or electronic signature of the copyright owner or a
    person authorized to act on their behalf; (ii) identification of the copyrighted work claimed to have been infringed; (iii) identification of the material
    that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and
    information reasonably sufficient to permit us to locate the material; (iv) your contact information, including your address, telephone number, and an
    email address; (v) a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the
    copyright owner, its agent, or the law; and (vi) a statement that the information in the notification is accurate, and, under penalty of perjury, that
    you are authorized to act on behalf of the copyright owner.</p>

    <p>We reserve the right to remove Content alleged to be infringing without prior notice, at our sole discretion, and without liability to you. </p>

    <p class="bold">10. Ending These Terms</p>

    <p>The Terms will continue to apply until terminated by either you or PRI as follows.</p>

    <p>You may end your legal agreement with PRI at any time for any or no reason by deactivating your accounts and discontinuing your use of the Services.
    You do not need to specifically inform PRI when you stop using the Services. If you stop using the Services without deactivating your accounts, your
    accounts may be deactivated due to prolonged inactivity under our Inactive Account Policy.</p>

    <p>We may suspend or terminate your accounts or cease providing you with all or part of the Services at any time for any or no reason, including, but not
    limited to, if we reasonably believe: (i) you have violated these Terms or the PRI AUP, (ii) you create risk or possible legal exposure for us; or (iii)
    our provision of the Services to you is no longer commercially viable. We will make reasonable efforts to notify you by the email address associated with
    your account or the next time you attempt to access your account.</p>

    <p>In all such cases, the Terms shall terminate, including, without limitation, your license to use the Services, except that the following sections shall
    continue to apply: 4, 5, 7, 8, 10, 11, and 12.</p>

    <p>Nothing in this section shall affect PRI's rights to change, limit or stop the provision of the Services without prior notice, as provided above in
    section 1.</p>

    <p class="bold">11. Disclaimers and Limitations of Liability</p>

    <p>The Services are Available "AS-IS". Your access to and use of the Services or any Content are at your own risk. You understand and agree that the
    Services are provided to you on an "AS IS" and "AS AVAILABLE" basis. Without limiting the foregoing, to the maximum extent permitted under applicable
    law, PRI DISCLAIMS ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.</p>

    <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, PRI SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR
    ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM
    (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT
    LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; OR (iv) UNAUTHORIZED
    ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT.</p>

    <p>IN NO EVENT SHALL THE AGGREGATE LIABILITY OF PRI EXCEED THE GREATER OF ONE U.S. DOLLAR (U.S. $1.00).</p>

    <p>THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR
    OTHERWISE, AND WHETHER OR NOT THE PRI ENTITIES HAVE BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO
    HAVE FAILED OF ITS ESSENTIAL PURPOSE.</p>

    <p class="bold">12. General Terms</p>

    <p>A. Waiver and Severability<br />
    The failure of PRI to enforce any right or provision of these Terms will not be deemed a waiver of such right or provision. In the event that any
    provision of these Terms is held to be invalid or unenforceable, then that provision will be limited or eliminated to the minimum extent necessary,
    and the remaining provisions of these Terms will remain in full force and effect.</p>

    <p>B. Controlling Law and Jurisdiction<br />
    These Terms and any action related thereto will be governed by the laws of the State of New York without regard to or application of its conflict of law
    provisions or your state or country of residence. All claims, legal proceedings or litigation arising in connection with the Services will be brought
    solely in the federal or state courts located in Rockland County, New York, United States, and you consent to the jurisdiction of and venue in such
    courts and waive any objection as to inconvenient forum.</p>

    <p>C. Entire Agreement<br />
    These Terms, including the PRI AUP for the PRI Services, and our Privacy Policy are the entire and exclusive agreement between PRI and you regarding
    the Services, and these Terms supersede and replace any prior agreements between PRI and you regarding the Services.</p>

    <p>We may revise these Terms from time to time, the most current version will always be at performance.rentals/terms.cfm. If the revision, in our sole
    discretion, is material relevant to you, we will notify you via an e-mail to the email associated with your account. By continuing to access or use the
    Services after those revisions become effective, you agree to be bound by the revised Terms.</p>

{% endblock %}
