body {
	font-size: 14px;
	font-family: sans-serif;
	background-image: url('images/contractbg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
}

#contbox {
	width: 100%;
}

#header {
	width: 100%;
	margin-bottom: 5px;
}

table.header {
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #000;
}

td.headleft {
	width: 80%;
	text-align: left;
	vertical-align: bottom;
	font-size: 12px;
}

td.headright {
	width: 20%;
	text-align: left;
	vertical-align: bottom;
	font-size: 12px;
}

table.info {
	padding: 1px;
	margin: 1px;
	font-size: 10px;
}

td.label {
	text-align:right;
	padding: 0;
}

td.data {
	text-align:left;
	padding: 0;
}

table.checkout {
	font-size: 10px;
	line-height: 14px;
	margin: 0;
	padding: 0;
}

#contleft {
	width: 225px;
	float: left;
	font-size: 11px;
	line-height: 13px;
}

#contright {
	width: 350px;
	float: right;
	font-size: 11px;
	line-height: 13px;
	text-align: right;
}

#contmain {
	width: 100%;
	font-size: 12px;
}


img.logoimg {
	width: 160px;
	padding: 2px;
}

span.ul {
	text-decoration: underline;
}