{% extends "backoffice/damage/base.html" %}

{% block content %}

    {% if damage %}
        <h2>Edit Damage</h2>
    {% else %}
        <h2>Add Damage</h2>
    {% endif %}

    {% include "backoffice/includes/form_error.html" %}

    {% if damage %}
        <form method="POST" action="{% url "backoffice:damage-detail" pk=damage.id %}">
    {% else %}
        <form method="POST" action="{% url "backoffice:damage-create" %}">
    {% endif %}

        <table class="inputform damage">
            <tr>
                <td>Vehicle</td>
                <td>
                    {{ form.vehicle }}
                </td>
            </tr>
            <tr>
                <td>Title</td>
                <td>
                    {{ form.title }}
                </td>
            </tr>
            <tr>
                <td>Damaged On</td>
                <td>
                    {{ form.damaged_on }}
                </td>
            </tr>
            <tr>
                <td>Repaired?</td>
                <td>
                    {{ form.is_repaired }}
                </td>
            </tr>
            <tr>
                <td>Repaired On</td>
                <td>
                    {{ form.repaired_on }}
                </td>
            </tr>
            <tr>
                <td>Repair Cost</td>
                <td class="currency">
                    <span class="currency-prefix">$</span>{{ form.cost }}
                </td>
            </tr>
            <tr>
                <td>Fault</td>
                <td>
                    {{ form.fault }}
                </td>
            </tr>
            <tr>
                <td>Amount Billed Customer</td>
                <td class="currency">
                    <span class="currency-prefix">$</span>{{ form.customer_billed_amount }}
                </td>
            </tr>
            <tr>
                <td>Damage Paid For?</td>
                <td>
                    {{ form.is_paid }}
                </td>
            </tr>
            <tr>
                <td>In-House Repair?</td>
                <td>
                    {{ form.in_house_repair }}
                </td>
            </tr>
            <tr>
                <td>Amount Customer Paid</td>
                <td class="currency">
                    <span class="currency-prefix">$</span>{{ form.customer_paid_amount }}
                </td>
            </tr>
            <tr>
                <td class="align-top">Notes</td>
                <td>
                    {{ form.notes }}
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <button class="btn" type="submit" name="edit">
                        {% if damage %}
                            Edit
                        {% else %}
                            Add
                        {% endif %}
                    </button>
                    {% if damage %}
                        <button
                            class="btn delete"
                            type="submit"
                            name="delete"
                            onclick="return confirmDelete(this.form, '{% url "backoffice:damage-delete" pk=damage.id %}', 'damage')"
                        >
                            Delete Damage
                        </button>
                    {% endif %}
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>

{% endblock %}