{% extends "backoffice/damage/base.html" %}

{% block content %}

    {{ vehicle_selector_form.select_vehicle }}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
        <tr>
            <th col="id" default-sort="desc">ID</th>
            <th col="vehicle__make">Vehicle</th>
            <th>Description</th>
            <th>Damaged On</th>
            <th>Repaired</th>
        </tr>
        {% for damage in damage_list %}
            <tr class="clickable click-to-edit" destination="{% url "backoffice:damage-detail" pk=damage.id %}">
                <td><a href="{% url "backoffice:damage-detail" pk=damage.id %}">{{ damage.id }}</a></td>
                <td>{{ damage.vehicle.vehicle_name }}</td>
                <td>{{ damage.title }}</td>
                <td>{{ damage.damaged_at|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{% if damage.is_repaired %}&#10003;{% endif %}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
