{% extends "backoffice/customer/base.html" %}

{% block content %}

    {% if customer %}
        <h2>Edit Customer</h2>
    {% else %}
        <h2>Add Customer</h2>
    {% endif %}

    {% if customer and customer.has_mappable_address %}
        <iframe
            id="map"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?key={{ google_maps_api_key }}
            &q={{ customer.mappable_address|urlencode }}">
        </iframe>
    {% endif %}

    {% include "backoffice/includes/form_error.html" %}

    {% if customer %}
        <form method="POST" action="{% url "backoffice:customer-detail" pk=customer.id %}">
    {% else %}
        <form method="POST" action="{% url "backoffice:customer-create" %}">
    {% endif %}

        <table class="inputform customers">
            <tr>
                <td>First Name</td>
                <td>
                    {{ form.first_name }}
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    {{ form.last_name }}
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    {{ form.email }}
                </td>
            </tr>
            <tr>
                <td>Receive Email</td>
                <td>
                    {{ form.receive_email }}
                </td>
            </tr>
            <tr>
                <td>Customer Since</td>
                <td>{{ customer.created_at|date:"m/d/Y" }}</td>
            </tr>
            <tr>
                <td>Number of Rentals</td>
                <td><span class="past-rentals">{{ customer.rentals_count }}</span></td>
            </tr>
            {% if customer.registration_ip %}
                <tr>
                    <td>Reg IP</td>
                    <td>{{ customer.registration_ip }} {% if customer.ip_country %}(Country: {{ customer.ip_country }}){% endif %}</td>
                </tr>
            {% endif %}
            <tr>
                <td>Address Line 1</td>
                <td>
                    {{ form.address_line_1 }}
                </td>
            </tr>
            <tr>
                <td>Address Line 2</td>
                <td>
                    {{ form.address_line_2 }}
                </td>
            </tr>
            <tr>
                <td>City</td>
                <td>
                    {{ form.city }}
                </td>
            </tr>
            <tr>
                <td>State</td>
                <td>
                    {{ form.state }}
                </td>
            </tr>
            <tr>
                <td>ZIP</td>
                <td>
                    {{ form.zip }}
                </td>
            </tr>
            <tr>
                <td>Home Phone</td>
                <td>
                    {{ form.home_phone }}
                </td>
            </tr>
            <tr>
                <td>Work Phone</td>
                <td>
                    {{ form.work_phone }}
                </td>
            </tr>
            <tr>
                <td>Mobile Phone</td>
                <td>
                    {{ form.mobile_phone }}
                </td>
            </tr>
            <tr>
                <td>Fax</td>
                <td>
                    {{ form.fax }}
                </td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>
                    {{ form.date_of_birth }}
                </td>
            </tr>
            <tr>
                <td>License Number</td>
                <td>
                    {{ form.license_number }}
                </td>
            </tr>
            <tr>
                <td>License State</td>
                <td>
                    {{ form.license_state }}
                </td>
            </tr>
            <tr>
                <td class="align-top">License History</td>
                <td>
                    {{ form.license_history }}
                </td>
            </tr>
            <tr>
                <td>Insurance Company</td>
                <td>
                    {{ form.insurance_company }}
                </td>
            </tr>
            <tr>
                <td>Insurance Policy Number</td>
                <td>
                    {{ form.insurance_policy_number }}
                </td>
            </tr>
            <tr>
                <td>Insurance Policy Telephone</td>
                <td>
                    {{ form.insurance_company_phone }}
                </td>
            </tr>
            <tr>
                <td>Insurance Coverage</td>
                <td>
                    {{ form.coverage_verified }}
                </td>
            </tr>
            <tr>
                <td class="align-top">Remarks</td>
                <td>
                    {{ form.remarks }}
                </td>
            </tr>
            <tr>
                <td>Drivers' Club</td>
                <td>
                    {{ form.drivers_club }}
                </td>
            </tr>
            <tr>
                <td>Driver Skill</td>
                <td>
                    {{ form.driver_skill }}
                </td>
            </tr>
            <tr>
                <td>Customer Rating</td>
                <td>
                    {{ form.rating }}
                </td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>
                    {{ form.discount_pct }}
                    <small>(Percentage, deducted from all rentals for customer)</small>
                </td>
            </tr>

            <tr class="divider">
                <td colspan="2">
                    <h3>Billing Info</h3>
                    <p class="subtext">Can be left blank for creation.</p>
                </td>
            </tr>

            <tr>
                <td>Stripe customer ID</td>
                <td>
                    <a href="https://dashboard.stripe.com/customers/{{ customer.stripe_customer }}" target="_blank">
                        {{ customer.stripe_customer }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Credit Card (1) Stripe ID</td>
                <td>
                    {{ customer.card_1.stripe_card }}
                </td>
            </tr>
            <tr>
                <td>Credit Card (1) Number</td>
                <td>
                    {{ form.cc_number }}
                    <small><a href="{% url "backoffice:charge-create" %}?customer_id={{ customer.id }}&card=1">Stripe charge</a></a></small>
                </td>
            </tr>
            <tr>
                <td>Credit Card (1) Expiration</td>
                <td>
                    {{ form.cc_exp_mo }} / {{ form.cc_exp_yr }}
                </td>
            </tr>
            <tr>
                <td>Credit Card (1) CVV</td>
                <td>
                    {{ form.cc_cvv }}
                </td>
            </tr>
            <tr>
                <td>Credit Card (1) Bank Telephone</td>
                <td>
                    {{ form.cc_phone }}
                </td>
            </tr>

            <tr class="divider">
                <td colspan="2">
                    <h3>Second Credit Card</h3>
                    <p class="subtext">(Optional)</p>
                </td>
            </tr>

            <tr>
                <td>Credit Card (2) Stripe</td>
                <td>
                    {{ customer.card_2.stripe_card }}
                </td>
            </tr>
            <tr>
                <td>Credit Card (2) Number</td>
                <td>
                    {{ form.cc2_number }}
                    <small><a href="{% url "backoffice:charge-create" %}?customer_id={{ customer.id }}&card=2">Stripe charge</a></a></small>
                </td>
            </tr>
            <tr>
                <td>Credit Card (2) Expiration</td>
                <td>
                    {{ form.cc2_exp_mo }} / {{ form.cc2_exp_yr }}
                </td>
            </tr>
            <tr>
                <td>Credit Card (2) CVV</td>
                <td>
                    {{ form.cc2_cvv }}
                </td>
            </tr>
            <tr>
                <td>Credit Card (2) Bank Telephone</td>
                <td>
                    {{ form.cc2_phone }}
                </td>
            </tr>

            <tr class="divider">
                <td colspan="2">
                    <h3>Music Prefs</h3>
                    <p class="subtext">(Optional)</p>
                </td>
            </tr>

            <tr>
                <td>Favorite Genre</td>
                <td>
                    {{ form.music_genre }}
                </td>
            </tr>
            <tr>
                <td>Favorite Artist / Composer</td>
                <td>
                    {{ form.music_favorite }}
                </td>
            </tr>

            <tr class="divider">
                <td colspan="2">
                    <h3>Front Site Login</h3>
                </td>
            </tr>

            <tr>
                <td>Ban</td>
                <td>
                    {{ form.ban }}
                </td>
            </tr>
            <tr>
                <td>Password</td>
                {% if customer.user %}
                    <td>
                        <a href="{% url "admin:auth_user_password_change" id=customer.user.id %}">Change password</a>
                        <input type="hidden" id="id_password" name="password" value="{{ customer.user.password }}" />
                    </td>
                {% else %}
                    <td>{{ form.password }}</td>
                {% endif %}
            </tr>

            <tr>
                <td></td>
                <td>
                    <button class="btn" type="submit" name="edit">
                        {% if customer %}
                            Edit
                        {% else %}
                            Add
                        {% endif %}
                    </button>
                    {% if customer %}
                        <button class="btn" type="button" name="clone" onclick="promptCloneCustomer();">Clone</button>
                        <button
                            class="btn delete"
                            type="submit"
                            name="delete"
                            onclick="return confirmDelete(this.form, '{% url "backoffice:customer-delete" pk=customer.id %}', 'customer')"
                        >
                            Delete Customer
                        </button>
                    {% endif %}
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>

    <div class="dialog" id="dialog_clone_driver" title="Clone Customer">
        <p>
            Creating a clone of <strong>{{ customer.full_name }}</strong>.
        </p>

        <form>
            <table class="inputform">
                <tr>
                    <td>First Name</td>
                    <td>
                        {{ clone_form.clone_first_name }}
                        <p class="form-error" id="error_clone_first_name"></p>
                    </td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>
                        {{ clone_form.clone_last_name }}
                        <p class="form-error" id="error_clone_last_name"></p>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        {{ clone_form.clone_email }}
                        <p class="form-error" id="error_clone_email"></p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        {{ clone_form.clone_duplicate_license }} <label for="id_clone_duplicate_license">Clone driver's license</label>
                    </td>
                </tr>
            </table>
            <input type="hidden" id="clone_customer_id" value="{{ customer.id }}" />
        </form>
    </div>

    <div class="dialog" id="dialog_past_rentals" title="Past Rentals">
        <p>
            These are all prior rentals for {{ customer.full_name }}.
        </p>

        <table class="data">
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Vehicle</th>
                <th>Num. Days</th>
            </tr>
            {% for rental in customer.past_rentals %}
                <tr>
                    <td><a href="{% url "backoffice:rental-detail" pk=rental.id %}">{{ rental.id }}</a></td>
                    <td>{{ rental.out_date|date:"m/d/Y" }}</td>
                    <td>{{ rental.vehicle.vehicle_name }}</td>
                    <td>{{ rental.num_days }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}