{% extends "backoffice/customer/base.html" %}

{% block content %}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
         <tr>
            <th col="id" default-sort="desc">ID</th>
            <th col="lname" colspan="2">Name</th>
            <th></th>
            <th col="email">Email</th>
            <th col="rentednum" default-sort="desc">Num. Rentals</th>
            <th col="rating" default-sort="desc">Rating</th>
            <th>Drivers' Club</th>
            <th col="createdon" default-sort="desc">Created</th>
        </tr>
        {% for customer in customer_list %}
            <tr class="clickable click-to-edit" destination="{% url "backoffice:customer-detail" pk=customer.id %}">
            <td><a href="{% url "backoffice:customer-detail" pk=customer.id %}">{{ customer.id }}</a></td>
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.last_name}}</td>
            <td><a href="reservations.cfm?edit=1&customerid=#customerid#"><span class="ui-icon ui-icon-clipboard" /></a></td>
            <td><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></td>
            <td>{{ customer.rentals_count }}</td>
            <td>{{ customer.rating|default_if_none:"" }}</td>
            <td>
                {{ customer.get_drivers_club_display }}
            </td>
            <td>{{ customer.created_at|date:"m/d/Y" }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
