{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>Performance Rentals Customer Portal</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static "customer/css/style.css" %}">
    <link rel="stylesheet" href="{% static "customer/css/jquery-ui.css" %}">
    <link rel="stylesheet"href="{% static "customer/css/ihover.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Orbitron|Hammersmith+One|Rambla|Neucha|Timmana' rel='stylesheet' type='text/css'>
    <script src="{% static "customer/js/jquery.js" %}"></script>
    <script src="{% static "customer/js/jquery.payment.js" %}"></script>
    <script src="{% static "customer/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "customer/js/main.js" %}"></script>
    </head>
<body>

<cfset selectedPage="reservations">

<table class="layout">
    <tr>
        <td class="sidebar">
            {% include "customer_portal/includes/sidebar.html" %}
        </td>
        <td class="main">

            <div class="wrapper">

            {% include "customer_portal/includes/content_header.html" %}

            <div class="well">
                <div class='section-header'>{% block page_title %}{% endblock %}</div>

                <div class="form-page-container">
                    {% block content %}{% endblock %}
                </div>
            </div>

            <div class="push"></div>
            </div>

            {% include "customer_portal/includes/footer.html" %}

        </td>
    </tr>
</table>

<div id="delivery_pricing" style="display: none;">
    <p>We deliver our vehicles to most locations within the New York City tri-state area. Delivery rates are as follows:</p>
    <table class="small-item-data delivery-pricing" style="margin-left: 0px;">
        <tr>
            <td>Rockland County</td>
            <td>Free</td>
       </tr>
       <tr>
            <td>Manhattan*</td>
            <td>Free</td>
       </tr>
       <tr>
            <td>Westchester Airport</td>
            <td>Free</td>
       </tr>
       <tr>
            <td>Orange County (south of Newburgh)</td>
            <td>Free</td>
       </tr>
       <tr>
            <td>Northern NJ / Bergen / Passaic County</td>
            <td>Free</td>
       </tr>
       <tr>
            <td>Metro NYC / JFK / LGA*</td>
            <td>$99 each way</td>
       </tr>
       <tr>
            <td>Long Island / Connecticut</td>
            <td>$139 each way</td>
       </tr>
       <tr>
            <td>South NJ / Philadelphia</td>
            <td>$159 each way</td>
       </tr>
       <tr>
            <td>Other areas</td>
            <td>$2.00 / mile</td>
       </tr>
    </table>
    <p>
* Due to the nature of Manhattan and the NYC metro area, some locations may be difficult for us to deliver a vehicle due to parking or
standing regulations. In such case we may pick you up and transport you to a suitable location at which to conduct the vehicle
familiarization process and any required paperwork.
    </p>
</div>

</body>
</html>
