{% extends "customer_portal/base.html" %}

{% block page_title %}Change Password{% endblock %}

{% block content %}
    <p class="reservation-info">
    <p>
    Change your password to one of your choosing here. Please select a secure password, meaning one with a combination of capital and lowercase letters,
    numbers, and symbols, and at least 6 characters long.
    </p>
    </p>

    <div class="form-page-container">

        {% if form.errors %}
        <cfoutput>
        <cfif Len(formError) GT 0>
        <div class="exception" id="customer_form_error">
            <h3>An error occurred</h3>
            {% for field, error in form.errors.items %}
                <p class="alert-message">{{ error }}</p>
            {% endfor %}
        </div>
        </cfif>
        </cfoutput>
        {% endif %}

        <div class="form-page" page="card1">

        <form method="POST" name="password_form" action="{% url "customer_portal:password" %}" autocomplete="on">

            <cfoutput>
            <table class="inputform rentalinfo">

            <tr>
                <td>Password</td>
                <td>
                    {{ form.password }}
                    <cfinput name="password" type="password" maxlength="30" class="#StructKeyExists(fieldErrors,"password") ? 'field-error' : ''#" />
                </td>
            </tr>
            <tr>
                <td>Repeat Password</td>
                <td>
                    {{ form.password_repeat }}
                    <cfinput name="password_repeat" type="password" maxlength="30" class="#StructKeyExists(fieldErrors,"password_repeat") ? 'field-error' : ''#" />
                </td>
            </tr>

            <tr class="buttons">
                <td></td>
                <td>
                    <button name="submit" type="submit" class="btn">Submit</button>
                </td>
            </tr>

            </table>
            </cfoutput>

            {% csrf_token %}
        </form>

        </div>

    </div>
{% endblock %}
