{% extends "customer_portal/base.html" %}

<!--- If a form was submitted, the user had JS turned off, so we have to process the sequential logic. --->
<cfset fieldErrors = StructNew()>
<cfset formError = "">
<cfif IsDefined("Form.password")>

    <!--- Validate the first page (identity and rental date/specs) --->
    <cfset ret = StructAppend(Form, Variables)>
    <cfinvoke
        component="cfc/cassidy"
        method="changePassword"
        returnVariable="PasswordResult"
        argumentCollection="#Form#">
    </cfinvoke>
    <cfset fieldErrors = PasswordResult.fieldErrors>

    <!--- Push to customer portal if successful --->
    <cfif PasswordResult.success>
        <cfset redirectUrl = #OnCustSite# & "password.cfm?done=1">
        <cflocation url=#redirectUrl#>
    </cfif>

    <cfset Customer = Form>
    <cfset formError = NOT PasswordResult.success ? PasswordResult.error : "">

<!--- If the user has JS on, pull a blank Customer object to populate the form --->
<cfelse>

    <cfquery name="Customer" datasource="#DSN#">
        SELECT fname,lname,addr,city,state,zip,hphone,wphone,mphone,dob,email,licenseno,licensestate,licensehist,insco,inspolnum,inscotel,coverage,rentednum,
        ccnum,ccexpyr,ccexpmo,cccvv,cctel,cc2num,cc2expyr,cc2expmo,cc2cvv,cc2tel,remarks,rating,driverskill,discount,musicgenre,musicfav,regip,fax,createdon,firsttime,
        DriversClub,nomail,ban,reglong,reglat,surveydone,tkt
        FROM Customers
        WHERE customerid = <CFQUERYPARAM value="#YourID.customerid#" CFSQLType="CF_SQL_NUMERIC">
    </cfquery>

    <!--- Decrypt encrypted fields --->
    <cftry>
        <cfset password_dec = Decrypt(CustFront.password,globalkey,'AES','hex')>
        <cfcatch type="Any">
            <cfset password_dec = "">
        </cfcatch>
    </cftry>
    <cftry>
        <cfset addr_dec = Decrypt(Customer.addr,globalkey,'AES','hex')>
        <cfcatch type="Any">
            <cfset addr_dec = "">
        </cfcatch>
    </cftry>
    <cftry>
        <cfset ccnum_dec = Decrypt(Customer.ccnum,globalkey,'AES','hex')>
        <cfcatch type="Any">
            <cfset ccnum_dec = "">
        </cfcatch>
    </cftry>
    <cftry>
        <cfset cc2num_dec = Decrypt(Customer.cc2num,globalkey,'AES','hex')>
        <cfcatch type="Any">
            <cfset cc2num_dec = "">
        </cfcatch>
    </cftry>

</cfif>

<cfset page = IsDefined("Form.page") ? Form.page : IsDefined("URL.page") ? URL.page : "">
<cfset page = ListContains("card1,card2",page) ? page : "card1">

<CFINCLUDE TEMPLATE="inc_lib.cfm">
<CFINCLUDE TEMPLATE="inc_header.cfm">
<title>Performance Rentals Customer Portal</title>
<CFINCLUDE TEMPLATE="inc_meta.cfm">
<CFINCLUDE TEMPLATE="inc_styles.cfm">
<CFINCLUDE TEMPLATE="inc_js.cfm">
</head>
<body>

<CFINCLUDE TEMPLATE="inc_states.cfm">
<cfset selectedPage="password">

<table class="layout">
<tr>
<td class="sidebar">
    <cfinclude template="inc_sidebar.cfm">
</td>
<td class="main">

    <div class="wrapper">

    <CFINCLUDE TEMPLATE="inc_contentheader.cfm">

    <div class="well">
        <div class='section-header'>{% block page_title %}Change Password{% endblock %}</div>

            {% block content %}
            <cfif IsDefined("URL.done")>

                <h2>Password Changed</h2>

                <p class="reservation-info">
                Your password has been updated.
                </p>

            <cfelse>

                <p class="reservation-info">
                <p>
                Change your password to one of your choosing here. Please select a secure password, meaning one with a combination of capital and lowercase letters,
                numbers, and symbols, and at least 6 characters long.
                </p>
                </p>

                <div class="form-page-container">

                    <cfoutput>
                    <cfif Len(formError) GT 0>
                    <div class="exception" id="customer_form_error">
                        <h3>An error occurred</h3>
                        <p class="alert-message">#formError#</p>
                    </div>
                    </cfif>
                    </cfoutput>

                    <div class="form-page" page="card1">

                    <form method="POST" name="password_form" action="{% url "customer_portal:password" %}" autocomplete="on">

                        <cfoutput>
                        <table class="inputform rentalinfo">

                        <tr>
                            <td>Password</td>
                            <td>
                                {{ form.password }}
                                <cfinput name="password" type="password" maxlength="30" class="#StructKeyExists(fieldErrors,"password") ? 'field-error' : ''#" />
                            </td>
                        </tr>
                        <tr>
                            <td>Repeat Password</td>
                            <td>
                                {{ form.password_repeat }}
                                <cfinput name="password_repeat" type="password" maxlength="30" class="#StructKeyExists(fieldErrors,"password_repeat") ? 'field-error' : ''#" />
                            </td>
                        </tr>

                        <tr class="buttons">
                            <td></td>
                            <td>
                                <button name="submit" type="submit" class="btn">Submit</button>
                            </td>
                        </tr>

                        </table>
                        </cfoutput>

                    </form>

                    </div>

                </div>

            </cfif>
            {% endblock %}

        </div>

        <div class="push"></div>
    </div>

    <CFINCLUDE TEMPLATE="inc_footer.cfm">

</td>
</tr>
</table>


</body>
</html>
