{% extends "customer_portal/home.html" %}

{% block nav_upcoming_reservations_selected %}selected{% endblock %}

{% block reservation_pane %}

    {% for reservation in upcoming_reservations %}
    <cfoutput query="RentalsUpcoming">
        <a href="reserve_confirm.cfm?confcode=#confcode#">
        <div class="reservation <cfif NOT InfoComplete>incomplete-info</cfif>">
            <div class="confcode">#confcode#</div>
            <table class="small-item-data">
                <tr>
                    <td>
                        <cfif delivery IS 1>
                            PRI Delivers Vehicle:
                        <cfelse>
                            Pick Up at PRI:
                        </cfif>
                    </td>
                    <td>#TimeFormat(dateout, "h:MM tt")# #DateFormat(dateout,"ddd MM/DD/YYYY")#</td>
                </tr>
                <tr>
                    <td>
                        <cfif delivery IS 1>
                            PRI Collects Vehicle:
                        <cfelse>
                            Due Back at PRI:
                        </cfif>
                    </td>
                    <td>#TimeFormat(dateback, "h:MM tt")# #DateFormat(dateback,"ddd MM/DD/YYYY")#</td>
                </tr>
                <tr>
                    <td></td>
                    <td>#numdays# day<cfif numdays IS NOT 1>s</cfif></td>
                </tr>
            </table>
            <p class="reservation-status">
                <cfif reservationid GT 0 AND status IS 0>
                    Unconfirmed
                <cfelseif (reservationid GT 0 AND status IS 1) OR (rentalid GT 0 AND status IS 1)>
                    Confirmed
                <cfelseif rentalid GT 0 AND status IS 2>
                    In Progress
                <cfelseif rentalid GT 0 AND status IS 3>
                    Complete
                </cfif>
            </p>
            <div class="vehiclepic-box">
                <img class="vehiclepic" src="#OnSite#images/#vehicleid#-thumb.jpg" />
                <span class="offer-title overlay-text bottom">#make# #model#</span>
            </div>
            <cfif InfoComplete>
                <cfif notes IS NOT "">
                    <div class="customer-notes">
                        #parseNewlines(notes)#
                    </div>
                </cfif>
            <cfelse>
                <div class="exception complete-info-prompt">
                    <h3>Action Required</h3>
                    <p>Please complete your information.</p>
                </div>
            </cfif>
        </div>
        </a>
    </cfoutput>
    {% endfor %}

    <cfif RentalsUpcoming.recordCount IS 0>
        <div class="no-records">No upcoming rentals</div>
    </cfif>

{% endblock %}