<h3>Inspection Outlines (Contract, 700x480)</h3>

{% if vehiclemarketing.inspection_image %}
    <img class="inspection" src="{{ vehiclemarketing.inspection_image.url }}" />
{% endif %}

<div class="upload-form" id="inspection_upload">
    <form method="POST" action="{% url "backoffice:vehicle-inspection" pk=vehiclemarketing.vehicle.id %}" enctype="multipart/form-data" id="inspection_form">
        {{ form.inspection_image }}
        <button type="submit" name="upload_inspection" class="btn">Upload</button>
        <div class="spinner floatright" id="spinner-inspection" method="uploadInspection"></div>
        {% csrf_token %}
    </form>
</div>

