<h3>Mobile App Thumbnail (80x80)</h3>

{% if vehiclemarketing.mobile_thumbnail_image %}
    <img class="mobilethumb" src="{{ vehiclemarketing.mobile_thumbnail_image.url }}" />
{% endif %}

<div class="upload-form" id="inspection_upload">
    <form method="POST" action="{% url "backoffice:vehicle-mobile-thumb" pk=vehiclemarketing.vehicle.id %}" enctype="multipart/form-data" id="mobilethumb_form">
        {{ form.mobile_thumbnail_image }}
        <button type="submit" name="upload_mobilethumb" class="btn">Upload</button>
        <div class="spinner floatright" id="spinner-mobilethumb" method="uploadMobileThumb"></div>
        {% csrf_token %}
    </form>
</div>

