{% comment %}
<CFIF NOT (Login IS False AND YourID.adminid GT 0)>
    Invalid access.
    <CFABORT>
</CFIF>

<cfif NOT (IsDefined("URL.vehicleid") AND IsNumeric(URL.vehicleid))>
    Invalid vehicle ID.
    <cfabort>
</cfif>
{% endcomment %}

<h3>Showcase (front page, 1600x800)</h3>

{% if vehiclemarketing.showcase_image %}
<cfif FileExists("#ThumbUploads##vehicleid#-showcase.jpg")>
    <cfoutput>
    <CFSET unix_time = DateDiff("s", CreateDate(1970,1,1), Now()) />
    <img class="showcase" src="{{ vehiclemarketing.showcase_image.url }}" />
    </cfoutput>
</cfif>
{% endif %}

<div class="upload-form" id="showcase_upload">
    <form method="POST" action="{% url "backoffice:vehicle-showcase" pk=vehiclemarketing.id %}" enctype="multipart/form-data" id="showcase_form">
        {{ form.showcase_image }}
        <cfinput type="file" name="showcaseup" />
        <cfinput type="hidden" name="vehicleid" value="#URL.vehicleid#" />
        <button type="submit" name="upload_showcase" class="btn">Upload</button>
        <div class="spinner floatright" id="spinner-showcase" method="uploadShowcase"></div>
        {% csrf_token %}
    </form>
</div>

