<h3>Showcase (front page, 1600x800)</h3>

{% if vehiclemarketing.showcase_image %}
    <img class="showcase" src="{{ vehiclemarketing.showcase_image.url }}" />
{% endif %}

<div class="upload-form" id="showcase_upload">
    <form method="POST" action="{% url "backoffice:vehicle-showcase" pk=vehiclemarketing.id %}" enctype="multipart/form-data" id="showcase_form">
        {{ form.showcase_image }}
        <button type="submit" name="upload_showcase" class="btn">Upload</button>
        <div class="spinner floatright" id="spinner-showcase" method="uploadShowcase"></div>
        {% csrf_token %}
    </form>
</div>

