<h3>Thumbnail (Fleet page, 300x125)</h3>

{% if vehiclemarketing.thumbnail_image %}
    <img class="thumbnail" src="{{ vehiclemarketing.thumbnail_image.url }}" />
{% endif %}

<div class="upload-form" id="thumbnail_upload">
    <form method="POST" action="{% url "backoffice:vehicle-thumbnail" pk=vehiclemarketing.vehicle.id %}" enctype="multipart/form-data" id="thumbnail_form">
        {{ form.thumbnail_image }}
        <button type="submit" name="upload_thumbnail" class="btn">Upload</button>
        <div class="spinner floatright" id="spinner-thumbnail" method="uploadThumbnail"></div>
        {% csrf_token %}
    </form>
</div>

