{% load bbcode_tags %}

<h3>Vids <button class="btn" id="activate_vvid_form" style="margin-left: 100px;">Add</button></h3>

{% for video in vehicle_marketing.vids.all %}
    <div class="vvid-container">
        <img class="vvid" src="{{ video.thumbnail.url }}" vvidsid="{{ video.id }}" />
        <span class="vvid-delete ui-icon ui-icon-trash" vvidsid="{{ video.id }}"></span>
        {% if not picture.is_first %}
            <span class="vvid-makefirst ui-icon ui-icon-star" vvidsid="{{ video.id }}"></span>
        {% endif %}
        {% if video.video_mp4 %}
        <cfif FileExists("#VideoUploads#PRI-#vvidsid#.mp4")>
            <a href="{{ video.video_mp4.url }}" target="_blank"><span class="vvid-video vvid-mp4" vvidsid="{{ video.id }}">MP4</span></a>
        </cfif>
        {% endif %}
        {% if video.video_webm %}
        <cfif FileExists("#VideoUploads#PRI-#vvidsid#.webm")>
            <a href="{{ video.video_webm.url }}" target="_blank"><span class="vvid-video vvid-webm" vvidsid="{{ video.id }}">WebM</span></a>
        </cfif>
        {% endif %}

        <h4>{{ video.title }}</h4>
        <p>{{ video.blurb|bbcode|safe }}</p>
    </div>
{% endfor %}

<div class="upload-form" id="vvids_upload">

    <div id="webm_status"></div>
    <div id="mp4_status"></div>

    <form method="POST" action="{% url "backoffice:vehicle-videos" pk=vehicle_marketing.vehicle_id %}" enctype="multipart/form-data" id="vvid_form">
        <table class="inputform">
            <tr>
                <td>Video File (.mp4)</td>
                <td>{{ form.video_mp4 }}</td>
            </tr>
            <tr>
                <td>Video File (.webm)</td>
                <td>{{ form.video_webm }}</td>
            </tr>
            <tr>
                <td>Poster Image</td>
                <td>{{ form.poster }}</td>
            </tr>
            <tr>
                <td>Thumbnail Image</td>
                <td>{{ form.thumbnail }}</td>
            </tr>
            <tr>
                <td>Length (s)</td>
                <td>{{ form.length }}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{ form.title }}</td>
            </tr>
            <tr>
                <td class="align-top">Blurb</td>
                <td>{{ form.blurb }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" name="upload_vvid" id="upload_vvid" class="btn">Upload</button>
                    <button type="button" name="deactivate_vvid_form" id="deactivate_vvid_form" class="btn">Cancel</button>
                    <div class="spinner floatright" id="spinner-vvid" method="uploadVVid"></div>
                </td>
            </tr>
        </table>
        <cfinput type="hidden" name="vehicleid" value="#URL.vehicleid#" />
        <cfinput type="hidden" name="vvidsid" value="" />
        {% csrf_token %}
    </form>
</div>
