<h3>Pics (1000x672)</h3>

{% for picture in vehicle_marketing.pics.all %}
    <div class="vpic-container">
        {% if picture.image and picture.thumbnail %}
            <a href="{{ picture.image.url }}" target="_blank">
                <img class="vpic" src="{{ picture.thumbnail.url }}" />
            </a>
        {% endif %}
        <span class="vpic-delete ui-icon ui-icon-trash" vpicsid="{{ picture.id }}"></span>
        {% if not picture.is_first %}
            <span class="vpic-makefirst ui-icon ui-icon-star" vpicsid="{{ picture.id }}"></span>
        {% endif %}
    </div>
{% endfor %}

<div class="upload-form" id="vpics_upload">
    <form method="POST" action="{% url "backoffice:vehicle-pictures" pk=vehicle_marketing.vehicle.id %}" enctype="multipart/form-data" id="vpic_form">
        {{ form.image }}
        <button type="submit" name="upload_vpic" class="btn" 111onclick="return uploadMedia('uploadVPic');">Upload</button>
        <div class="spinner floatright" id="spinner-vpic" method="uploadVPic"></div>
        {% csrf_token %}
    </form>
</div>
