{% extends "front_site/base.html" %}
{% load static %}

{% block page %}Customer Survey{% endblock %}

{% block content %}

    <div class="reservation-pics-sidebar">
        <img src="{% static "images/survey1.jpg" %}" />
        <img src="{% static "images/survey2.jpg" %}" />
    </div>

    <div class="reservation-form-sidebar">

        {% if customer.survey_done %}

            <p class="reservation-info">
                Thanks! We've already received your survey responses.
            </p>

        {% else %}

            <form
                method="POST"
                name="reservation_form"
                id="reservation_form"
                action="{% url "survey" tag=customer.survey_tag %}"
                1onsubmit="return false;"
                autocomplete="on"
            >

                {% if form.errors %}
                    {% with form_id="survey_form_error" %}
                        {% include "global_includes/form_errors.html" %}
                    {% endwith %}
                {% endif %}

                <div id="survey_payment">

                    <p class="reservation-info">
                        Welcome, {{ customer.full_name }}! Please take a moment to answer the following ten questions.
                        Upon completing the survey, you will be elegible for an additional {{ survey_discount_pct }}%
                        discount<sup>1</sup> on future rentals.
                    </p>

                    <table class="inputform payment long-labels">
                        <tr>
                            <td class="align-top">How did you hear about us?</td>
                            <td>
                                {{ form.heard_about }}
                            </td>
                        </tr>
                        <tr>
                            <td>How would you rate your overall experience with PRI?</td>
                            <td>
                                {{ form.general_rating }}
                            </td>
                        </tr>
                        <tr>
                            <td>How many times a year do you rent an exotic vehicle?</td>
                            <td>
                                {{ form.rental_frequency }}
                            </td>
                        </tr>
                        <tr>
                            <td>How would you rate your the vehicle you rented?</td>
                            <td>
                                {{ form.vehicle_rating }}
                            </td>
                        </tr>
                        <tr>
                            <td>Would you recommend PRI to a friend or relative?</td>
                            <td>
                                {{ form.would_recommend }}
                            </td>
                        </tr>
                        <tr>
                            <td>How would you rate PRI's rental pricing as compares with other exotic rental companies?</td>
                            <td>
                                {{ form.pricing }}
                            </td>
                        </tr>
                        <tr>
                            <td>How often would you like to receive emails about products and services from PRI?</td>
                            <td>
                                {{ form.email_frequency }}
                            </td>
                        </tr>
                        <tr>
                            <td>What types of vehicles are you primarily interested in?</td>
                            <td>
                                {{ form.vehicle_types }}
                            </td>
                        </tr>
                        <tr>
                            <td class="align-top">Are there any new vehicles you would like to see from PRI?</td>
                            <td>
                                {{ form.new_vehicles }}
                            </td>
                        </tr>
                        <tr>
                            <td class="align-top">Any other comments?</td>
                            <td>
                                {{ form.comments }}
                            </td>
                        </tr>

                        <tr class="buttons">
                            <td></td>
                            <td>
                                <button type="submit" name="payment_btn" class="btn survey-complete-btn">Submit Responses</button>
                                <div class="spinner next-form-spinner payment-spinner"></div>
                            </td>
                        </tr>
                    </table>

                    <small><sup>1</sup> Discounts may not be combined with any other discount. In the event of more than one discount
                    being applicable, you will receive the single largest applicable discount.</small>

                </div>

                {% with hidden="hidden" form_id="reservation_payment_error" %}
                    {% include "global_includes/form_errors.html" %}
                {% endwith %}

                {% csrf_token %}
            </form>

        {% endif %}

    </div>

{% endblock %}