{% extends "backoffice/coupon/base.html" %}

{% block content %}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
    <tr>
        <th col="id" default-sort="desc">ID</th>
        <th col="code">Code</th>
        <th>Amount</th>
    </tr>
        {% for coupon in coupon_list %}
            <tr class="clickable click-to-edit" destination="{% url "backoffice:coupon-detail" pk=coupon.id %}">
                <td><a href="{% url "backoffice:coupon-detail" pk=coupon.id %}">{{ coupon.id }}</a></td>
                <td>{{ coupon.code }}</td>
                <td>{{ coupon.percent }}%</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
