{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>Performance Rentals Special Use Portal</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{% static "consignment/css/style.css" %}">
    <link rel="stylesheet" href="{% static "consignment/css/jquery-ui.css" %}">
    <link rel="stylesheet"href="{% static "consignment/css/ihover.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Orbitron|Hammersmith+One|Rambla|Neucha|Timmana' rel='stylesheet' type='text/css'>

    <script src="{% static "consignment/js/jquery.js" %}"></script>
    <script src="{% static "consignment/js/jquery.payment.js" %}"></script>
    <script src="{% static "consignment/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "consignment/js/main.js" %}"></script>
</head>
<body>

<cfset selectedPage="vehicles">

<table class="layout">
    <tr>
        <td class="sidebar">
            {% include "consignment/includes/sidebar.html" %}
        </td>
        <td class="main">

            <div class="wrapper">

            {% include "consignment/includes/content_header.html" %}

            <div class="well">
                <div class='section-header'>{% block page_title %}{% endblock %}</div>

                {% block content %}{% endblock %}
            </div>

            <div class="push"></div>
            </div>

            {% include "consignment/includes/footer.html" %}

        </td>
    </tr>
</table>

</body>
</html>
