{% extends "consignment/home.html" %}

{% block nav_calendar_class %}selected{% endblock %}

{% block subpage_pane %}
    <div class="calendar-instructions">
        {% if vehicle %}
            Reserve the vehicle for your own use by clicking on a date.
        {% else %}
            To reserve a vehicle for your own use, select the vehicle from the sidebar at left.
        {% endif %}
    </div>

    <script type="text/javascript">
        vehicleSlug = '{{ vehicle.slug }}';
    </script>

    <a class="calendar-control back" onclick="loadCalendar(-1)">Back</a>
    <a class="calendar-control forward" onclick="loadCalendar(1)">Forward</a>

    <div class="calendar-container"></div>

        {% if vehicle %}
            <div class="dialog" id="dialog_reserve_vehicle" title="Reserve Vehicle">
                <p>
                    You're reserving your {{ vehicle.make }} {{ vehicle.model }} for <span class="reserve-date"></span>.
                    Please enter the number of days you'd like to reserve it for.
                </p>
                <input id="reserve_number_days" placeholder="1" />
            </div>
        {% endif %}

    <div class="dialog" id="dialog_reserve_vehicle_done" title="Reserve Vehicle">
        <p>Your vehicle has been reserved for the dates selected.</p>
    </div>

    <div class="dialog" id="dialog_clear_reservation" title="Clear Reservation">
        <p>
            You're releasing your reservation on your vehicle for <span class="reserve-date"></span>
            and making it available for rental. Proceed?
        </p>
    </div>

{% endblock %}