{% extends "consignment/base.html" %}

{% block page_title %}Vehicle Activity{% endblock %}

{% block content %}

    {% if vehicle %}
        <img class="vehicle-header" src="{{ vehicle.vehicle_marketing.thumbnail_image.url }}" />
        <h1>{{ vehicle.make }} {{ vehicle.model }}</h1>
    {% else %}
        <h1>All Vehicles</h1>
    {% endif %}

    <ul class="form-page-nav two-col">
        <li page="calendar" class="{% block nav_calendar_class %}{% endblock %}">
            {% if vehicle %}
                <a href="{% url "consignment:calendar" slug=vehicle.slug %}">Calendar</a>
            {% else %}
                <a href="{% url "consignment:calendar" %}">Calendar</a>
            {% endif %}
        </li>
        <li page="proceeds" class="{% block nav_proceeds_class %}{% endblock %}">
            {% if vehicle %}
                <a href="{% url "consignment:proceeds" slug=vehicle.slug %}">Rental Proceeds</a>
            {% else %}
                <a href="{% url "consignment:proceeds" %}">Rental Proceeds</a>
            {% endif %}
        </li>
    </ul>

    {% block subpage_pane %}{% endblock %}

{% endblock %}