{% extends "consignment/payments.html" %}
{% load humanize %}

{% block nav_payment_history_class %}selected{% endblock %}

{% block subpage_pane %}

    <table class="data proceeds">
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Method</th>
            <th>Gross to Date</th>
        </tr>
        {% for transaction in user.consigner.revenue_history.history %}

            {% if not transaction.is_rental %}

                <tr>
                    <td>{{ transaction.paid_at|date:"SHORT_DATE_FORMAT" }}</td>
                    <td class="numeric">${{ transaction.amount|intcomma }}</td>
                    <td>{{ transaction.method }}</td>
                    <td class="numeric">${{ transaction.running_total|intcomma }}</td>
                </tr>

            {% endif %}

        {% endfor %}

        <tr>
            <td></td>
            <td class="numeric">${{ user.consigner.revenue_history.total_paid|intcomma }}</td>
            <td></td>
            <td class="numeric">${{ user.consigner.revenue_history.total_revenue|intcomma }}</td>
        </tr>
    </table>

{% endblock %}