{% extends "consignment/base.html" %}

{% block content %}
    <h1>Payments</h1>

    <div class="form-page-container">

        <ul class="form-page-nav two-col">
            <li page="history" class="{% block nav_payment_history_class %}{% endblock %}">
                <a href="{% url "consignment:payment-history" %}">Payment History</a>
            </li>
            <li page="info" class="{% block nav_payment_info_class %}{% endblock %}">
                <a href="{% url "consignment:payment-info" %}">Payment Info</a>
            </li>
        </ul>

        {% block subpage_pane %}{% endblock %}

        {% if form.errors %}
            {% with form_id="customer_form_error" %}
                {% include "global_includes/form_errors.html" %}
            {% endwith %}
        {% endif %}

    </div>
{% endblock %}