{% extends "consignment/base.html" %}

{% block content %}
        <h1>Payments</h1>

        {% comment %}
        <cfquery name="ConsignmentVehicles" datasource="#DSN#">
            SELECT vehicleid FROM ConsignmentVehicles
            WHERE consignerid = <CFQUERYPARAM value="#YourID.consignerid#" CFSQLType="CF_SQL_NUMERIC">
        </cfquery>
        <cfset VehiclePrices = StructNew()>
        <cfloop query="ConsignmentVehicles">
            <cfquery name="VehiclePrice" datasource="#FDSN#">
                SELECT vehicleid,price,disc2day,disc3day,disc7day FROM VehiclesFront
                WHERE vehicleid = <CFQUERYPARAM value="#vehicleid#" CFSQLType="CF_SQL_NUMERIC">
            </cfquery>
            <cfset VehiclePrices[vehicleid] = VehiclePrice>
        </cfloop>
        {% endcomment %}

        <div class="form-page-container">

            <ul class="form-page-nav two-col">
                <li page="history" class="{% block nav_payment_history_class %}{% endblock %}">
                    <a href="{% url "consignment:payment-history" %}">Payment History</a>
                </li>
                <li page="info" class="{% block nav_payment_info_class %}{% endblock %}">
                    <a href="{% url "consignment:payment-info" %}">Payment Info</a>
                </li>
            </ul>

            {% block subpage_pane %}{% endblock %}

            {% if form.errors %}
            <cfoutput>
            <cfif Len(formError) GT 0>
            <div class="exception" id="customer_form_error">
                <h3>An error occurred</h3>
                <p class="alert-message">#formError#</p>
            </div>
            </cfif>
            </cfoutput>
            {% endif %}

            {% comment %}
            <cfif page IS "history">

                <cfquery name="Transactions" datasource="#DSN#">
                    SELECT paymentid,rentalid,numdays,vehicleid,stamp,amount,method FROM (
                        (
                            SELECT rentalid,0 AS paymentid,numdays,Rentals.vehicleid,dateout AS stamp,0 AS amount,'' AS method FROM Rentals
                            INNER JOIN ConsignmentVehicles ON ConsignmentVehicles.vehicleid = Rentals.vehicleid
                            INNER JOIN Vehicles ON Rentals.vehicleid = Vehicles.vehicleid
                            WHERE Rentals.status =3
                            AND consignerid = <CFQUERYPARAM value="#YourID.consignerid#" CFSQLType="CF_SQL_NUMERIC">
                        ) UNION (
                            SELECT 0 AS rentalid,paymentid,0 AS numdays,0 AS vehicleid,stamp,amount,method FROM ConsignmentPayments
                            WHERE consignerid = <CFQUERYPARAM value="#YourID.consignerid#" CFSQLType="CF_SQL_NUMERIC">
                        )
                    ) Transactions
                    ORDER BY stamp
                </cfquery>
                <cfset totalBalance = 0>

                <table class="data proceeds">
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Method</th>
                        <th>Gross to Date</th>
                    </tr>
                    <cfoutput query="Transactions">

                        <cfif paymentid GT 0>

                            <tr>
                                <td>#DateFormat(stamp,"MM/DD/YYYY")#</td>
                                <td class="numeric">$#NumberFormat(amount,",.__")#</td>
                                <td>#method#</td>
                                <td class="numeric">$#NumberFormat(totalBalance - amount,",.__")#</td>
                            </tr>
<!---                            <cfset totalBalance = totalBalance - amount>--->

                        <cfelse>

                            <cfif numdays GTE 7>
                                <cfset gross = VehiclePrices[vehicleid].price * numdays * (1 - VehiclePrices[vehicleid].disc7day/100)>
                            <cfelseif numdays GTE 3>
                                <cfset gross = VehiclePrices[vehicleid].price * numdays * (1 - VehiclePrices[vehicleid].disc3day/100)>
                            <cfelseif numdays GTE 2>
                                <cfset gross = VehiclePrices[vehicleid].price * numdays * (1 - VehiclePrices[vehicleid].disc2day/100)>
                            <cfelse>
                                <cfset gross = VehiclePrices[vehicleid].price * numdays>
                            </cfif>
                            <cfset totalBalance = totalBalance + gross>

                        </cfif>

                    </cfoutput>

                    <cfoutput>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="numeric">$#NumberFormat(totalBalance,",.__")#</td>
                    </tr>
                    </cfoutput>
                </table>

            <cfelseif page IS "info">

                <div class="form-page" page="paymentinfo">

                <p>
                For wire / direct deposit transfers, specify your preferred Routing (ABA) and Account numbers below.
                Please ensure accuracy as we are not responsible for failed transfers due to inaccurate information.
                </p>

                <cfform method="POST" name="payment_form" action="payments.cfm" autocomplete="on" onsubmit="return true; return false;">

                    <cfoutput>
                    <table class="inputform rentalinfo">

                    <tr>
                        <td>Bank Routing Number</td>
                        <td>
                            <cfset ar_masked = maskAcctNumber(ar_dec)>
                            <cftry>
                                <cfset ar = Form.ar>
                                <cfcatch>
                                    <cfset ar = "">
                                </cfcatch>
                            </cftry>
                            <cfinput name="ar" maxlength="30" placeholder="#ar_masked#" value="#ar#" class="acctnum #StructKeyExists(fieldErrors,"ar") ? 'field-error' : ''#" />
                        </td>
                    </tr>
                    <tr>
                        <td>Bank Account Number</td>
                        <td>
                            <cfset aa_masked = maskAcctNumber(aa_dec)>
                            <cftry>
                                <cfset aa = Form.aa>
                                <cfcatch>
                                    <cfset aa = "">
                                </cfcatch>
                            </cftry>
                            <cfinput name="aa" maxlength="30" placeholder="#aa_masked#" value="#aa#" class="acctnum #StructKeyExists(fieldErrors,"aa") ? 'field-error' : ''#" />
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top">Address</td>
                        <td><cftextarea name="addr" id="addr" style="height: 80px;" class="#StructKeyExists(fieldErrors,"addr") ? 'field-error' : ''#">#addr_dec#</cftextarea></td>
                    </tr>

                    <tr class="buttons">
                        <td></td>
                        <td>
                            <cfinput name="fnc" type="hidden" value="update" />
                            <button name="submit" type="submit" class="btn update-payment-info-btn">Submit</button>
                        </td>
                    </tr>

                    </table>
                    </cfoutput>

                <cfinput name="page" type="hidden" value="#page#" />
                </cfform>

                </div>

            </cfif>
            {% endcomment %}

        </div>
{% endblock %}