{% extends "consignment/payments.html" %}

{% block nav_payment_info_class %}selected{% endblock %}

{% block subpage_pane %}
    <div class="form-page" page="paymentinfo">

        <p>
            For wire / direct deposit transfers, specify your preferred Routing (ABA) and Account numbers below.
            Please ensure accuracy as we are not responsible for failed transfers due to inaccurate information.
        </p>

        <form method="POST" name="payment_form" action="{% url "consignment:payment-info" %}" autocomplete="on">

            <table class="inputform rentalinfo">

            <tr>
                <td>Bank Routing Number</td>
                <td>
                    {{ form.routing_number }}
                </td>
            </tr>
            <tr>
                <td>Bank Account Number</td>
                <td>
                    {{ form.account_number }}
                </td>
            </tr>
            <tr>
                <td class="align-top">Address</td>
                <td>
                    {{ form.address }}
                </td>
            </tr>

            <tr class="buttons">
                <td></td>
                <td>
                    <button name="submit" type="submit" class="btn update-payment-info-btn">Submit</button>
                </td>
            </tr>

            </table>

            {% csrf_token %}
        </form>

    </div>
{% endblock %}