{% extends "consignment/home.html" %}
{% load humanize %}

{% block nav_proceeds_class %}selected{% endblock %}

{% block subpage_pane %}

    <p class="table-info">
        These are estimated gross amounts of rental revenues collected from the selected vehicle(s). These amounts do not reflect taxes, fees,
        or deductions by PRI prior to the calculation of net revenues.
    </p>

    <table class="data proceeds">
        <tr>
            <th>Vehicle</th>
            <th>Date Out</th>
            <th>Date Back</th>
            <th>Mileage</th>
            <th>Gross</th>
        </tr>
        {% for rental in past_rentals %}
            <tr>
                <td>{{ rental.vehicle.make }} {{ rental.vehicle.model }}</td>
                <td>{{ rental.out_at|date:"m/d/Y" }}</td>
                <td>{{ rental.back_at|date:"m/d/Y" }}</td>
                <td class="numeric">{{ rental.mileage_back|intcomma }}</td>
                <td class="numeric">${{ rental.gross_revenue|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="numeric">${{ total_gross|intcomma }}</td>
        </tr>
    </table>

{% endblock %}