{% extends "customer_portal/base.html" %}

{% block page_title %}Performance Experience{% endblock %}

{% block content %}

    <div class="reservation-info">
        <p>
            Thank you for your reservation! Your Performance Experience is now booked for the date(s) you indicated,
            with the vehicles you chose (pending availability). We will follow up with you to provide details on the
            event (the meeting location, time, etc.); we'll also contact you if we have any difficulty scheduling
            the vehicles of your choice.
        </p>
    </div>

    <div class="confcode-container">
        <p>Confirmation code:</p>
        <div class="confcode">{{ performanceexperience.confirmation_code }}</div>
    </div>

    <table class="reservation-details small-item-data">
        <tr>
            <td>Vehicle 1:</td>
            <td>{{ performanceexperience.vehicle_choice_1.make }} {{ performanceexperience.vehicle_choice_1.model }}</td>
        </tr>
        <tr>
            <td>Vehicle 2:</td>
            <td>{{ performanceexperience.vehicle_choice_2.make }} {{ performanceexperience.vehicle_choice_2.model }}</td>
        </tr>
        <tr>
            <td>Vehicle 3:</td>
            <td>{{ performanceexperience.vehicle_choice_3.make }} {{ performanceexperience.vehicle_choice_3.model }}</td>
        </tr>
        <tr>
            <td>Requested Date:</td>
            <td>{{ performanceexperience.requested_date|date:"D m/d/Y" }}</td>
        </tr>
        <tr>
            <td>Alternate Date:</td>
            <td>{{ performanceexperience.backup_date|date:"D m/d/Y" }}</td>
        </tr>
    </table>

    <form method="POST" name="reservation_form" action="{% url "customer_portal:perfexp-confirm" confirmation_code=performanceexperience.confirmation_code %}" autocomplete="on">

        <table class="inputform rentalinfo">

            <thead>
                <tr>
                    <th colspan="2">
                        <div class="form-section-header">
                            <h3>Event Notes</h3>
                            <p>Please let us know if you've got any special requests or notes for your event.</p>
                        </div>
                    </h3>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="align-top">Notes/Requests</td>
                    <td>
                        {{ form.customer_notes }}
                    </td>
                </tr>

                <tr class="buttons">
                    <td></td>
                    <td><button type="submit" class="btn">Update</button></td>
                </tr>
            </tbody>

        </table>

        {% csrf_token %}
    </form>

{% endblock %}
