{% extends "customer_portal/performance_experience/base.html" %}

{% block nav_upcoming_class %}selected{% endblock %}

{% block subpage_pane %}
    {% for event in upcoming_performance_experiences %}
        <a href="{% url "customer_portal:perfexp-confirm" confirmation_code=event.confirmation_code %}">
            <div class="reservation">
                {% include "customer_portal/performance_experience/event.html" %}
            </div>
        </a>
    {% endfor %}

    {% if not upcoming_performance_experiences.exists %}
        <div class="no-records">No upcoming Performance Experience events</div>
    {% endif %}
{% endblock %}