{% extends "customer_portal/base.html" %}

{% block page_title %}Account Info{% endblock %}

{% block content %}

    <div class="reservation-info">
        <p>
            Please keep your personal information updated! We'll need to verify your insurance coverage for each
            rental, so it will save both your time and ours if you ensure your information is up-to-date in our
            system prior to placing a reservation.
        </p>

        <p>
            We take the utmost care to preserve your privacy and security. All information you submit is held in our
            encrypted data store and is not shared with anyone except the relevant agencies for verification purposes.
        </p>
    </div>

    <div class="form-page-container">

        <ul class="form-page-nav">
            <li page="driverinfo" class="{% block nav_driver_info_class %}{% endblock %}">
                <a href="{% url "customer_portal:account-driver-info" %}">Driver Information</a>
            </li>
            <li page="insurance" class="{% block nav_insurance_class %}{% endblock %}">
                <a href="{% url "customer_portal:account-insurance" %}">Insurance</a>
            </li>
            <li page="music" class="{% block nav_music_class %}{% endblock %}">
                <a href="{% url "customer_portal:account-music" %}">Music Prefs</a>
            </li>
        </ul>

        {% if form.errors %}
            {% with form_id="customer_form_error" %}
                {% include "global_includes/form_errors.html" %}
            {% endwith %}
        {% endif %}

        {% block subpage_pane %}{% endblock %}

    </div>

{% endblock %}
