{% extends "customer_portal/base.html" %}
{% load i18n static %}

{% block page_title %}Change Password{% endblock %}

{% block content %}

    {% if form %}

        <p class="reservation-info">
            <p>
                Choose a new password here.
            </p>
        </p>

        <div class="form-page-container">

            {% if form.errors %}
                {% with form_id="customer_form_error" %}
                    {% include "global_includes/form_errors.html" %}
                {% endwith %}
            {% endif %}

            <div class="form-page" page="card1">

                <form method="POST">

                    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                    <table class="inputform rentalinfo">

                        <tr>
                            <td>New Password</td>
                            <td>
                                {{ form.new_password1 }}
                            </td>
                        </tr>
                        <tr>
                            <td>Repeat Password</td>
                            <td>
                                {{ form.new_password2 }}
                            </td>
                        </tr>

                        <tr class="buttons">
                            <td></td>
                            <td>
                                <button name="submit" type="submit" class="btn">Submit</button>
                            </td>
                        </tr>

                    </table>

                    {% csrf_token %}
                </form>

            </div>

        </div>

    {% else %}

        <p class="reservation-info">
            <p>
                The password reset link you followed is no longer valid.
            </p>
            <p>
                <a href="{% url "customer_portal:login" %}">Log in again</a>
            </p>
        </p>

    {% endif %}

{% endblock %}