{% extends "customer_portal/account/base.html" %}

{% block nav_driver_info_class %}selected{% endblock %}

{% block subpage_pane %}
    <div class="form-page" page="driverinfo">

        <form method="POST" name="account_form" action="{% url "customer_portal:account-driver-info" %}" autocomplete="on">

            <table class="inputform rentalinfo">

                <tr>
                    <td>Name</td>
                    <td>
                        {{ user.customer.full_name }}
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        {{ user.email }}
                    </td>
                </tr>

                <tr>
                    <td>Date Of Birth</td>
                    {% if user.customer.date_of_birth %}
                        <td>
                            {{ user.customer.date_of_birth|date:"SHORT_DATE_FORMAT" }}
                        </td>
                    {% else %}
                        <td>
                            {{ form.date_of_birth }}
                        </td>
                    {% endif %}
                </tr>

                {% if user.customer.license_number and user.customer.license_state %}
                    <tr>
                        <td>License Number</td>
                        <td>
                            {{ user.customer.license_number }} ({{ user.customer.license_state }})
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>License Number</td>
                        <td>
                            {{ form.license_number }}
                        </td>
                    </tr>
                    <tr>
                        <td>License State</td>
                        <td>
                            {{ form.license_state }}
                        </td>
                    </tr>
                {% endif %}

                <tr>
                    <td>Address</td>
                    <td>
                        {{ form.address_line_1 }}
                    </td>
                </tr>
                <tr>
                    <td>Address Line 2</td>
                    <td>
                        {{ form.address_line_2 }}
                    </td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>
                        {{ form.city }}
                    </td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>
                        {{ form.state }}
                    </td>
                </tr>
                <tr>
                    <td>ZIP</td>
                    <td class="{% if form.zip.errors %}field-error{% endif %}">
                        {{ form.zip }}
                    </td>
                </tr>
                <tr>
                    <td>Mobile Phone</td>
                    <td class="{% if form.mobile_phone.errors %}field-error{% endif %}">
                        {{ form.mobile_phone }}
                    </td>
                </tr>
                <tr>
                    <td>Home Phone</td>
                    <td class="{% if form.home_phone.errors %}field-error{% endif %}">
                        {{ form.home_phone }}
                    </td>
                </tr>
                <tr>
                    <td>Work Phone</td>
                    <td class="{% if form.work_phone.errors %}field-error{% endif %}">
                        {{ form.work_phone }}
                    </td>
                </tr>
                <tr>
                    <td>Fax</td>
                    <td>
                        {{ form.fax }}
                    </td>
                </tr>

                <tr class="buttons">
                    <td></td>
                    <td><button type="submit" class="btn">Submit</button></td>
                </tr>

            </table>

            {% csrf_token %}
        </form>

    </div>
{% endblock %}