{% extends "customer_portal/account/base.html" %}

{% block nav_insurance_class %}selected{% endblock %}

{% block subpage_pane %}
    <div class="form-page" page="insurance">

        <form method="POST" name="account_form" action="{% url "customer_portal:account-insurance" %}" autocomplete="on">

            <table class="inputform rentalinfo">

                <tr>
                    <td>Insurance Company</td>
                    <td>
                        {{ form.insurance_company }}
                    </td>
                </tr>
                <tr>
                    <td>Insurance Policy Number</td>
                    <td>
                        {{ form.insurance_policy_number }}
                    </td>
                </tr>
                <tr>
                    <td>Insurance Co. Telephone</td>
                    <td>
                        {{ form.insurance_company_phone }}
                    </td>
                </tr>

                <tr class="buttons">
                    <td></td>
                    <td><button type="submit" class="btn">Submit</button></td>
                </tr>

            </table>

            {% csrf_token %}
        </form>

    </div>
{% endblock %}