{% extends "customer_portal/account/base.html" %}

{% block nav_music_class %}selected{% endblock %}

{% block subpage_pane %}
    <div class="form-page" page="music">

        <form method="POST" name="account_form" action="{% url "customer_portal:account-music" %}" autocomplete="on">

            <table class="inputform rentalinfo">

                <tr>
                    <td>Favorite Genre</td>
                    <td>
                        {{ form.music_genre }}
                    </td>
                </tr>
                <tr>
                    <td>Favorite Artist / Composer</td>
                    <td>
                        {{ form.music_favorite }}
                    </td>
                </tr>

                <tr class="buttons">
                    <td></td>
                    <td><button type="submit" class="btn">Submit</button></td>
                </tr>

            </table>

            {% csrf_token %}
        </form>

    </div>
{% endblock %}