{% load static %}

<footer class='l-footer'>

<cfoutput>
<nav>
<div class="l-container">
<a href='{% url "home" %}' class='footer-logo'><img src="{% static "customer/images/PRI_logo.png" %}" alt='Performance Rentals' width='255px'></a>
<ul style="text-align: right;">
    <li><a href="{% url "fleet" %}">Fleet &amp; Rates</a></li>
    <li><a href="{% url "services" %}">Services</a></li>
    <li><a href="{% url "specials" %}">Specials</a></li>
    <li><a href="{% url "about" %}">About Us</a></li>
    <li><a href="{% url "policies" %}">Policies</a></li>
    <li><a href="{% url "news" %}">News</a></li>
    <li><a href="{% url "contact" %}">Contact</a></li>
</ul>
</div>
</nav>


<section class='info'>
<div class='l-container'>
<ul>
    <li><a href="{% url "terms-and-conditions" %}">Terms & Conditions</a></li>
    <li><a href="{% url "privacy-policy" %}">Privacy Policy</a></li>
    <li><a href="{% url "media-inquiries" %}">Media Inquiries</a></li>
    <li><a href="{% url "terms-and-conditions" %}">Copyright &copy; 2007-{% now "Y" %} Performance Rentals, Inc. All Rights Reserved.</a></li>
</ul>
</div>
</section>
</cfoutput>

</footer>
