{% load static %}

<footer class='l-footer'>

<cfoutput>
<nav>
<div class="l-container">
<a href='#OnSite#' class='footer-logo'><img src="{% static "customer/images/PRI_logo.png" %}" alt='Performance Rentals' width='255px'></a>
<ul style="text-align: right;">
    <li><a href="#OnSite#fleet.cfm">Fleet &amp; Rates</a></li>
    <li><a href="#OnSite#services.cfm">Services</a></li>
    <li><a href="#OnSite#specials.cfm">Specials</a></li>
    <li><a href="#OnSite#about.cfm">About Us</a></li>
    <li><a href="#OnSite#policies.cfm">Policies</a></li>
    <li><a href="#OnSite#news.cfm">News</a></li>
    <li><a href="#OnSite#contact.cfm">Contact</a></li>
</ul>
</div>
</nav>


<section class='info'>
<div class='l-container'>
<ul>
    <li><a href="#OnSite#terms.cfm">Terms & Conditions</a></li>
    <li><a href="#OnSite#privacy.cfm">Privacy Policy</a></li>
    <li><a href="#OnSite#media.cfm">Media Inquiries</a></li>
    <li><a href="#OnSite#terms.cfm">Copyright &copy; 2007-<CFOUTPUT>#DateFormat(Now(),"yyyy")#</CFOUTPUT> Performance Rentals, Inc. All Rights Reserved.	</a></li>
</ul>
</div>
</section>
</cfoutput>

</footer>
