{% load static %}

<a class="header-logo" href="{% url "customer_portal:home" %}"><img src='{% static "customer/images/PRI_logo.png" %}' alt='Performance Rentals' width="255px"></a>

{% if user.is_authenticated %}

    <ul class="sidebar-nav">
        <li class="{% if selected_page == "reservations" %}selected-page{% endif %}">
            <a href="{% url "customer_portal:upcoming-reservations" %}">
                {% if upcoming_reservations.exists %}
                    <div class="badge">{{ upcoming_reservations.count }}</div>
                {% endif %}
                Reservations
            </a>
        </li>
        <li class="{% if selected_page == "joy_ride" %}selected-page{% endif %}">
            <a href="{% url "customer_portal:joyride-upcoming" %}">
                {% if upcoming_joy_rides.exists %}
                    <div class="badge">{{ upcoming_joy_rides.count }}</div>
                {% endif %}
                Joy Ride
            </a>
        </li>
        <li class="{% if selected_page == "performance_experience" %}selected-page{% endif %}">
            <a href="{% url "customer_portal:perfexp-upcoming" %}">
                {% if upcoming_performance_experiences.exists %}
                    <div class="badge">{{ upcoming_performance_experiences.count }}</div>
                {% endif %}
                Performance Experience
            </a>
        </li>
        <li class="{% if selected_page == "rates" %}selected-page{% endif %}">
            <a href="{% url "customer_portal:select-vehicle" %}">Rental Rates</a>
        </li>
        <li class="{% if selected_page == "find_us" %}selected-page{% endif %}">
            <a href="{% url "customer_portal:find-us" %}">Find Us</a>
        </li>
    </ul>
    <ul class="sidebar-nav">
        <li class="account-info {% if selected_page == "account_info" %}selected-page{% endif %}">
            <a href="{% url "customer_portal:account-info" %}">Account Info</a>
        </li>
        <li class="account-info {% if selected_page == "payment_info" %}selected-page{% endif %}">
            <a href="{% url "customer_portal:payment-info" %}">Payment Info</a>
        </li>
        <li class="account-info {% if selected_page == "password" %}selected-page{% endif %}">
            <a href="{% url "customer_portal:password" %}">Change Password</a>
        </li>
    </ul>
    <ul class="sidebar-nav">
        <li class="account-info">
            <a href="{% url "customer_portal:logout" %}">Log Out</a>
        </li>
    </ul>

{% endif %}