{% extends "backoffice/ip_ban/base.html" %}

{% block content %}

    <form method="POST" action="{% url "backoffice:ipban-kill-switch-toggle" %}">
        {% if global_kill_switch %}
            <p>Global kill switch is ENGAGED. All reservation attempts will be blocked and clients sent to a honeypot.</p>
            <button
                class="btn"
                type="submit"
                name="disengage"
            >
                Disengage
            </button>
        {% else %}
            <p>Global kill switch is DISENGAGED. If engaged, all reservation attempts will be blocked and clients sent to a honeypot.</p>
            <button
                class="btn delete solo"
                type="submit"
                name="engage"
            >
                Global Kill Switch
            </button>
        {% endif %}
        {% csrf_token %}
    </form>

    {% include "backoffice/includes/paginator.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
        <tr>
            <th col="id" default-sort="desc">ID</th>
            <th col="ip_address">IP Network</th>
            <th col="prefix_bits">CIDR bits</th>
            <th col="created_at" default-sort="desc">Created</th>
            <th col="expires_at" default-sort="desc">Expires</th>
        </tr>
        {% for ipban in ipban_list %}
            <tr class="clickable click-to-edit" destination="{% url "backoffice:ipban-detail" pk=ipban.id %}">
                <td><a href="{% url "backoffice:ipban-detail" pk=ipban.id %}">{{ ipban.id }}</a></td>
                <td>{{ ipban.network_address }}</td>
                <td>{{ ipban.prefix_bits }}</td>
                <td>{{ ipban.created_at|date:"m/d/Y" }}</td>
                <td>{{ ipban.expires_at|date:"m/d/Y" }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
