{% load static tz %}
{% load wagtailcore_tags %}

<footer class="l-footer">
    <nav>
        <div class="l-container" style="position: relative;">
            <a href="{% url "home" %}" class="" style="z-index: 10; position: relative;"><img src="{% static "images/PRI_logo.png" %}" alt="Performance Rentals" width="255px"></a>
            <ul>
                <li><a href="{% url "fleet" %}">Fleet &amp; Rates</a></li>
                <li><a href="{% url "services" %}">Services</a></li>
                <li><a href="{% url "specials" %}">Specials</a></li>
                <li><a href="{% url "about" %}">About Us</a></li>
                <li><a href="{% url "policies" %}">Policies</a></li>
                <li><a href="{% url "news" %}">News</a></li>
                <li><a href="{% url "contact" %}">Contact</a></li>
            </ul>
        </div>
    </nav>

    <section class="quick-links">
        <div class='l-container' style="position: relative; z-index: 10;">
            <div class="l-row">
                <section class="footer-container l-col-4">
                    <span>News</span>
                    <ul class='object-list'>
                        {% timezone "UTC" %}
                            {% if footer_news_items %}
                                {% for news_item in footer_news_items %}
                                    <li>
                                        <a href="{% url "news-item" year=news_item.created_at.year month=news_item.created_at.month day=news_item.created_at.day slug=news_item.slug %}">
                                            {{ news_item.subject}}
                                        </a>
                                    </li>
                                    <small>{{ news_item.body|truncatechars:100 }}</small>
                                {% endfor %}
                            {% else %}
                                 <li>None.</li>
                            {% endif %}
                        {% endtimezone %}
                     </ul>
                    <div class="ant-footer">
                        {% include "front_site/includes/footer_seo.html" %}
                    </div>
                </section>

                <section class="footer-container l-col-4">
                    {% if twitter_enabled %}
                        {# Official Twitter timeline embed #}
                        <a class="twitter-timeline" data-width="320" data-height="200" data-theme="dark" href="https://twitter.com/PerfRentals?ref_src=twsrc%5Etfw">Tweets by PerfRentals</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    {% endif %}
                </section>

                <section class="footer-container l-col-4 l-lastcol">
                    <span>Follow Performance Rentals</span>
                    <br />
                    <ul class="sock-list">
                        <li><a href="https://twitter.com/perfrentals" class="twatter-follow-button" data-show-count="false" data-show-screen-name="true">Follow @perfrentals</a></li>
                        <li><a href="https://www.youtube.com/channel/UCunX3VH-J1xSc9KZF-lAqyA">Watch us on YouTube</a></li>
                        <li><a href="https://profiles.google.com/105350119426435106180/about" rel="publisher">Find us on Google+</a></li>
                        <li><a href="{% url "newsletter" %}" rel="publisher">Subscribe to our Newsletter</a></li>
                    </ul>
                    <a target="_blank" href="https://itunes.apple.com/us/app/pri-cars/id456142248?mt=8"><img class="app-store" src="{% static "images/appstore.png" %}" /></a>
                </section>
            </div>
        </div>

    </section>

    <section class="info">
        <div class="l-container">
            <ul>
                <li><a href="{% url "terms-and-conditions" %}">Terms & Conditions</a></li>
                <li><a href="{% url "privacy-policy" %}">Privacy Policy</a></li>
                <li><a href="{% url "media-inquiries" %}">Media Inquiries</a></li>
                <li><a href="{% url "terms-and-conditions" %}">Copyright &copy; 2007-{% now "Y" %} Performance Rentals, Inc. All Rights Reserved.</a></li>
            </ul>
        </div>
    </section>

</footer>