{% load static %}

<header class='l-header'>

<section class="upper">
    <div class="l-container">
        <a class="banner" href="#">
            <p class="highlight" style="font-size: 22px;">Sports car rentals for the automotive enthusiast</p>
            <p>Serving the NYC area and beyond</p>
        </a>
    </div>
</section>

<section class='lower'>
<div class="l-container">


<cfoutput>
<a class="header-logo" href="#OnSite#"><img src="{% static "images/PRI_logo.png" %}" alt="Performance Rentals" width="255px"></a>
</cfoutput>

<CFQUERY NAME="theCars" DATASOURCE="#DSN#">
SELECT vehicleid,make,model FROM Vehicles
WHERE type = 1
AND status = 1
ORDER BY weighting DESC
</CFQUERY>

<CFQUERY NAME="theBikes" DATASOURCE="#DSN#">
SELECT vehicleid,make,model FROM Vehicles
WHERE type = 2
AND status = 1
ORDER BY weighting DESC
</CFQUERY>

<ul class='header-sitenav header-nav-obj'>
    <cfoutput>
    <li class='fleet dropdown'><a href='#OnSite#fleet.cfm?list=cars'>Cars</a>
    </cfoutput>
        <ul class="dropdown-menu">
        <CFOUTPUT QUERY="theCars">
            <li><a href="#OnSite#vehicles.cfm?vid=#vehicleid#">#make# #model#</a></li>
        </CFOUTPUT>
        </ul>
    </li>
    <cfoutput>
    <li class='fleet dropdown'><a href='#OnSite#fleet.cfm?list=bikes'>Bikes</a>
    </cfoutput>
        <ul class="dropdown-menu">
        <CFOUTPUT QUERY="theBikes">
            <li><a href="#OnSite#vehicles.cfm?vid=#vehicleid#">#make# #model#</a></li>
        </CFOUTPUT>
        </ul>
    </li>
    <cfoutput>
    <li class='services'><a href='#OnSite#services.cfm'>Our Services</a></li>
    <li class='services'><a href='#OnSite#specials.cfm'>Specials</a></li>
    <li class='services'><a href='#OnSite#about.cfm'>About Us</a></li>
    <li class='services'><a href='#OnSite#policies.cfm'>Policies</a></li>
    <li class='services'><a href='#OnSite#news.cfm'>News</a></li>
    <li class='services'><a href='#OnSite#contact.cfm'>Contact</a></li>
    </cfoutput>
</ul>


</div>
</section>
</header>
