{% load static %}

<div class='well' style="padding-bottom: 25px;">
<div class='section-header'>Special Services</div>

<section class='iosslider'>
<div class="offers">

<div class="offer-thumb offer-1" offer="1">
    <a href="{% url "performance-experience" %}">
    <img src="{% static "images/perfexp-icon.jpg" %}" alt="Performance Experience" width="270" height="203" />
    <span class="offer-title overlay-text">Performance Experience</span>
    </a>
</div>
<div class="offer-descr offer-descr-1">
    <h3><a href="{% url "performance-experience" %}">Performance Experience</a></h3>

    <p>
    Join us on a guided drive of a selection of our fantastic drivers' cars! Spend time in the driver's seat of each, getting to know
    their unique driving dynamics and handling characteristics, and enjoy some of the best scenic views and twisty roads that the greater
    New York City region has to offer.
    </p>

    <p>
    It's up to you when you want to schedule your event; it's an affordable and fun way to enjoy our cars. Makes a great gift!
    <a href="{% url "performance-experience" %}">More...</a>
    </p>

</div>

<div class="offer-thumb offer-2" offer="2">
    <a href="{% url "joy-ride" %}">
    <img src="{% static "images/joyride-icon.jpg" %}" alt='Joy Ride' width="270" height="203" />
    <span class="offer-title overlay-text bottom">Joy Ride</span>
    </a>
</div>
<div class="offer-descr offer-descr-2">
    <h3><a href="{% url "joy-ride" %}">Joy Ride</a></h3>

    <p>
    Want the thrill of a ride in some of our exhilarating sports cars, but can't do the driving yourself? No problem&mdash;sign up for
    the PRI Joy Ride! Select a lineup of our vehicles and we'll take you on a tour of some of New York's excellent challenging roads,
    where you'll get to experience the best of our performance machines as driven by our professional staff.
    </p>

    <p>
    An ideal choice for kids, international visitors, or car lovers of all kinds for whom driving isn't an option. Contact us and let us
    give you a day to remember!
    <a href="{% url "joy-ride" %}">More...</a>
    </p>

</div>

<div class="offer-thumb offer-3" offer="3">
    <a href="{% url "gift-certificate" %}">
    <img src="{% static "images/giftcert.jpg" %}" alt="Gift Certificates" width="270" height="203" />
    <span class="offer-title overlay-text">Gift Certificates</span>
    </a>
</div>
<div class="offer-descr offer-descr-3">
    <h3><a href="{% url "gift-certificate" %}">Gift Certificates</a></h3>

    <p>
    It's the perfect way to show that special someone in your life that you know just what they want. A PRI gift certificate gives the
    recipient the ability to cash in on any of our rentals or services, at the date of their choosing.
    </p>

    <p>
    It's a great way to keep things a surprise, without having to let the cat out of the bag by planning for a certain date or asking
    revealing questions about which of our cars they'd most like to spend the day in!
    <a href="{% url "gift-certificate" %}">More...</a>
    </p>

</div>

<div class="offer-thumb offer-4" offer="4">
    <img src="{% static "images/EliseVideoShoot.jpg" %}" alt="Film & Photo Services" width="270" height="203" />
    <span class="offer-title overlay-text bottom">Film & Photo Services</span>
</div>
<div class="offer-descr offer-descr-4">
    <h3>Film, Video, & Photo Services</h3>

    <p>
    Looking for a particular photogenic vehicle to play a role for your production? We can help!
    </p>

    <p>
    PRI has the in-house expertise not only to provide a perfectly prepped car or motorcycle for your production, but also to handle all the
    logistics that make production such a challenge. <a href="mailto:{{ site_email }}">Contact us</a> for a quote from our professionally trained
    and experienced staff.
    </p>

</div>

</div>
</section>

</div>

