<div id="reservation_payment" class="1hidden">

    <p class="reservation-info">
    We'll need a credit card to secure your reservation. Once the reservation is confirmed, you'll get access to the
    secure PRI Customer Portal, where you can manage your rentals, confirm your insurance information, and specify
    your preferred methods of payment for the rental and the security deposit.
    </p>

    <div id="price_breakdown_container">
        {% block price_breakdown_container %}{% endblock %}
    </div>

    <table class="inputform payment">
        <tr>
            <td>First Name</td>
            <td>
                {{ payment_form.first_name }}
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                {{ payment_form.last_name }}
            </td>
        </tr>
        <tr>
            <td>Mobile Phone</td>
            <td>
                {{ payment_form.mobile_phone }}
            </td>
        </tr>
        <tr>
            <td>Home Phone</td>
            <td>
                {{ payment_form.home_phone }}
            </td>
        </tr>
        <tr>
            <td>Work Phone</td>
            <td>
                {{ payment_form.work_phone }}
            </td>
        </tr>
        <tr>
            <td>Fax</td>
            <td>
                {{ payment_form.fax }}
            </td>
        </tr>
        <tr>
            <td>Credit Card Number</td>
            <td>
                {{ payment_form.cc_number }}
            </td>
        </tr>
        <tr>
            <td>Credit Card Expiration</td>
            <td>
                {{ payment_form.cc_exp_mo }} / {{ payment_form.cc_exp_yr }}
            </td>
        </tr>
        <tr>
            <td>CVV</td>
            <td>
                {{ payment_form.cc_cvv }}
            </td>
        </tr>
        <tr>
            <td>Credit Card Bank Phone</td>
            <td>
                {{ payment_form.cc_phone }}
                <small
                    class="tooltip"
                    title="{{ form.cc_phone.help_text }}"
                >
                    Why do we need this?
                </small>
            </td>
        </tr>
        <tr>
            <td>Street Address Line 1</td>
            <td>
                {{ payment_form.address_line_1 }}
            </td>
        </tr>
        <tr>
            <td>Street Address Line 2</td>
            <td>
                {{ payment_form.address_line_2 }}
            </td>
        </tr>
        <tr>
            <td>City</td>
            <td>
                {{ payment_form.city }}
            </td>
        </tr>
        <tr>
            <td class="label">State</td>
            <td>
                {{ payment_form.state }}
            </td>
        </tr>
        <tr>
            <td class="label">ZIP</td>
            <td>
                {{ payment_form.zip }}
            </td>
        </tr>

        <tr>
            <td class="label"></td>
            <td>
                Please choose a password.
            </td>
        </tr>
        <tr>
            <td class="label">Password</td>
            <td>
                {{ payment_form.password_new }}
            </td>
        </tr>
        <tr>
            <td class="label">Password (repeat)</td>
            <td>
                {{ payment_form.password_repeat }}
            </td>
        </tr>

        {% if recaptcha_enabled %}
            {% include "front_site/includes/recaptcha.html" %}
        {% endif %}

        <tr class="buttons">
            <td></td>
            <td>
                <button type="submit" name="payment_btn" class="btn reserve-{{ reservation_type }}-complete-btn">Complete Reservation</button>
                <div class="spinner next-form-spinner payment-spinner"></div>
            </td>
        </tr>
    </table>

</div>

{% with hidden="hidden" form_id="reservation_payment_error" %}
    {% include "global_includes/form_errors.html" %}
{% endwith %}
