{% load static %}

<link rel="stylesheet" href="{% static "css/jqcloud.css" %}">
<link rel="stylesheet" href="{% static "css/jquery.bxslider.css" %}">
<link href="http://vjs.zencdn.net/5.8.7/video-js.css" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Orbitron|Hammersmith+One|Rambla|Neucha|Timmana' rel='stylesheet' type='text/css'>
<link href="{% static "css/ihover.css" %}" rel="stylesheet">
