{% load static %}

<head>
    <title>Performance Rentals Administration</title>
    <link rel=stylesheet href="{% static "backoffice/css/style.css" %}" TYPE="text/css">
    <link rel=stylesheet href="{% static "backoffice/css/jquery-ui.css" %}" TYPE="text/css">
    <script type="text/javascript" src="{% static "backoffice/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "backoffice/js/jquery.inputmask.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static "backoffice/js/jquery.payment.js" %}"></script>
    <script type="text/javascript" src="{% static "backoffice/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "backoffice/js/main.js" %}" language="javascript"></script>
{#    <cfif Login IS False>#}
{#        <meta Http-equiv="refresh" Content="1500; Url=zzz.cfm">#}
{#    </cfif>#}
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        var stripe = Stripe('{{ stripe_publishable_key }}');
    </script>
</head>
