{% load vehicle_tags humanize %}

<table class="pricestable">
    <tr>
        <th class="align-center">Vehicle</th>
        <th>Weekday</th>
        <th>2-day</th>
        <th>3-day</th>
        <th>7-day</th>
        <th>Miles</th>
    </tr>
    {% if vehicles.exists %}
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.make }} {{ vehicle.model }}</td>
                <td>
                    <span class="price">${{ vehicle.price_per_day|floatformat:0|intcomma }}</span>
                </td>
                <td>
                    <span class="price">${{ vehicle|multi_day_discounted_price:2|floatformat:0|intcomma }}</span> ({{ vehicle.discount_2_day }}%)
                </td>
                <td>
                    <span class="price">${{ vehicle|multi_day_discounted_price:3|floatformat:0|intcomma }}</span> ({{ vehicle.discount_3_day }}%)
                </td>
                <td>
                    <span class="price">${{ vehicle|multi_day_discounted_price:7|floatformat:0|intcomma }}</span> ({{ vehicle.discount_7_day }}%)
                </td>
                <td>{{ vehicle.miles_included }}</td>
            </tr>
        {% endfor %}
    {% else %}
        Aaaaah. No cars.
    {% endif %}
</table>

<table class="pricestable">
    <tr>
        <th colspan="2" class="align-center">Joy Ride</th>
        <th colspan="2" class="align-center">Performance Experience</th>
    </tr>
    <tr>
    <tr>
        <td>1 passenger</td>
        <td>${{ joy_ride_prices.1_pax|intcomma }}</td>
        <td>1 driver</td>
        <td>${{ performance_experience_prices.1_drv|intcomma }}</td>
    </tr>
    <tr>
        <td>2 passengers</td>
        <td>${{ joy_ride_prices.2_pax|intcomma }}</td>
        <td>2 drivers</td>
        <td>${{ performance_experience_prices.2_drv|intcomma }}</td>
    </tr>
    <tr>
        <td>3 passengers</td>
        <td>${{ joy_ride_prices.3_pax|intcomma }}</td>
        <td>3 drivers</td>
        <td>${{ performance_experience_prices.3_drv|intcomma }}</td>
    </tr>
    <tr>
        <td>4 passengers</td>
        <td>${{ joy_ride_prices.4_pax|intcomma }}</td>
        <td>4 drivers</td>
        <td>${{ performance_experience_prices.4_drv|intcomma }}</td>
    </tr>
    <tr>
        <td>>4 passengers</td>
        <td>${{ joy_ride_prices.cost_per_pax_gt_4|intcomma }} each</td>
        <td>>4 drivers</td>
        <td>${{ performance_experience_prices.cost_per_drv_gt_4|intcomma }} each</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Passengers</td>
        <td>${{ performance_experience_prices.cost_per_pax|intcomma }} each</td>
    </tr>
</table>
