<div id="reservation_details">

    <p class="reservation-info">
        The PRI Joy Ride<sup>SM</sup> program is a unique experience for those who would like to experience exotic and
        performance cars without the cost and requirements of a normal car rental. All ages are welcome (though minors
        require a parental consent form), there are no insurance or damage deposit requirements, and you'll get an
        unforgettable experience like no other!
    </p>

    <p class="reservation-info">
        Our professional drivers will take up to four passengers for a run through the heart of New York's Hudson
        Highlands. You'll experience the performance and handling characteristics of two entirely different cars
        for over an hour as we take you on a cruise through some of the best driving roads in the country.
    </p>

    <p class="reservation-info">
        You'll also receive professional photos and video footage of your Joy Ride<sup>SM</sup> on DVD to share with
        family and friends for free! We also offer custom album printing and framing for the perfect memory of your ride.
    </p>

    <table class="inputform details">
        <tr class="vehicle-pick-buttons hidden">
            <td class="align-top">Pick Your Vehicles</td>
            <td>
                <button class="btn pick-vehicles-btn" type="car" style="margin-right: 16px;">Cars</button>
                <span class="vehicles-picked" style="margin-left: 20px;"></span>
            </td>
        </tr>
        <tr class="vehicle-choice">
            <td>Vehicle Choice ##1</td>
            <td>
                {{ form.vehicle_choice_1 }}
            </td>
        </tr>
        <tr class="vehicle-choice">
            <td>Vehicle Choice ##2</td>
            <td>
                {{ form.vehicle_choice_2 }}
            </td>
        </tr>
        <tr class="vehicle-choice">
            <td>Vehicle Choice ##3</td>
            <td>
                {{ form.vehicle_choice_3 }}
            </td>
        </tr>
        <tr>
            <td>Number of Passengers</td>
            <td>
                {{ form.num_passengers }}
            </td>
        </tr>
        <tr>
            <td>Number of Minors</td>
            <td>
                {{ form.num_minors }}
            </td>
        </tr>
        <tr>
            <td>Requested Date</td>
            <td>
                {{ form.requested_date }}
            </td>
        </tr>
        <tr>
            <td>Alternate Date</td>
            <td>
                {{ form.backup_date }}
                <small class="tooltip" title="{{ form.backup_date.help_text }}">
                    <span class="ui-icon ui-icon-info"></span>
                </small>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                {{ form.email }}
            </td>
        </tr>
        <tr>
            <td>Big and Tall</td>
            <td>
                {{ form.big_and_tall }}
                <small class="tooltip" title="{{ form.big_and_tall.help_text }}">
                    <span class="ui-icon ui-icon-info"></span>
                </small>
            </td>
        </tr>
        <tr>
            <td>Discount/Coupon Code</td>
            <td>
                {{ form.coupon_code }}
            </td>
        </tr>
        <tr>
            <td class="align-top">Notes/Requests</td>
            <td>
                {{ form.customer_notes }}
            </td>
        </tr>

        <tr class="buttons">
            <td></td>
            <td>
                <button type="submit" name="details_btn" class="btn reserve-joyride-details-btn">Continue</button>
                <div class="spinner next-form-spinner identity-spinner"></div>
            </td>
        </tr>
    </table>

</div>

<div class="exception hidden" id="reservation_details_error">
    <h3>An error occurred</h3>
    <p class="alert-message"></p>
</div>
