<div id="reservation_details">

    <p class="reservation-info">
    The PRI Joy Ride<sup>SM</sup> program is a unique experience for those who would like to experience exotic and performance cars without the cost and requirements of a normal car rental. All ages are welcome (though minors
    require a parental consent form), there are no insurance or damage deposit requirements, and you'll get an unforgettable experience like no other!
    </p>

    <p class="reservation-info">
    Our professional drivers will take up to four passengers for a run through the heart of New York's Hudson Highlands. You'll experience the performance and handling characteristics of two entirely different cars for over an hour as we take you on a cruise through some of the best driving roads in the country.
    </p>

    <p class="reservation-info">
    You'll also receive professional photos and video footage of your Joy Ride<sup>SM</sup> on DVD to share with family and friends for free! We also offer custom album printing and framing for the perfect memory of your ride.
    </p>

    <table class="inputform details">
        <tr class="vehicle-pick-buttons hidden">
            <td class="align-top">Pick Your Vehicles</td>
            <td>
                <button class="btn pick-vehicles-btn" type="car" style="margin-right: 16px;">Cars</button>
                <span class="vehicles-picked" style="margin-left: 20px;"></span>
            </td>
        </tr>
        <tr class="vehicle-choice">
            <td>Vehicle Choice ##1</td>
            <td>
                {{ form.vehicle_choice_1 }}
                <cfselect name="choice1">
                    <option value="0">(Choose Vehicle)</option>
                    <optgroup label="Cars">
                        <cfloop query="Vehicles">
                            <cfif type IS 1>
                                <option value="#vehicleid#" <cfif JoyPerf.choice1 IS vehicleid>selected</cfif>>#make# #model#</option>
                            </cfif>
                        </cfloop>
                    </optgroup>
                </cfselect>
            </td>
        </tr>
        <tr class="vehicle-choice">
            <td>Vehicle Choice ##2</td>
            <td>
                {{ form.vehicle_choice_2 }}
                <cfselect name="choice2">
                    <option value="0">(Choose Vehicle)</option>
                    <optgroup label="Cars">
                        <cfloop query="Vehicles">
                            <cfif type IS 1>
                                <option value="#vehicleid#" <cfif JoyPerf.choice2 IS vehicleid>selected</cfif>>#make# #model#</option>
                            </cfif>
                        </cfloop>
                    </optgroup>
                    <optgroup label="Motorcycles">
                        <cfloop query="Vehicles">
                            <cfif type IS 2>
                                <option value="#vehicleid#" <cfif JoyPerf.choice2 IS vehicleid>selected</cfif>>#make# #model#</option>
                            </cfif>
                        </cfloop>
                    </optgroup>
                </cfselect>
            </td>
        </tr>
        <tr class="vehicle-choice">
            <td>Vehicle Choice ##3</td>
            <td>
                {{ form.vehicle_choice_3 }}
                <cfselect name="choice3">
                    <option value="0">(Choose Vehicle)</option>
                    <optgroup label="Cars">
                        <cfloop query="Vehicles">
                            <cfif type IS 1>
                                <option value="#vehicleid#" <cfif JoyPerf.choice3 IS vehicleid>selected</cfif>>#make# #model#</option>
                            </cfif>
                        </cfloop>
                    </optgroup>
                    <optgroup label="Motorcycles">
                        <cfloop query="Vehicles">
                            <cfif type IS 2>
                                <option value="#vehicleid#" <cfif JoyPerf.choice3 IS vehicleid>selected</cfif>>#make# #model#</option>
                            </cfif>
                        </cfloop>
                    </optgroup>
                </cfselect>
            </td>
        </tr>
        <tr>
            <td>Number of Passengers</td>
            <td>
                {{ form.num_passengers }}
                <cfselect name="nopax" class="#StructKeyExists(fieldErrors,"nopax") ? 'field-error' : ''#">
                    <option value="1" <cfif JoyPerf.nopax IS 1>selected</cfif>>1</option>
                    <option value="2" <cfif JoyPerf.nopax IS 2>selected</cfif>>2</option>
                    <option value="3" <cfif JoyPerf.nopax IS 3>selected</cfif>>3</option>
                    <option value="4" <cfif JoyPerf.nopax IS 4>selected</cfif>>4</option>
                </cfselect>
            </td>
        </tr>
        <tr>
            <td>Number of Minors</td>
            <td>
                {{ form.num_minors }}
                <cfselect name="nominors" class="#StructKeyExists(fieldErrors,"nominors") ? 'field-error' : ''#">
                    <option value="0" <cfif JoyPerf.nominors IS 0>selected</cfif>>0</option>
                    <option value="1" <cfif JoyPerf.nominors IS 1>selected</cfif>>1</option>
                    <option value="2" <cfif JoyPerf.nominors IS 2>selected</cfif>>2</option>
                    <option value="3" <cfif JoyPerf.nominors IS 3>selected</cfif>>3</option>
                    <option value="4" <cfif JoyPerf.nominors IS 4>selected</cfif>>4</option>
                </cfselect>
            </td>
        </tr>
        <tr>
            <td>Requested Date</td>
            <td>
                {{ form.requested_date }}
                <cfinput name="reqdate" value="#JoyPerf.reqdate#" style="width: 120px;" placeholder="MM/DD/YYYY" class="#StructKeyExists(fieldErrors,"reqdate") ? 'field-error' : ''#" />
            </td>
        </tr>
        <tr>
            <td>Alternate Date</td>
            <td>
                {{ form.backup_date }}
                <cfinput name="bupdate" value="#JoyPerf.bupdate#" style="width: 120px;" placeholder="MM/DD/YYYY" class="#StructKeyExists(fieldErrors,"bupdate") ? 'field-error' : ''#" />
                <small class="tooltip" title="{{ form.backup_date.help_text }}"><span class="ui-icon ui-icon-info"></span></small>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                {{ form.email }}
                <cfinput name="email" value="#JoyPerf.email#" maxlength="255" class="#StructKeyExists(fieldErrors,"email") ? 'field-error' : ''#" />
            </td>
        </tr>
        {% comment %}
        <tr class="inline-password">
            <td>Password</td>
            <td>
                {{ form.password }}
                <cfinput name="inline_pass" type="password" value="#JoyPerf.inline_pass#" placeholder="(If returning customer)" class="#StructKeyExists(fieldErrors,"login_pass") ? 'field-error' : ''#" />
            </td>
        </tr>
        {% endcomment %}
        <tr>
            <td>Big and Tall</td>
            <td>
                {{ form.big_and_tall }}
                <cfselect name="bigtall">
                    <option value="0" <cfif JoyPerf.bigtall IS 0>selected</cfif>>No</option>
                    <option value="1" <cfif JoyPerf.bigtall IS 1>selected</cfif>>Yes</option>
                </cfselect>
                <small class="tooltip" title="{{ form.big_and_tall.help_text }}"><span class="ui-icon ui-icon-info"></span></small>
            </td>
        </tr>
        <tr>
            <td>Discount/Coupon Code</td>
            <td>
                {{ form.coupon_code }}
                <cfinput name="coupon" value="#JoyPerf.coupon#" maxlength="20" placeholder="(Optional)" class="#StructKeyExists(fieldErrors,"coupon") ? 'field-error' : ''#" />
            </td>
        </tr>
        <tr>
            <td class="align-top">Notes/Requests</td>
            <td>
                {{ form.customer_notes }}
{#                    <cftextarea name="notes" class="#StructKeyExists(fieldErrors,"notes") ? 'field-error' : ''#">#JoyPerf.notes#</cftextarea>#}
            </td>
        </tr>

        <cfif NOT IsDefined("IdentityResult") OR NOT IdentityResult.success OR (IsDefined("LoginResult") AND NOT LoginResult.success)>
        <tr class="buttons">
            <td></td>
            <td>
                <button type="submit" name="details_btn" class="btn reserve-joyride-details-btn">Continue</button>
                <div class="spinner next-form-spinner identity-spinner"></div>
            </td>
        </tr>
        </cfif>
    </table>

</div>

<div class="exception hidden" id="reservation_details_error">
    <h3>An error occurred</h3>
    <p class="alert-message"></p>
</div>
