{{ price_data }}
<table class="price-breakdown small-item-data">
    <tr>
        <td><span class="price-nopax"></span></td>
        <td>$<span class="price-paxcost"></span></td>
        <td></td>
    </tr>
    <tr class="specific-discount">
        <td><span class="price-specific-discount-label"></span></td>
        <td>- $<span class="price-specific-discount"></span></td>
        <td></td>
    </tr>
    <tr>
        <td>Subtotal</td>
        <td>$<span class="price-subtotal"></span></td>
        <td></td>
    </tr>
    <tr>
        <td>Tax (<span class="price-tax-rate"></span>%)</td>
        <td>$<span class="price-tax"></span></td>
        <td></td>
    </tr>
    <tr class="total">
        <td>Total</td>
        <td>$<span class="price-total"></span></td>
        <td></td>
    </tr>
</table>