{% extends "front_site/base.html" %}
{% load static %}

{% block page %}Joy Ride{% endblock %}

{% block content %}

    <div class="reservation-pics-sidebar">
        <img src="{% static "images/joyride.png" %}" />
    </div>

    <div class="reservation-form-sidebar">

        <form
            method="POST"
            name="reservation_form"
            id="reservation_form"
            {% if form_type == "login" %}
                action="{% url "joy-ride-login" %}"
            {% elif form_type == "payment" %}
                action="{% url "joy-ride-payment" %}"
            {% else %}
                action="{% url "joy-ride" %}"
            {% endif %}
            onsubmit="return false;"
            autocomplete="on"
        >

            {% if form.errors %}
                <div class="exception" id="reservation_form_error">
                    <h3>An error occurred</h3>
                    <p class="alert-message">#formError#</p>
                    {{ form.errors }}
                </div>
            {% endif %}

            <div id="details_form_container">
                {% include "front_site/joy_ride/details_form.html" %}
            </div>

            {% with reservation_type='joyride' %}
                <div id="login_form_container">
                    {% if form_type == "login" %}
                        {% include "front_site/joy_ride/login_form.html" %}
                    {% endif %}
                </div>

                <div id="payment_form_container">
                    {% if form_type == "payment" %}
                        {% include "front_site/joy_ride/payment_form.html" %}
                    {% endif %}
                </div>
            {% endwith %}

            {% csrf_token %}
        </form>

    </div>

    {% include "global_includes/vehicle_picker.html" %}

    <div class="dialog" id="dialog_reset_password" title="Reset Password">
        <p>We will send you an email with a link to click on to receive your new password.</p>
    </div>

    <div class="dialog" id="dialog_reset_password_done" title="Reset Password">
        <p>
            An email has been sent to you containing a link to follow to receive your new password. Afterwards, please
            return here to continue with your reservation.
        </p>
    </div>

{% endblock %}
