<div id="delivery_pricing" style="display: none;">
    <p>We deliver our vehicles to most locations within the New York City tri-state area. Delivery rates are as follows:</p>
    <table class="small-item-data delivery-pricing" style="margin-left: 0px;">
        <tr>
            <td>Rockland County</td>
            <td>Free</td>
       </tr>
       <tr>
            <td>Manhattan*</td>
            <td>Free</td>
       </tr>
       <tr>
            <td>Westchester Airport</td>
            <td>Free</td>
       </tr>
       <tr>
            <td>Orange County (south of Newburgh)</td>
            <td>Free</td>
       </tr>
       <tr>
            <td>Northern NJ / Bergen / Passaic County</td>
            <td>Free</td>
       </tr>
       <tr>
            <td>Metro NYC / JFK / LGA*</td>
            <td>$99 each way</td>
       </tr>
       <tr>
            <td>Long Island / Connecticut</td>
            <td>$139 each way</td>
       </tr>
       <tr>
            <td>South NJ / Philadelphia</td>
            <td>$159 each way</td>
       </tr>
       <tr>
            <td>Other areas</td>
            <td>$2.00 / mile</td>
       </tr>
    </table>
    <p>
* Due to the nature of Manhattan and the NYC metro area, some locations may be difficult for us to deliver a vehicle due to parking or
standing regulations. In such case we may pick you up and transport you to a suitable location at which to conduct the vehicle
familiarization process and any required paperwork.
    </p>
</div>