{% extends "backoffice/consigner/base.html" %}
{% load humanize %}

{% block content %}

    {% if consigner %}
        <h2>Edit Owner</h2>
    {% else %}
        <h2>Add Owner</h2>
    {% endif %}

    {% if consigner %}
        <div class="consigner-history">

            <table class="data proceeds">
                <tr>
                    <th>Vehicle</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Gross to Date</th>
                </tr>
                {% for transaction in consigner.revenue_history.history %}

                    {% if transaction.is_rental %}

                        <tr>
                            <td><a href="{% url "backoffice:rental-detail" pk=transaction.id %}">{{ transaction.vehicle.vehicle_name }}</a></td>
                            <td>{{ transaction.out_date|date:"m/d/Y" }}</td>
                            <td class="numeric">${{ transaction.final_price_data.post_multi_day_discount_subtotal|intcomma }}</td>
                            <td class="numeric">${{ transaction.running_total|intcomma }}</td>
                        </tr>

                    {% else %}

                        <tr class="payment">
                            <td><a href="{% url "backoffice:consignmentpayment-detail" pk=transaction.id %}">Payment {{ transaction.id }}</a></td>
                            <td>{{ transaction.paid_at|date:"m/d/Y" }}</td>
                            <td class="numeric">(${{ transaction.amount|intcomma }})</td>
                            <td class="numeric"></td>
                        </tr>

                    {% endif %}

                {% endfor %}

                <tbody class="totals">
                    <tr>
                        <td>Total revenue:</td>
                        <td></td>
                        <td></td>
                        <td class="numeric">${{ consigner.revenue_history.total_revenue|intcomma }}</td>
                    </tr>
                    <tr class="payment">
                        <td>Total paid:</td>
                        <td></td>
                        <td></td>
                        <td class="numeric">(${{ consigner.revenue_history.total_paid|intcomma }})</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}

    {% include "backoffice/includes/form_error.html" %}

    {% if consigner %}
        <form method="POST" action="{% url "backoffice:consigner-detail" pk=consigner.id %}">
    {% else %}
        <form method="POST" action="{% url "backoffice:consigner-create" %}">
    {% endif %}

        <table class="inputform consigners" style="width: 700px;">
            <tr>
                <td>First Name</td>
                <td>
                    {{ form.first_name }}
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    {{ form.last_name }}
                </td>
            </tr>
            <tr>
                <td>Email</td>
                {% if consigner %}
                    <td>
                        {{ consigner.user.email }}
                    </td>
                {% else %}
                    <td>{{ form.email }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Password</td>
                {% if consigner %}
                    <td>
                        <a href="{% url "admin:auth_user_password_change" id=consigner.user.id %}">Change password</a>
                        <input type="hidden" id="id_password" name="password" value="{{ consigner.user.password }}" />
                    </td>
                {% else %}
                    <td>{{ form.password }}</td>
                {% endif %}
            </tr>
            {% if consigner %}
                <tr>
                    <td class="align-top">Vehicles</td>
                    <td style="vertical-align: top;">
                        <ul class="consigner-vehicles">
                            {% for vehicle in consigner.vehicle_set.all %}
                                <a href="{% url "backoffice:vehicle-detail" pk=vehicle.id %}"><li>{{ vehicle.vehicle_name }}</li></a>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td class="align-top">Notes</td>
                <td>
                    {{ form.notes }}
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <button class="btn" type="submit" name="edit">
                        {% if consigner %}
                            Edit
                        {% else %}
                            Add
                        {% endif %}
                    </button>
                    {% if consigner %}
                        <button
                            class="btn delete"
                            type="submit"
                            name="delete"
                            onclick="return confirmDelete(this.form, '{% url "backoffice:consigner-delete" pk=consigner.id %}', 'owner')"
                        >
                            Delete Owner
                        </button>
                    {% endif %}
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>

{% endblock %}