{% extends "backoffice/consigner/base.html" %}

{% block content %}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
        <tr>
            <th col="id" default-sort="desc">ID</th>
            <th col="last_name" colspan="2">Name</th>
            <th col="user__email">Email</th>
            <th>Vehicles</th>
        </tr>
        {% for consigner in consigner_list %}
            <tr class="clickable click-to-edit" destination="{% url "backoffice:consigner-detail" pk=consigner.id %}">
                <td><a href="{% url "backoffice:consigner-detail" pk=consigner.id %}">{{ consigner.id }}</a></td>
                <td>{{ consigner.first_name }}</td>
                <td>{{ consigner.last_name }}</td>
                <td><a href="mailto:{{ consigner.email }}">{{ consigner.user.email }}</a></td>
                <td>{{ consigner.vehicle_names_with_links|safe }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
