{% extends "backoffice/newsletter_subscription/base.html" %}

{% block content %}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <form method="POST">
        <table class="data alternating" sortedby="{{ sortby }}">
            <tr>
                <th col="id" default-sort="desc">ID</th>
                <th col="email">Email</th>
                <th col="full_name">Name</th>
                <th>Confirmed</th>
                <th col="created_at" default-sort="desc">Subscribed</th>
                <th></th>
            </tr>
            {% for subscription in newslettersubscription_list %}
                <tr>
                    <td>{{ subscription.id }}</td>
                    <td><a href="mailto:{{ subscription.email }}">{{ subscription.email }}</a></td>
                    <td>{{ subscription.full_name }}</td>
                    <td>{% if subscription.confirmed_at %}&#10003;{% endif %}</td>
                    <td>{{ subscription.created_at|date:"m/d/Y" }}</td>
                    <td>
                        <button
                            class="btn delete"
                            type="submit"
                            name="delete"
                            onclick="return confirmDelete(this.form, '{% url "backoffice:subscription-delete" pk=subscription.id %}', 'newsletter subscription')"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% csrf_token %}
    </form>

{% endblock %}
