{% extends "backoffice/consignment_payment/base.html" %}
{% load humanize %}

{% block content %}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
        <tr>
            <th col="id" default-sort="desc">ID</th>
            <th col="consigner__last_name">Name</th>
            <th>Email</th>
            <th>Amount</th>
            <th col="paid_at" default-sort="desc">Date</th>
            <th>Method</th>
        </tr>
        {% for consignment_payment in consignmentpayment_list %}
            <tr class="clickable click-to-edit" destination="{% url "backoffice:consignmentpayment-detail" pk=consignment_payment.id %}">
                <td><a href="{% url "backoffice:consignmentpayment-detail" pk=consignment_payment.id %}">{{ consignment_payment.id }}</a></td>
                <td>{{ consignment_payment.consigner.full_name }}</td>
                <td>{{ consignment_payment.consigner.user.email }}</td>
                <td>${{ consignment_payment.amount|intcomma }}</td>
                <td>{{ consignment_payment.paid_at|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ consignment_payment.method }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
