{% extends "backoffice/survey_response/base.html" %}
{% load bbcode_tags %}

{% block content %}

    <ul class="drop-right">
        Requested Vehicles:
        {% for vehicle_type in vehicle_types %}
            <li>{{ vehicle_type.vehicle_type_count }} - {{ vehicle_type.label }}</li>
        {% endfor %}
    </ul>

    <table class="inputform noinput" style="width: 40%; margin-bottom: 40px;">
        <tr>
            <th colspan="3" class="header">Averages</th>
        </tr>
        <tr>
            <td>PRI Rating</td>
            <td>{{ average_labels.general_rating.label }}</td>
            <td>{{ averages.general_rating|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Rentals/Year</td>
            <td>{{ average_labels.rental_frequency.label }}</td>
            <td>{{ averages.rental_frequency|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Vehicle</td>
            <td>{{ average_labels.vehicle_rating.label }}</td>
            <td>{{ averages.vehicle_rating|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Would Recommend</td>
            <td>{{ average_labels.would_recommend.label }}</td>
            <td>{{ averages.would_recommend|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Pricing</td>
            <td>{{ average_labels.pricing.label }}</td>
            <td>{{ averages.pricing|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ average_labels.email_frequency.label }}</td>
            <td>{{ averages.email_frequency|floatformat:2 }}</td>
        </tr>
    </table>

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
        <tr>
            <th col="id" default-sort="desc">ID</th>
            <th col="customer__last_name">Customer</th>
            <th col="created_at" default-sort="desc">Date</th>
            <th>PRI Rating</th>
            <th>Frequency</th>
            <th>Vehicle</th>
            <th>Recommend</th>
            <th>Pricing</th>
            <th>Email</th>
            <th>Types</th>
            <th>Comments</th>
            <th></th>
        </tr>
        {% for response in surveyresponse_list %}
            <form method="POST" action="#CGI.SCRIPT_NAME#">
                <tr class="clickable survey" itemid="{{ response.id }}">
                    <td>{{ response.id }}</td>
                    <td>
                        {% if response.customer %}
                            <a href="{% url "backoffice:customer-detail" pk=response.customer.id %}">{{ response.customer.full_name }}</a>
                        {% endif %}
                    </td>
                    <td>{{ response.created_at|date:"m/d/Y" }}</td>
                    <td>{{ response.general_rating }} - {{ response.get_general_rating_display }}</td>
                    <td>{{ response.get_rental_frequency_display }}</td>
                    <td>{{ response.vehicle_rating }} - {{ response.get_vehicle_rating_display }}</td>
                    <td>{{ response.get_would_recommend_display }}</td>
                    <td>{{ response.pricing }} - {{ response.get_pricing_display }}</td>
                    <td>{{ response.get_email_frequency_display }}</td>
                    <td class="no-overflow" style="max-width: 100px;">{{ response.get_vehicle_types_display }}</td>
                    <td class="no-overflow" style="max-width: 100px;">{{ response.comments }}</td>
                    <td><button class="btn delete" type="submit" name="delete" onclick="event.stopPropagation(); return confirmDelete(this.form, '{% url "backoffice:surveyresponse-delete" pk=response.id %}', 'survey result')">Delete</button></td>
                </tr>
                <div class="hidden dialog-survey" surveyid="{{ response.id }}" title="Survey Details">
                    <h4>Heard about:</h4>
                    <p>{{ response.heard_about|bbcode|safe }}</p>
                    <h4>New Vehicles:</h4>
                    <p>{{ response.new_vehicles|bbcode|safe }}</p>
                    <h4>Comments:</h4>
                    <p>{{ response.comments|bbcode|safe }}</p>
                </div>
                {% csrf_token %}
            </form>
        {% endfor %}
    </table>

{% endblock %}
