{% extends "backoffice/tax_rate/base.html" %}

{% block content %}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
        <tr>
            <th col="id" default-sort="desc">ID</th>
            <th col="postal_code">Zipcode</th>
            <th col="date_updated" default-sort="desc">Refreshed</th>
            <th col="total_rate">Rate</th>
        </tr>
        {% for taxrate in taxrate_list %}
            <tr class="clickable click-to-edit" destination="{% url "backoffice:taxrate-detail" pk=taxrate.id %}">
                <td><a href="{% url "backoffice:taxrate-detail" pk=taxrate.id %}">{{ taxrate.id }}</a></td>
                <td>{{ taxrate.postal_code }}</td>
                <td>{{ taxrate.date_updated|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ taxrate.total_rate_as_percent }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
