{% load static %}

<!DOCTYPE HTML>
<html>
{% include "backoffice/includes/head.html" %}
<body>

    {% if user.is_authenticated %}
        <div class="header">
            <div id="header_logo">
                <a href="{% url "backoffice:home" %}"><img src="{% static "backoffice/images/PRI_logo_header.png" %}" /></a>
            </div>

            {% include "backoffice/includes/menu/menu.html" %}
        </div>
    {% endif %}

    {% block nav %}{% endblock %}

    <div class="{% block content_class %}content{% endblock %}">

        {% block content %}{% endblock %}

    </div>

</body>
</html>
