{% extends "backoffice/base.html" %}
{% load static humanize %}

{% block nav %}
    <h1 class="pageheader">Status (Waiting Room)
        <ul class="nav_subpage" style="left: 340px;">
            <a href="{% url "backoffice:home-add-post" %}"><li>Post to BBS</li></a>
            <a href="{% url "backoffice:home" %}"><li>BBS (Recent)</li></a>
        </ul>
    </h1>
{% endblock %}

{% block content_class %}{% endblock %}

{% block content %}
    <table border=0 cellspacing=0 cellpadding=5 width=100%>
        <tr>
            <td valign=top class="clear" rowspan=3>
                {% block bbs %}
                    {% include "backoffice/includes/bbs/list_waiting_room.html" %}
                {% endblock %}
            </td>

            <td class="statistics">
                {% include "backoffice/includes/admin_table.html" %}

                <small><b>fact:</b> we have ({{ customers.count }}) <a href="{% url "backoffice:customer-list" %}">customer{{ customers.count|pluralize }}</a></small><br>
                <small><b>fact:</b> we have ({{ upcoming_rentals.count }}) upcoming <a href="{% url "backoffice:rental-list" %}">rental{{ upcoming_rentals.count|pluralize }}</a></small><br>
                <small><b>fact:</b> we have ({{ newsletter_subscriptions.count }}) <a href="{% url "backoffice:massemail-compose-plaintext" %}">newsletter sub{{ newsletter_subscriptions.count|pluralize }}</a></small><br>

                {% if user.employee.admin_access %}
                    <small><b>fact:</b> we've made (${{ gift_certificate_total|floatformat:2|intcomma }}) from gift certificates</small><br>
                    <small><b>fact:</b> we've hoovered up (${{ ad_hoc_payment_total|floatformat:2|intcomma }}) in substitute payments</small><br>
                    <small><b>fact:</b> we've acquired (${{ guided_drive_total|floatformat:2|intcomma }}) from joyrides and perf exps</small><br>
                    <small><b>fact:</b> we've absconded with (${{ rental_total|floatformat:2|intcomma }}) from rentals</small><br>
                    <small><b>fact:</b> all told we've made (${{ all_bucks|floatformat:2|intcomma }}) since ever</small><br>
                {% endif %}
            </td>
        </tr>
    </table>

    <div id="livecalendar">
    </div>
{% endblock %}