{% extends "backoffice/base.html" %}
{% load static %}

{% block content_class %}{% endblock %}

{% block content %}

    <h1 class="pageheader" style="background-color: #fff"></h1>

    <div id="content">

        <div id="admlist">
            {% include "backoffice/includes/admin_table.html" %}
        </div>

        <a href="{% url "backoffice:home" %}"><img src="{% static "backoffice/images/PRI_logo_adm.jpg" %}" width="500" height="131" border=0 hspace=0 vspace=0 alt="PRI Administration"></a>

        <br />

        <p>
            Performance Rentals Administration Tool. All access to this area is <b>restricted and logged</b>.
        </p>
        <p>
            You are responsible for data security. Do not leave logged in sessions unattended for any reason.
        </p>
        <p>
            <b>Do not access this area from foreign/insecure networks.</b>
        </p>

    </div>

    <script type="text/javascript">
    activityTrackerExempt = true;
    </script>
{% endblock %}
