{% load static %}

<!DOCTYPE HTML>
<html>
{% include "backoffice/includes/head.html" %}
<body>

{% block content %}
    <div id="content" class="loginwrap">
        <div class="logincontent">

        <h1>Performance Rentals - Administration Login</h1>

            <div class="login-form-container">

                <form action="" method="post">
                    {% csrf_token %}
                    <div class="loginform">
                        {% include "two_factor/login_form.html" %}
                        {% block next %}<input type="hidden" name="next" value="{% url "backoffice:landing" %}" />{% endblock %}
                    </div>
                </form>

            </div>

            <table class="loginhostinfo">
                <tr>
                    <td>IP</td>
                    <td>{{ request.remote_ip }}</td>
                </tr>
                <tr>
                    <td>HOST</td>
                    <td>{{ request.remote_host }}</td>
                </tr>
            </table>

            <div class="loginwarning">
                <p>ONLY <b>PERFORMANCE RENTALS</b> PERSONNEL ARE ALLOWED BEYOND THIS POINT.</p>
                <p>ALL ACCESS IS LOGGED.</p>
                <p>UNAUTHORIZED ACCESS ATTEMPTS WILL BE REPORTED TO THE <b>UNITED STATES FEDERAL AUTHORITIES</b>.</p>
                <img width="180" height="120" src="{% static "backoffice/images/fbi.gif" %}" />
            </div>

        </div>
    </div>

{% endblock %}

</body>
</html>
