{% extends "accounts/base.html" %}

{% block content %}{% endblock %}

{% block login_content %}

    <div class="login-form-container">

{#        {% include "two_factor/core/login.html" %}#}

        <form action="" method="post">
            {% csrf_token %}
            <div class="loginform">
                {% include "two_factor/login_form.html" %}
                {% block next %}<input type="hidden" name="next" value="{% url "backoffice:home" %}" />{% endblock %}
            </div>
        </form>

    </div>

{% endblock %}