{% comment %}
<CFQUERY NAME="pReservations" DATASOURCE="#DSN#">
    SELECT count(*) as TotalOf FROM Reservations
    WHERE status = 0
</CFQUERY>
<CFQUERY NAME="pRentals" DATASOURCE="#DSN#">
    SELECT count(*) as TotalOf FROM Rentals
    WHERE status <= 2
    AND Now() BETWEEN dateout AND dateback
</CFQUERY>
<CFQUERY NAME="Vehicles" DATASOURCE="#DSN#">
    SELECT vehicleid,mileage FROM Vehicles
    WHERE status = 1
</CFQUERY>
<CFSET maintCount = 0>
<CFLOOP QUERY="Vehicles">
    <CFQUERY NAME="Maintenance" DATASOURCE="#DSN#" cachedWithin="#tHour#">
        SELECT maintid,stamp,mileage FROM Maintenance
        WHERE vehicleid = #vehicleid#
        AND mileage < #mileage#
    </CFQUERY>
    <CFIF Maintenance.recordcount GT 0>
        <CFSET maintCount = maintCount+Maintenance.recordcount>
    </CFIF>
</CFLOOP>
<CFQUERY NAME="pDamage" DATASOURCE="#DSN#" cachedWithin="#tHour#">
    SELECT count(*) as TotalOf FROM Damage
    WHERE repaired = 0
</CFQUERY>
<CFQUERY NAME="pJoyRide" DATASOURCE="#DSN#">
    SELECT count(*) as TotalOf FROM JoyPerf
    WHERE status = 0
    AND type = 1
</CFQUERY>
<CFQUERY NAME="pPerfExp" DATASOURCE="#DSN#">
    SELECT count(*) as TotalOf FROM JoyPerf
    WHERE status = 0
    AND type = 2
</CFQUERY>
<CFQUERY NAME="pGift" DATASOURCE="#DSN#">
    SELECT count(*) as TotalOf FROM GiftCerts
    WHERE ispaid = 0
</CFQUERY>
<CFQUERY NAME="pSub" DATASOURCE="#DSN#">
    SELECT count(*) as TotalOf FROM subp
    WHERE ispaid = 0 AND issub = 1
</CFQUERY>
<CFQUERY NAME="pPays" DATASOURCE="PRIAds">
    SELECT count(*) AS TotalOf FROM payments
    WHERE ispaid = 0
</CFQUERY>
<CFQUERY NAME="tdRentals" DATASOURCE="#DSN#" cachedWithin="#tMin#">
    SELECT * FROM Rentals,Customers
    WHERE Customers.customerid=Rentals.customerid
    AND status <= 3
    ORDER BY dateout
</CFQUERY>
<!---
<CFQUERY NAME="pTimeSheet" DATASOURCE="#DSN#">
    SELECT count(*) as TotalOf FROM timesheets
    WHERE issubmit = 1
    AND approved = 0
</CFQUERY>
--->
{% endcomment %}

<CFIF YourID.acclev IS 1 OR YourID.acclev IS 2>
<div class="toolmenu">
	<div class="popupbox" id="todolist">
		<CFSET todocount = 0>
		<ul class="navmenu">
		<CFOUTPUT QUERY="tdRentals">
			<CFIF status IS 1 AND depchargedon IS "">
				<li><a class="tnav" href="rentals.cfm?rentalid=#rentalid#">Charge deposit on #rentalid# (#fname# #lname#)</a></li>
				<CFSET todocount = todocount + 1>
			</CFIF>
			<CFIF status IS 3 AND deprefundon IS "">
				<li><a class="tnav" href="rentals.cfm?rentalid=#rentalid#">Refund deposit on #rentalid# (#fname# #lname#)</a></li>
				<CFSET todocount = todocount + 1>
			</CFIF>
			<CFIF status IS NOT 3 AND status IS NOT 4 AND coverage IS 0>
				<li><a class="tnav" href="rentals.cfm?rentalid=#rentalid#">Verify insurance on #rentalid# (#fname# #lname#)</a></li>
				<CFSET todocount = todocount + 1>
			</CFIF>
			<CFIF status IS NOT 3 AND status IS NOT 4 AND licensehist IS "">
				<li><a class="tnav" href="rentals.cfm?rentalid=#rentalid#">Background check on #rentalid# (#fname# #lname#)</a></li>
				<CFSET todocount = todocount + 1>
			</CFIF>
		</CFOUTPUT>
		</ul>
	</div>

	<div class="popupbox" id="prices">
		<CFINCLUDE TEMPLATE="inc_prices.cfm">
	</div>
	</CFIF>

	<a class="headermenu" id="priceslink" href="javascript:nop()">Prices</a>
	<a class="headermenu" id="todolistlink" href="javascript:nop()">To-Do List
	<CFIF todocount GT 0><span class="badgebubble"><CFOUTPUT>#todocount#</CFOUTPUT></span></CFIF>
	</a>
	<a class="headermenu" id="logoutlink" href="index.cfm?Exit=yes">Logout [<CFOUTPUT>#YourID.user#</CFOUTPUT>]</a>
</div>

<a id="opsmenulink" class="headermenu">Operations</a>

<div id="menu_ops" class="popupbox">
<ul class="navmenu">
<CFIF YourID.acclev IS 1 OR YourID.acclev IS 2>
	<li>
	<a class="tnav <CFIF scrpt IS "customers.cfm">selected</CFIF>" href="customers.cfm">Customers</a></li>
</CFIF>
<CFIF YourID.acclev IS 1 OR YourID.acclev IS 3>
	<li>
	<a class="tnav <CFIF scrpt IS "service.cfm">selected</CFIF>" href="service.cfm">Service</a>
	</li>
</CFIF>
<CFIF YourID.acclev IS 1 OR YourID.acclev IS 3>
	<li>
	<a class="tnav <CFIF scrpt IS "damage.cfm">selected</CFIF>" href="damage.cfm">Damage</a>
	</li>
</CFIF>
<CFIF YourID.acclev IS 1>
	<li>
	<a class="tnav <CFIF scrpt IS "gift.cfm">selected</CFIF>" href="gift.cfm">Gift Certificates</a>
	</li>
</CFIF>
<CFIF YourID.acclev IS 1>
	<li>
	<a class="tnav <CFIF scrpt IS "discounts.cfm">selected</CFIF>" href="discounts.cfm">Discount Codes</a>
	</li>
</CFIF>
<CFIF YourID.acclev IS 1>
	<li>
	<a class="tnav <CFIF scrpt IS "subpay.cfm">selected</CFIF>" href="subpay.cfm">Substitute Payments</a>
	</li>
</CFIF>
<CFIF YourID.acclev IS 1 OR YourID.acclev IS 4>
	<li>
	<a class="tnav <CFIF scrpt IS "survey.cfm">selected</CFIF>" href="survey.cfm">Survey Results</a>
	</li>
</CFIF>
<CFIF YourID.acclev IS 1>
	<li>
	<a class="tnav <CFIF scrpt IS "tards.cfm">selected</CFIF>" href="tards.cfm">Tards</a>
	</li>
</CFIF>
</ul>
</div>

<a id="vehiclesmenulink" class="headermenu">Vehicles</a>

<div id="menu_vehicles" class="popupbox">
<ul class="navmenu">
<CFIF YourID.acclev IS NOT 5>
	<li>
	<a class="tnav {% if page == "vehicles" %}selected{% endif %}" href="{% url "backoffice:vehicle-list" %}">Vehicles</a>
	</li>
</CFIF>
<CFIF YourID.acclev IS 1 OR YourID.acclev IS 2>
	<li>
	<a class="tnav <CFIF scrpt IS "reservations.cfm">selected</CFIF>" href="reservations.cfm">Reservations</a>
	</li>
</CFIF>
<CFIF YourID.acclev IS 1 OR YourID.acclev IS 2>
	<li>
	<a class="tnav <CFIF scrpt IS "rentals.cfm">selected</CFIF>" href="rentals.cfm">Rentals</a>
	</li>
</CFIF>
<CFIF YourID.acclev IS 1 OR YourID.acclev IS 2>
	<li>
	<a class="tnav <CFIF scrpt IS "joyperf.cfm">selected</CFIF>" href="joyperf.cfm">Performance Experiences</a>
	</li>
</CFIF>
<CFIF YourID.acclev IS 1 OR YourID.acclev IS 2>
	<li>
	<a class="tnav <CFIF scrpt IS "joyperf.cfm">selected</CFIF>" href="joyperf.cfm">Joy Rides</a>
	</li>
</CFIF>
</ul>
</div>

<a id="adminmenulink" class="headermenu">Administration</a>

<div id="menu_admin" class="popupbox">
<ul class="navmenu">
    <li>
        <a class="tnav <CFIF scrpt IS "accounts.cfm">selected</CFIF>" href="accounts.cfm">Accounts</a>
    </li>
<!---
    <li>
        <a class="tnav <CFIF scrpt IS "timesheet.cfm">selected</CFIF>" href="timesheet.cfm">Time Sheet</a>
    </li>
--->
    <CFIF YourID.acclev IS 1>
    <li>
        <a class="tnav <CFIF scrpt IS "employees.cfm">selected</CFIF>" href="employees.cfm">Employees</a>
    </li>
    </CFIF>
<!---
    <CFIF YourID.acclev IS 1>
    <li>
        <a class="tnav <CFIF scrpt IS "timeclock.cfm">selected</CFIF>" href="timeclock.cfm">Time Clock</a>
    </li>
    </CFIF>
    <CFIF YourID.acclev IS 1>
    <li>
        <a class="tnav <CFIF scrpt IS "mants.cfm">selected</CFIF>" href="mants.cfm">Manage Time Sheets</a>
    </li>
    </CFIF>
--->
    <CFIF YourID.acclev IS 1 OR YourID.acclev IS 4>
    <li>
        <a class="tnav <CFIF scrpt IS "massemail.cfm" OR scrpt IS "emailimg.cfm">selected</CFIF>" href="massemail.cfm">Mass Email</a>
    </li>
    </CFIF>
    <CFIF YourID.acclev IS 1 OR YourID.acclev IS 4>
    <li>
        <a class="tnav <CFIF scrpt IS "news.cfm">selected</CFIF>" href="news.cfm">News</a>
    </li>
    </CFIF>
    <CFIF YourID.acclev IS 1 OR YourID.acclev IS 4>
    <li>
        <a class="tnav <CFIF scrpt IS "content.cfm">selected</CFIF>" href="content.cfm">Content</a>
    </li>
    </CFIF>
    <CFIF YourID.acclev IS 1 OR YourID.acclev IS 4>
    <li>
        <a class="tnav <CFIF scrpt IS "newsletter.cfm">selected</CFIF>" href="newsletter.cfm">Newsletter Subscriptions</a>
    </li>
    </CFIF>
    <li>
        <a class="tnav <CFIF scrpt IS "bbs.cfm">selected</CFIF>" href="bbs.cfm">BBS</a>
    </li>
    <CFIF YourID.acclev IS 1>
    <li>
        <a class="tnav <CFIF scrpt IS "securitylogs.cfm">selected</CFIF>" href="securitylogs.cfm">Security</a>
    </li>
    </CFIF>
</ul>
</div>


<div class="legend">
    <CFIF YourID.acclev IS 1 OR YourID.acclev IS 2>
        <CFIF pReservations.TotalOf IS NOT 0>
            <a class="l_reservations" href="reservations.cfm?Option=1"><CFOUTPUT>#pReservations.TotalOf#</CFOUTPUT> Reservation<CFIF pReservations.TotalOf IS NOT 1>s</CFIF></a>
        </CFIF>
    </CFIF>
    <CFIF YourID.acclev IS 1 OR YourID.acclev IS 2>
        <CFIF pRentals.TotalOf IS NOT 0>
            <a class="l_rentals" href="rentals.cfm"><CFOUTPUT>#pRentals.TotalOf#</CFOUTPUT> Rental<CFIF pRentals.TotalOf IS NOT 1>s</CFIF> In Progress</a>
        </CFIF>
    </CFIF>
    <CFIF YourID.acclev IS 1 OR YourID.acclev IS 2>
        <CFIF pPerfExp.TotalOf IS NOT 0>
            <a class="l_perfexp" href="joyperf.cfm?Option=1"><CFOUTPUT>#pPerfExp.TotalOf#</CFOUTPUT> PerfExp<CFIF pPerfExp.TotalOf IS NOT 1>s</CFIF></a>
        </CFIF>
    </CFIF>
    <CFIF YourID.acclev IS 1 OR YourID.acclev IS 2>
        <CFIF pJoyRide.TotalOf IS NOT 0>
            <a class="l_joyride" href="joyperf.cfm?Option=1"><CFOUTPUT>#pJoyRide.TotalOf#</CFOUTPUT> Joy Ride<CFIF pJoyRide.TotalOf IS NOT 1>s</CFIF></a>
        </CFIF>
    </CFIF>
    <CFIF YourID.acclev IS 1 OR YourID.acclev IS 3>
        <CFIF maintCount IS NOT 0>
            <a class="l_service" href="service.cfm"><CFOUTPUT>#maintCount#</CFOUTPUT> Service<CFIF maintCount IS NOT 1>s</CFIF></a>
        </CFIF>
    </CFIF>
    <CFIF YourID.acclev IS 1 OR YourID.acclev IS 3>
        <CFIF pDamage.TotalOf IS NOT 0>
            <a class="l_damage" href="damage.cfm"><CFOUTPUT>#pDamage.TotalOf#</CFOUTPUT> Damage<CFIF pDamage.TotalOf IS NOT 1>s</CFIF></a>
        </CFIF>
    </CFIF>
    <CFIF YourID.acclev IS 1>
        <CFIF pGift.TotalOf IS NOT 0>
            <a class="l_gift" href="gift.cfm"><CFOUTPUT>#pGift.TotalOf#</CFOUTPUT> Gift Cert<CFIF pGift.TotalOf IS NOT 1>s</CFIF></a>
        </CFIF>
        <CFIF pSub.TotalOf IS NOT 0>
            <a class="l_subpay" href="subpay.cfm"><CFOUTPUT>#pSub.TotalOf#</CFOUTPUT> SubPay<CFIF pSub.TotalOf IS NOT 1>s</CFIF></a>
        </CFIF>
<!---
        <CFIF pTimesheet.TotalOf IS NOT 0>
            <a class="l_timesheet" href="mants.cfm"><CFOUTPUT>#pTimesheet.TotalOf#</CFOUTPUT> Unapproved Timesheet<CFIF pTimesheet.TotalOf IS NOT 1>s</CFIF></a>
        </CFIF>
--->
    </CFIF>
</div>
