{% extends "backoffice/base.html" %}

{% block page_vehicles_selected %}selected{% endblock %}

{% block nav %}
    <h1 class="pageheader">
        Vehicles
        <ul class="nav_subpage">
            <a href="{% url "backoffice:vehicle-list-active" %}">
                <li {% if active_only %}class="selected"{% endif %}>List Active</li>
            </a>
            <a href="{% url "backoffice:vehicle-list" %}">
                <li {% if is_unfiltered_list_view %}class="selected"{% endif %}>List All</li>
            </a>
            {% for vehicle_type in vehicle_types %}
                <a href="{% url "backoffice:vehicle-list" vehicle_type=vehicle_type.value %}">
                    <li {% if vehicle_type.value == selected_vehicle_type %}class="selected"{% endif %}>{{ vehicle_type.label }}s</li>
                </a>
            {% endfor %}
            <a href="{% url "backoffice:vehicle-create" %}">
                <li {% if is_create_view %}class="selected"{% endif %}>Add</li>
            </a>
        </ul>
    </h1>
{% endblock %}
