{% extends "backoffice/vehicle.html" %}

{% block content %}

    {% comment %}
    <cfif IsDefined("URL.deleted")>
        <p>Vehicle deleted successfully.</p>
    </cfif>

    <cfset sortCols = "vehicleid,make,model,year,status">

    <cfif NOT IsDefined("URL.sortby") OR NOT ListContains(sortCols, URL.sortby)>
        <cfset URL.sortby = "vehicleid">
    </cfif>
    <cfif NOT IsDefined("URL.sortdir") OR NOT ListContains("ASC,DESC", URL.sortdir)>
        <cfset URL.sortdir = "ASC">
    </cfif>
    <cfif NOT IsDefined("URL.page") OR NOT IsNumeric(URL.page) OR URL.page LT 1>
        <cfset URL.page = 1>
    </cfif>

    <CFQUERY NAME="allRecords" DATASOURCE="#DSN#">
        SELECT vehicleid FROM Vehicles
        WHERE 1
        <cfif IsDefined("Form.query")>
            AND (
                make LIKE <CFQUERYPARAM value="%#Form.query#%" CFSQLType="CF_SQL_VARCHAR"> OR
                model LIKE <CFQUERYPARAM value="%#Form.query#%" CFSQLType="CF_SQL_VARCHAR"> OR
                year LIKE <CFQUERYPARAM value="%#Form.query#%" CFSQLType="CF_SQL_VARCHAR">
            )
        </cfif>
        <cfif IsDefined("URL.type") AND IsValid("integer",URL.type)>
            AND type = <CFQUERYPARAM value="#URL.type#" CFSQLType="CF_SQL_INTEGER">
        </cfif>
        <cfif NOT (IsDefined("URL.showall") AND URL.showall IS 1)>
            AND status != 3
        </cfif>
    </CFQUERY>

    <cfset pageViewLink = getPageViewLink(allRecords.recordCount)>
    <CFSET Pages = pagesLink(#allRecords.recordCount#,#rowsperpage#,int(#URL.page#),#CGI.SCRIPT_NAME#,#URL#)>

    <CFQUERY NAME="Vehicles" DATASOURCE="#DSN#" result="result">
        SELECT Vehicles.vehicleid,make,model,year,type,plate,vin,mileage,damage,Vehicles.notes,policyno,policyco,policytel,
        status,weighting,tagnumber FROM Vehicles
        LEFT JOIN TollTags ON TollTags.vehicleid=Vehicles.vehicleid
        WHERE 1
        <cfif IsDefined("Form.query")>
            AND (
                make LIKE <CFQUERYPARAM value="%#Form.query#%" CFSQLType="CF_SQL_VARCHAR"> OR
                model LIKE <CFQUERYPARAM value="%#Form.query#%" CFSQLType="CF_SQL_VARCHAR"> OR
                year LIKE <CFQUERYPARAM value="%#Form.query#%" CFSQLType="CF_SQL_VARCHAR">
            )
        </cfif>
        <cfif IsDefined("URL.type") AND IsValid("integer",URL.type)>
            AND type = <CFQUERYPARAM value="#URL.type#" CFSQLType="CF_SQL_INTEGER">
        </cfif>
        <cfif NOT (IsDefined("URL.showall") AND URL.showall IS 1)>
            AND status != 3
        </cfif>
        ORDER BY #URL.sortby# #URL.sortdir#
        LIMIT #Pages.offset#,#Pages.thispage#
    </CFQUERY>

    <CFOUTPUT>
    <div class="pager">
    #pageViewLink#
    #Pages.pages#
    </div>
    </CFOUTPUT>
    {% endcomment %}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
     <tr>
        <th col="-id">ID</th>
        <th col="make">Make</th>
        <th col="model">Model</th>
        <th col="year">Year</th>
        <th>Type</th>
        <th col="status">Status</th>
        <th>Toll Tag</th>
        <th>Notes</th>
    </tr>
    {% for vehicle in vehicle_list %}
        <tr class="clickable click-to-edit" idfield="vehicleid" itemid="{{ vehicle.id }}">
            <td><a href="{% url "backoffice:vehicle-detail" pk=vehicle.id %}">{{ vehicle.id }}</a></td>
            <td>{{ vehicle.make }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.year }}</td>
            <td>
                {{ vehicle.get_vehicle_type_display }}
            </td>
            <td>
                {{ vehicle.get_status_display }}
            </td>
            <td>{{ vehicle.toll_tag_number }}</td>
            <td>{{ vehicle.notes }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
