<div id="reservation_details">

    <p class="reservation-info">
    The PRI Performance Experience<sup>SM</sup> is a way for you to get in on the thrill of driving our lineup of performance machines without having to commit to a full rental of a single car. At PRI, we know
    that our customers share the same passion for driving that we do, and sampling from the variety of different styles of sports cars on the market is a big part of the enthusiast's lifestyle. Let
    us indulge it!
    </p>

    <p class="reservation-info">
    We'll take you for a guided tour of Greater Tampa on some of the most amazing driving roads in the country, and you'll have the opportunity to spend quality time in the driver's seats
    of several different exotic and performance cars throughout the day.
    </p>

    <p class="reservation-info">
    Depending on the size of your party, you'll be able to experience three to six of our amazing cars (of your choice, depending on availability), with around half an hour of wheel time in each.
    You'll learn the performance and handling characteristics of each car and be treated to some of the best views and twisties New York has to offer.
    </p>

    <table class="inputform details">
        <tr class="vehicle-pick-buttons hidden">
            <td class="align-top">Pick Your Vehicles</td>
            <td>
                <button class="btn pick-vehicles-btn" type="car" style="margin-right: 16px;">Cars</button>
                {% if bikes_enabled %}
                    <button class="btn pick-vehicles-btn" type="bike">Bikes</button>
                {% endif %}
                <span class="vehicles-picked" style="margin-left: 20px;"></span>
            </td>
        </tr>
        <tr class="vehicle-choice">
            <td>Vehicle Choice ##1</td>
            <td>
                {{ form.vehicle_choice_1 }}
            </td>
        </tr>
        <tr class="vehicle-choice">
            <td>Vehicle Choice ##2</td>
            <td>
                {{ form.vehicle_choice_2 }}
            </td>
        </tr>
        <tr class="vehicle-choice">
            <td>Vehicle Choice ##3</td>
            <td>
                {{ form.vehicle_choice_3 }}
            </td>
        </tr>
        <tr>
            <td>Number of Drivers</td>
            <td>
                {{ form.num_drivers }}
            </td>
        </tr>
        <tr>
            <td>Number of Passengers</td>
            <td>
                {{ form.num_passengers }}
            </td>
        </tr>
        <tr>
            <td>Requested Date</td>
            <td>
                {{ form.requested_date }}
            </td>
        </tr>
        <tr>
            <td>Alternate Date</td>
            <td>
                {{ form.backup_date }}
                <small class="tooltip" title="We'll do our best to accommodate your first choice of date, but please pick an alternate just in case."><span class="ui-icon ui-icon-info"></span></small>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                {{ form.email }}
            </td>
        </tr>
        <tr>
            <td>Big and Tall</td>
            <td>
                {{ form.big_and_tall }}
                <small class="tooltip" title="{{ form.big_and_tall.help_text }}"><span class="ui-icon ui-icon-info"></span></small>
            </td>
        </tr>
        <tr>
            <td>Discount/Coupon Code</td>
            <td>
                {{ form.coupon_code }}
            </td>
        </tr>
        <tr>
            <td class="align-top">Notes/Requests</td>
            <td>
                {{ form.customer_notes }}
            </td>
        </tr>

        <tr class="buttons">
            <td></td>
            <td>
                <button type="submit" name="identity_btn" class="btn reserve-perfexp-details-btn">Continue</button>
                <div class="spinner next-form-spinner identity-spinner"></div>
            </td>
        </tr>
    </table>

</div>

{% with hidden="hidden" form_id="reservation_details_error" %}
    {% include "global_includes/form_errors.html" %}
{% endwith %}
