{% extends "backoffice/service/base.html" %}
{% load humanize bbcode_tags %}

{% block content %}

    <h2>Service History</h2>

    {{ vehicle_selector_form.select_vehicle }}

    {% if filter_vehicle %}

        {% include "backoffice/includes/paginator.html" %}

        <h3>Incidental Services</h3>

        {% if incidental_services %}

            <table class="data alternating" sortedby="{{ sortby }}">
                <tr>
                    <th col="id" default-sort="desc">ID</th>
                    <th>Vehicle</th>
                    <th>Title</th>
                    <th>Done On</th>
                    <th>Done Miles</th>
                    <th>Notes</th>
                </tr>
                {% for service in incidental_services %}
                    <tr class="clickable click-to-edit" destination="{% url "backoffice:service-detail-incidental" pk=service.id %}">
                        <td><a href="{% url "backoffice:service-detail-incidental" pk=service.id %}">{{ service.id }}</a></td>
                        <td>{{ service.vehicle.vehicle_name }}</td>
                        <td>{{ service.title }}</td>
                        <td>{{ service.done_at|date:"m/d/Y" }}</td>
                        <td>{{ service.mileage|default_if_none:""|intcomma }}</td>
                        <td class="truncate">{{ service.notes|bbcode|safe }}</td>
                    </tr>
                {% endfor %}
            </table>

        {% else %}

            <p class="no-records">(No records)</p>

        {% endif %}

        <h3>Scheduled Services</h3>

        {% if scheduled_services %}

            <table class="data alternating" sortedby="{{ sortby }}">
                <tr>
                    <th col="id" default-sort="desc">ID</th>
                    <th>Vehicle</th>
                    <th>Name</th>
                    <th>Done On</th>
                    <th>Done Miles</th>
                    <th>Next On</th>
                    <th>Next Miles</th>
                    <th>Due</th>
                    <th>Notes</th>
                </tr>
                {% for service in scheduled_services %}
                    <tr class="clickable click-to-edit" destination="{% url "backoffice:service-detail-scheduled" pk=service.id %}">
                        <td><a href="{% url "backoffice:service-detail-scheduled" pk=service.id %}">{{ service.id }}</a></td>
                        <td>{{ service.vehicle.vehicle_name }}</td>
                        <td>{{ service.name }}</td>
                        <td>{{ service.done_at|date:"m/d/Y" }}</td>
                        <td>{{ service.done_mileage|default_if_none:""|intcomma }}</td>
                        <td>{{ service.next_at|date:"m/d/Y" }}</td>
                        <td>{{ service.next_mileage|default_if_none:""|intcomma }}</td>
                        <td>{{ service.is_due }}</td>
                        <td class="truncate">{{ service.notes|bbcode|safe }}</td>
                    </tr>
                {% endfor %}
            </table>

        {% else %}

            <p class="no-records">(No records)</p>

        {% endif %}

    {% endif %}

{% endblock %}
