{% extends "backoffice/service/base.html" %}

{% block content %}

    {% if due_only %}
        <h2>Due Services</h2>
    {% elif upcoming_only %}
        <h2>Upcoming Services</h2>
    {% endif %}

    {% for vehicle in vehicle_list %}

        {% if vehicle.upcoming_services.exists %}

            <div class="vehicle-services type-#Vehicles.type#">
                <h3>{{ vehicle.vehicle_name }}</h3>

                {% for service in vehicle.upcoming_services %}
                    {% include "backoffice/service/service_detail.html" %}
                {% endfor %}
            </div>

        {% endif %}

    {% endfor %}

{% endblock %}
