{% extends "front_site/base.html" %}
{% load static %}

{% block page_title %}Newsletter{% endblock %}

{% block content %}

    <div class="reservation-pics-sidebar">
        <img src="{% static "images/newsletter.png" %}" />
    </div>

    <div class="reservation-form-sidebar">

        {% block newsletter_content %}
            <form method="POST" name="reservation_form" id="reservation_form" action="{% url "newsletter" %}" onsubmit="return false;" autocomplete="on">

                {% if form.errors %}
                    {% with form_id="reservation_form_error" %}
                        {% include "global_includes/form_errors.html" %}
                    {% endwith %}
                {% endif %}

                <div id="subscribe_payment">

                    <h3>Sign up for our newsletter!</h3>
                    <p class="reservation-info">
                        We often have all sorts of discounts, incentives and special events here at Performance Rentals.
                        Sign up with your name and email address below, and we'll let you know what's happening! Of course,
                        you may also <a href="{% url "newsletter-unsubscribe" %}">unsubscribe</a> at any time.
                    </p>

                    <table class="inputform payment">
                        <tr>
                            <td>Your Name</td>
                            <td>{{ form.full_name }}</td>
                        </tr>
                        <tr>
                            <td>Your Email</td>
                            <td>{{ form.email }}</td>
                        </tr>

                        {% if recaptcha_enabled %}
                            {% include "front_site/includes/recaptcha.html" %}
                        {% endif %}

                        <tr class="buttons">
                            <td></td>
                            <td>
                                <button type="submit" name="subscribe_btn" class="btn subscribe-complete-btn">Subscribe</button>
                                <div class="spinner next-form-spinner payment-spinner"></div>
                            </td>
                        </tr>
                    </table>

                </div>

                {% with hidden="hidden" form_id="reservation_subscribe_error" %}
                    {% include "global_includes/form_errors.html" %}
                {% endwith %}

                {% csrf_token %}
            </form>
        {% endblock %}

    </div>

{% endblock %}