{% extends "front_site/newsletter/subscribe.html" %}

{% block newsletter_content %}

    <form method="POST" name="reservation_form" id="reservation_form" action="{% url "newsletter-unsubscribe" %}" onsubmit="return false;" autocomplete="on">

        {% if form.errors %}
             {% with form_id="reservation_form_error" %}
                {% include "global_includes/form_errors.html" %}
            {% endwith %}
        {% endif %}

            <div id="subscribe_payment">

                <p class="reservation-info">
                    If you'd like to unsubscribe from our newsletter, simply enter your address below.
                </p>

                <table class="inputform payment">
                    <tr>
                        <td>Your Email</td>
                        <td>
                            {{ form.email }}
                        </td>
                    </tr>

                    <tr class="buttons">
                        <td></td>
                        <td>
                            <button type="submit" name="unsubscribe_btn" class="btn unsubscribe-complete-btn">Unsubscribe</button>
                            <div class="spinner next-form-spinner payment-spinner"></div>
                        </td>
                    </tr>
                </table>

            </div>

            {% with hidden="hidden" form_id="reservation_payment_error" %}
                {% include "global_includes/form_errors.html" %}
            {% endwith %}

        {% csrf_token %}
    </form>

{% endblock %}