{% extends "backoffice/guided_drive/base.html" %}

{% block content %}

    {% if event_type == event_types.JOY_RIDE %}
        {% if event %}
            <h2>Edit Joy Ride</h2>
        {% else %}
            <h2>Add Joy Ride</h2>
        {% endif %}
    {% elif event_type == event_types.PERFORMANCE_EXPERIENCE %}
       {% if event %}
            <h2>Edit Performance Experience</h2>
        {% else %}
            <h2>Add Performance Experience</h2>
        {% endif %}
    {% endif %}

    {{ form.errors }}
    {% if event_type == event_types.JOY_RIDE %}
        {% if event %}
            <form method="POST" action="{% url "backoffice:joyride-detail" pk=event.id %}">
        {% else %}
            <form method="POST" action="{% url "backoffice:joyride-create" %}">
        {% endif %}
    {% elif event_type == event_types.PERFORMANCE_EXPERIENCE %}
        {% if event %}
            <form method="POST" action="{% url "backoffice:perfexp-detail" pk=event.id %}">
        {% else %}
            <form method="POST" action="{% url "backoffice:perfexp-create" %}">
        {% endif %}
    {% endif %}

    <table class="inputform guideddrive">
        <tr>
            <td>Conf Code</td>
            <td>
                <cfinput type="hidden" name="confcode" value="#JoyPerf.confcode#" />
                {{ event.confirmation_code }}
            </td>
        </tr>
        <tr>
            <td>Event Type</td>
            <td>
                {{ event.get_event_type_display }}
                <cfselect name="type">
                    <option value="1" <cfif JoyPerf.type IS 1>selected</cfif>>Joy Ride</option>
                    <option value="2" <cfif JoyPerf.type IS 2>selected</cfif>>Performance Experience</option>
                </cfselect>
            </td>
        </tr>
        <cfquery name="Cars" datasource="#DSN#">
            SELECT vehicleid,make,model,year,status FROM Vehicles
            WHERE type = 1
            ORDER BY make
        </cfquery>
        <cfquery name="Motorcycles" datasource="#DSN#">
            SELECT vehicleid,make,model,year,status FROM Vehicles
            WHERE type = 2
            ORDER BY make
        </cfquery>
        <tr>
            <td>Vehicle Choice 1</td>
            <td>
                <cfselect name="choice1">
                    <option value="0">(None)</option>
                    <optgroup label="Cars">
                        <cfloop query="Cars">
                            <option value="#vehicleid#" <cfif Cars.vehicleid IS JoyPerf.choice1>selected</cfif>>#year# #make# #model#</option>
                        </cfloop>
                    </optgroup>
                    <optgroup label="Motorcycles">
                        <cfloop query="Motorcycles">
                            <option value="#vehicleid#" <cfif Motorcycles.vehicleid IS JoyPerf.choice1>selected</cfif>>#year# #make# #model#</option>
                        </cfloop>
                    </optgroup>
                </cfselect>
            </td>
        </tr>
        <tr>
            <td>Vehicle Choice 2</td>
            <td>
                <cfselect name="choice2">
                    <option value="0">(None)</option>
                    <optgroup label="Cars">
                        <cfloop query="Cars">
                            <option value="#vehicleid#" <cfif Cars.vehicleid IS JoyPerf.choice2>selected</cfif>>#year# #make# #model#</option>
                        </cfloop>
                    </optgroup>
                    <optgroup label="Motorcycles">
                        <cfloop query="Motorcycles">
                            <option value="#vehicleid#" <cfif Motorcycles.vehicleid IS JoyPerf.choice2>selected</cfif>>#year# #make# #model#</option>
                        </cfloop>
                    </optgroup>
                </cfselect>
            </td>
        </tr>
        <tr>
            <td>Vehicle Choice 3</td>
            <td>
                <cfselect name="choice3">
                    <option value="0">(None)</option>
                    <optgroup label="Cars">
                        <cfloop query="Cars">
                            <option value="#vehicleid#" <cfif Cars.vehicleid IS JoyPerf.choice3>selected</cfif>>#year# #make# #model#</option>
                        </cfloop>
                    </optgroup>
                    <optgroup label="Motorcycles">
                        <cfloop query="Motorcycles">
                            <option value="#vehicleid#" <cfif Motorcycles.vehicleid IS JoyPerf.choice3>selected</cfif>>#year# #make# #model#</option>
                        </cfloop>
                    </optgroup>
                </cfselect>
            </td>
        </tr>
        <tr>
            <td>Requested Date</td>
            <td>
                <cftry>
                    <cfset reqdate = DateFormat(JoyPerf.reqdate,"MM/DD/YYYY")>
                    <cfcatch type="Any">
                        <cfset reqdate = "">
                    </cfcatch>
                </cftry>
                <cfinput name="reqdate" value="#reqdate#" maxlength="20" class="short" />
            </td>
        </tr>
        <tr>
            <td>Backup Date</td>
            <td>
                <cftry>
                    <cfset bupdate = DateFormat(JoyPerf.bupdate,"MM/DD/YYYY")>
                    <cfcatch type="Any">
                        <cfset bupdate = "">
                    </cfcatch>
                </cftry>
                <cfinput name="bupdate" value="#bupdate#" maxlength="20" class="short" />
            </td>
        </tr>
        <tr>
            <td>Search Customer</td>
            <td>
                <cfinput name="customername" value="" maxlength="255" class="search" />
                <cfinput type="hidden" name="customerid" value="#Customer.customerid#" />
            </td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>
                <cfinput name="fname" value="#Customer.fname#" maxlength="255" class="newuserfield #Customer.customerid GT 0 ? 'dont-edit' : ''#" />
                <span customerid="#Customer.customerid#" class="matched-customer ui-icon ui-icon-person"></span>
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                <cfinput name="lname" value="#Customer.lname#" maxlength="255" class="newuserfield #Customer.customerid GT 0 ? 'dont-edit' : ''#" />
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <cfinput name="email" value="#Customer.email#" maxlength="255" validate="email" class="newuserfield #Customer.customerid GT 0 ? 'dont-edit' : ''#"/>
            </td>
        </tr>
        <tr>
            <td>Home Phone</td>
            <td>
                <cfinput name="hphone" class="newuserfield phone short #Customer.customerid GT 0 ? 'dont-edit' : ''#" value="#Customer.hphone#" maxlength="20" />
            </td>
        </tr>
        <tr>
            <td>Work Phone</td>
            <td>
                <cfinput name="wphone" class="newuserfield phone short #Customer.customerid GT 0 ? 'dont-edit' : ''#" value="#Customer.wphone#" maxlength="20" />
            </td>
        </tr>
        <tr>
            <td>Mobile Phone</td>
            <td>
                <cfinput name="mphone" class="newuserfield phone short #Customer.customerid GT 0 ? 'dont-edit' : ''#" value="#Customer.mphone#" maxlength="20" />
            </td>
        </tr>
        <tr>
            <td>Number of Drivers</td>
            <cfset drivers = 0>
            <cfif JoyPerf.nodrv GT 0>
                <cfset drivers = JoyPerf.nodrv>
            </cfif>
            <td>
                <cfinput name="nodrv" value="#drivers#" maxlength="2" class="short" />
                <small>Must be at least one for Perf. Exp. Max 14</small>
            </td>
        </tr>
        <tr>
            <td>Number of Passengers</td>
            <cfset passengers = 1>
            <cfif JoyPerf.nopax GT 0>
                <cfset passengers = JoyPerf.nopax>
            </cfif>
            <td>
                <cfinput name="nopax" value="#passengers#" maxlength="2" class="short" />
                <small>Must be at least one for Joy Ride.</small>
            </td>
        </tr>
        <tr>
            <td>Number of Minors</td>
            <cfset minors = 0>
            <cfif JoyPerf.nominors GT 0>
                <cfset minors = JoyPerf.nominors>
            </cfif>
            <td>
                <cfinput name="nominors" value="#minors#" maxlength="2" class="short" />
                <small><b>Joy Ride Only</b></small>
            </td>
        </tr>
        <tr>
            <td>Big and Tall</td>
            <td>
                <cfselect name="bigtall">
                    <option value="0" <cfif JoyPerf.bigtall IS 0>selected</cfif>>No</option>
                    <option value="1" <cfif JoyPerf.bigtall IS 1>selected</cfif>>Yes</option>
                </cfselect>
                <small>Any small planets?</small>
            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <select name="status">
                    <option value="0" <CFIF JoyPerf.status IS 0>selected</CFIF>>Pending</option>
                    <option value="1" <CFIF JoyPerf.status IS 1>selected</CFIF>>Confirmed</option>
                    <option value="2" <CFIF JoyPerf.status IS 2>selected</CFIF>>Complete</option>
                    <option value="3" <CFIF JoyPerf.status IS 3>selected</CFIF>>Cancelled</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
            <cftry>
                <cfset addr_dec = Decrypt(Customer.addr,globalkey,"AES","hex")>
                <cfcatch type="Any">
                    <cfset addr_dec = "">
                </cfcatch>
            </cftry>

            <div id="billinginfo">
                <p>#Customer.fname# #Customer.lname#</p>
                <p>#addr_dec#</p>
                <p>#Customer.city#, #Customer.state# #Customer.zip#</p>

                <cftry>
                    <cfset ccnum_dec = decrypt('#Customer.ccnum#','#globalkey#','AES','hex')>
                    <cfcatch type="Any">
                        <cfset ccnum_dec = "">
                    </cfcatch>
                </cftry>
                <cftry>
                    <cfset cc2num_dec = decrypt('#Customer.cc2num#','#globalkey#','AES','hex')>
                    <cfcatch type="Any">
                        <cfset cc2num_dec = "">
                    </cfcatch>
                </cftry>

                <div class="card-mockup <cfif Len(Customer.ccnum) IS 0>inactive</cfif>">
                    <div class="card-label">1</div>
                    <cfif Len(Customer.ccnum) GT 0>
                        <div class="card-number">#formatCCNumber(ccnum_dec)#</div>
                        <div class="card-exp">#Customer.ccexpmo# / #Customer.ccexpyr#</div>
                        <div class="card-cvv">#Customer.cccvv#</div>
                        <div class="card-phone">#Customer.cctel#</div>
                    </cfif>
                </div>
                <div class="card-mockup <cfif Len(Customer.cc2num) IS 0>inactive</cfif>">
                    <div class="card-label">2</div>
                    <cfif Len(Customer.cc2num) GT 0>
                        <div class="card-number">#formatCCNumber(cc2num_dec)#</div>
                        <div class="card-exp">#Customer.cc2expmo# / #Customer.cc2expyr#</div>
                        <div class="card-cvv">#Customer.cc2cvv#</div>
                        <div class="card-phone">#Customer.cc2tel#</div>
                    </cfif>
                </div>

            </div>
            </td>
        </tr>
        <CFIF len(JoyPerf.coupon) GT 0>
            <CFQUERY NAME="codecheck" DATASOURCE="#DSN#">
                SELECT * FROM discounts
                WHERE LOWER(code) = '#lcase(trim(JoyPerf.coupon))#'
            </CFQUERY>
        </CFIF>
        <tr>
            <td>Discount / Coupon Code</td>
            <td>
                <cfinput name="coupon" value="#JoyPerf.coupon#" maxlength="30" />
                <CFIF len(JoyPerf.coupon) GT 0>
                    (<CFIF codecheck.recordcount IS 1>
                         <span style="color:green">VALID</span> #codecheck.amount# %
                     <CFELSE>
                         <span style="color:red">INVALID</span>
                     </CFIF>)
                </CFIF>
            </td>
        </tr>
        <tr>
            <td class="align-top">Notes<br /><small>Customer Requests<br />Visible to Customer</small></td>
            <td><cftextarea name="notes" class="customer-notes">#JoyPerf.notes#</cftextarea></td>
        </tr>
        <tr>
            <td class="align-top">Notes<br /><small>Not Public</small></td>
            <td><cftextarea name="ournotes" class="our-notes">#ournotes_dec#</cftextarea></td>
        </tr>

        <cfif joyperfid>

        <CFIF JoyPerf.type IS 1>
            <CFIF JoyPerf.nopax IS 1>
                <CFSET trate = joyRidePrices["1_pax"]>
            <CFELSEIF JoyPerf.nopax IS 2>
                <CFSET trate = joyRidePrices["2_pax"]>
            <CFELSEIF JoyPerf.nopax IS 3>
                <CFSET trate = joyRidePrices["3_pax"]>
            <CFELSEIF JoyPerf.nopax IS 4>
                <CFSET trate = joyRidePrices["4_pax"]>
            <CFELSE>
                <CFSET brate = joyRidePrices["cost_per_pax_gt_4"]>
                <CFSET trate = brate * JoyPerf.nopax>
            </CFIF>
        <CFELSEIF JoyPerf.type IS 2>
            <CFIF JoyPerf.nodrv IS 1>
                <CFSET trate = perfExpPrices["1_drv"]>
            <CFELSEIF JoyPerf.nodrv IS 2>
                <CFSET trate = perfExpPrices["2_drv"]>
            <CFELSEIF JoyPerf.nodrv IS 3>
                <CFSET trate = perfExpPrices["3_drv"]>
            <CFELSEIF JoyPerf.nodrv IS 4>
                <CFSET trate = perfExpPrices["4_drv"]>
            <CFELSE>
                <CFSET brate = perfExpPrices["cost_per_drv_gt_4"]>
                <CFSET trate = brate * JoyPerf.nodrv>
            </CFIF>

            <CFIF JoyPerf.nopax GT 0>
                <CFSET paxbase = perfExpPrices["cost_per_pax"]>
                <CFSET paxcost = paxbase * JoyPerf.nopax>
                <CFSET trate = trate + paxcost>
            </CFIF>
        </CFIF>

        <CFSET d1 = #JoyPerf.customer_discount#>

        <CFIF len(JoyPerf.coupon) GT 0>
            <CFIF codecheck.recordcount IS 1>
                <CFSET d2 = #codecheck.amount#>
            <CFELSE>
                <CFSET d2 = 0>
            </CFIF>
        <CFELSE>
            <CFSET d2 = 0>
        </CFIF>

        <CFSET s1 = #evaluate(trate - (trate * (d1/100)))#>
        <CFSET s2 = #evaluate(s1 - (s1 * (d2/100)))#>

        <CFSET ds1 = #evaluate(trate * (d1/100))#>
        <CFSET ds2 = #evaluate(s1 * (d2/100))#>

        <CFSET ratediff = 0>
        <CFIF IsDefined("JoyPerf.rate") AND JoyPerf.rate IS not "0.00" AND Len(JoyPerf.rate) GT 0>
            <CFIF JoyPerf.rate IS NOT #NumberFormat(s2,"______.__")#>
                <CFSET ratediff = 1>
                <CFSET rateval = JoyPerf.rate>
            </CFIF>
        </CFIF>

        <tr class="divider">
            <td colspan="2">
                <h3>Price Breakdown</h3>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <table class="price-breakdown">
                    <tr>
                        <td>Event Total:</td>
                        <td><b>#NumberFormat(trate,"$___,___.__")#</b></td>
                    </tr>

                    <tr>
                        <td>Customer Discount: </td>
                        <td><b>- #NumberFormat(ds1,"$___,___.__")#</b></td>
                    </tr>

                <tr>
                <td align="right">Coupon Discount: </td>
                <td align="right"><b>- #NumberFormat(ds2,"$___,___.__")#</b></td>
                </tr>


                <tr>
                <td align="right">&nbsp;</td>
                <td align="right">SubTotal: <strong>#NumberFormat(s2,"$___,___.__")#</strong></td>
                </tr>

                <CFSET taxtot = s2 * (1 + (salesTaxDefault/100))>
                <CFSET taxmt = taxtot - s2>

                <tr>
                <td align="right">&nbsp;</td>
                <td align="right">Tax: <small>(#salesTaxDefault#%)</small> #NumberFormat(taxmt,"$___,___.__")# </td>
                </tr>

                    <tr>
                        <td align="right">&nbsp;</td>
                        <td align="right">Invoice Total: <strong>#NumberFormat(taxtot,"$___,___.__")#</strong></td>
                    </tr>
                </table>


                <input type="hidden" name="total" value="#s2#">
                <CFIF ratediff IS 1>
                <br><br>
                <b>Rate Override:</b> Rate set to: #NumberFormat(rateval,"$___,___.__")#
                </CFIF>
            </td>
        </tr>
        <tr>
            <td>Computed Cost<br><small>Not including tax</small></td>
            <CFIF ratediff IS 0>
                <cfset computedCost = NumberFormat(s1,".__")>
            <CFELSEIF ratediff IS 1>
                <cfset computedCost = NumberFormat(rateval,".__")>
            </CFIF>
            <td class="currency">
                <span class="currency-prefix">$</span>
                <cfinput type="text" name="rate" size="15" value="#computedCost#" class="short" />
                <CFIF ratediff IS 1>
                    <b>Rate Override</b> <cfinput type="checkbox" name="delover" /><small>Clear</small>
                </CFIF>
            </td>
        </tr>

        </cfif>

        <tr>
            <td></td>
            <td>
                <button class="btn" type="submit" name="submit"><cfif joyperfid>Edit<cfelse>Add</cfif></button>
                <cfif joyperfid>
                    <button class="btn delete" type="submit" name="delete" onclick="return confirmDelete(this.form, 'joyperf')">Delete Event</button>
                </cfif>
            </td>
        </tr>
    </table>
    {% csrf_token %}
    </form>

{% endblock %}