{% extends "backoffice/guided_drive/base.html" %}

{% block content %}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
        <tr>
            <th col="id" default-sort="desc">ID</th>
            <th col="event_type">Type</th>
            <th>Vehicles</th>
            <th col="customer__last_name">Customer</th>
            {% if event_type == event_types.PERFORMANCE_EXPERIENCE %}
                <th>Drivers</th>
            {% endif %}
            <th>Passsengers</th>
            <th col="requested_date" default-sort="desc">Date</th>
            <th>Conf Code</th>
            <th>Status</th>
        </tr>
        {% for event in event_list %}
            <tr class="clickable click-to-edit"
                {% if event.event_type == event.EventType.JOY_RIDE %}
                    destination="{% url "backoffice:joyride-detail" pk=event.id %}"
                {% elif event.event_type == event.EventType.PERFORMANCE_EXPERIENCE %}
                    destination="{% url "backoffice:perfexp-detail" pk=event.id %}"
                {% endif %}
            >
                {% if event.event_type == event.EventType.JOY_RIDE %}
                    <td><a href="{% url "backoffice:joyride-detail" pk=event.id %}">{{ event.id }}</a></td>
                {% elif event.event_type == event.EventType.PERFORMANCE_EXPERIENCE %}
                    <td><a href="{% url "backoffice:perfexp-detail" pk=event.id %}">{{ event.id }}</a></td>
                {% endif %}
                <td>{{ event.get_event_type_display }}</td>
                <td>{{ event.vehicle_names_with_links|safe }}</td>
                <td><a href="{% url "backoffice:customer-detail" pk=event.customer.id %}">{{ event.customer.full_name }}</a></td>
                {% if event_type == event_types.PERFORMANCE_EXPERIENCE %}
                    <td>{{ event.num_drivers }}</td>
                {% endif %}
                <td>{{ event.num_passengers }}</td>
                <td>{{ event.requested_date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ event.confirmation_code }}</td>
                <td>{{ event.get_status_display }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
