{% extends "customer_portal/base.html" %}

{% block page_title %}Payment Info{% endblock %}

{% block content %}
    <div class="reservation-info">
        <p>
            You can keep up to two credit cards on file with us to make your rental experience easier. This can be
            useful in splitting costs&mdash;for example, if you want to use one card for the rental fee and another card for
            the refundable security deposit. When making a reservation, please let us know which cards you'd like to
            use for what purposes.
        </p>
    </div>

    <div class="form-page-container">

        <ul class="form-page-nav two-col">
            <li page="card1" class="{% block nav_card_primary_class %}{% endblock %}">
                <a href="{% url "customer_portal:payment-card-primary" %}">Card #1</a>
            </li>
            <li page="card2" class="{% block nav_card_secondary_class %}{% endblock %}">
                <a href="{% url "customer_portal:payment-card-secondary" %}">Card #2</a>
            </li>
        </ul>

        {% if form.errors %}
            {% with form_id="customer_form_error" %}
                {% include "global_includes/form_errors.html" %}
            {% endwith %}
        {% endif %}

        {% block subpage_pane %}{% endblock %}

    </div>
{% endblock %}
