{% extends "customer_portal/payment/base.html" %}

{% block nav_card_secondary_class %}selected{% endblock %}

{% block subpage_pane %}
    <div class="form-page" page="card2">

    <form method="POST" name="payment_form" action="{% url "customer_portal:payment-card-secondary" %}" autocomplete="on">

        <table class="inputform rentalinfo">

        <tr>
            <td>Secondary Credit Card Number</td>
            <td>
                {% if user.customer.has_secondary_card %}
                    {{ user.customer.cc2_number }}
                {% else %}
                    {{ form.cc2_number }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Expiration</td>
            <td>
                {% if user.customer.has_secondary_card %}
                    {{ user.customer.cc2_exp_mo }} / {{ user.customer.cc2_exp_yr }}
                {% else %}
                    {{ form.cc2_exp_mo }} / {{ form.cc2_exp_yr }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Security Code (CVV)</td>
            <td>
                {% if user.customer.has_secondary_card %}
                    {{ user.customer.cc2_cvv }}
                {% else %}
                    {{ form.cc2_cvv }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Bank Telephone</td>
            <td>
                {% if user.customer.has_secondary_card %}
                    {{ user.customer.cc2_phone.as_national }}
                {% else %}
                    {{ form.cc2_phone }}
                    <span class="inline-text ui-icon ui-icon-info tooltip" title="We need the customer service contact phone number shown on the back of your card so that we can verify the card if necessary, and to refund the security deposit after the rental is over."></span>
                {% endif %}
            </td>
        </tr>

        <tr class="buttons">
            <td></td>
            <td>
                {% if user.customer.has_secondary_card %}
                    <button
                        type="button"
                        class="btn delete"
                        onclick="return confirmDeleteCard(this.form, '{% url "customer_portal:payment-card-secondary-clear" %}')"
                    >
                        Clear Card
                    </button>
                {% else %}
                    <button name="submit" type="submit" class="btn">Submit</button>
                {% endif %}
            </td>
        </tr>

        </table>

        {% csrf_token %}
    </form>

    </div>
{% endblock %}