{% extends "customer_portal/payment/base.html" %}
{% load card_tags %}

{% block nav_card_primary_class %}selected{% endblock %}

{% block subpage_pane %}
    <div class="form-page" page="card1">

    <form method="POST" name="payment_form" action="{% url "customer_portal:payment-card-primary" %}" autocomplete="on">

        <table class="inputform rentalinfo">

            <tr>
                <td>Primary Credit Card Number</td>
                <td class="{% if form.errors.cc_number %}field-error{% endif %}">
                    {% if user.customer.has_primary_card and not form.errors %}
                        {{ user.customer.cc_number|mask_cc_number }}
                    {% else %}
                        {{ form.cc_number }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Expiration</td>
                <td class="{% if form.errors.cc_exp_mo or form.errors.cc_exp_yr %}field-error{% endif %}">
                    {% if user.customer.has_primary_card and not form.errors %}
                        {{ user.customer.cc_exp_mo }} / {{ user.customer.cc_exp_yr }}
                    {% else %}
                        {{ form.cc_exp_mo }} / {{ form.cc_exp_yr }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Security Code (CVV)</td>
                <td class="{% if form.errors.cc_cvv %}field-error{% endif %}">
                    {% if user.customer.has_primary_card and not form.errors %}
                        {{ user.customer.cc_cvv }}
                    {% else %}
                        {{ form.cc_cvv }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Bank Telephone</td>
                <td class="{% if form.errors.cc_phone %}field-error{% endif %}">
                    {% if user.customer.has_primary_card and not form.errors %}
                        {{ user.customer.cc_phone.as_national }}
                    {% else %}
                        {{ form.cc_phone }}
                        <span class="inline-text ui-icon ui-icon-info tooltip" title="{{ form.cc_phone.help_text }}"></span>
                    {% endif %}
                </td>
            </tr>

            <tr class="buttons">
                <td></td>
                <td>
                    {% if user.customer.has_primary_card and not form.errors %}
                        <button
                            type="button"
                            class="btn delete"
                            onclick="return confirmDeleteCard(this.form, '{% url "customer_portal:payment-card-primary-clear" %}')"
                        >
                            Clear Card
                        </button>
                    {% else %}
                        <button name="submit" type="submit" class="btn">Submit</button>
                    {% endif %}
                </td>
            </tr>

        </table>

        {% csrf_token %}
    </form>

    </div>
{% endblock %}