{% extends "backoffice/stripe_charge/base.html" %}

{% block content %}

    <h2>Charge Card</h2>

    {% include "backoffice/includes/form_error.html" %}

    <form method="POST" action="{% url "backoffice:charge-charge" %}" id="stripe_form">
        <table class="inputform stripecharge">
            <tr>
                <td>Amount</td>
                <td class="currency">
                    <span class="currency-prefix">$</span>{{ form.amount }}
                </td>
            </tr>
            <tr>
                <td>Charge Type</td>
                <td>
                    {{ form.charge_type }}
                </td>
            </tr>
            <tr>
                <td>Cardholder Name</td>
                <td>
                    {{ form.full_name }}
                </td>
            </tr>
            <tr>
                <td class="align-top">Address</td>
                <td>
                    {{ form.cc_address }}
                </td>
            </tr>
            <tr>
                <td>City</td>
                <td>
                    {{ form.cc_city }}
                </td>
            </tr>
            <tr>
                <td>State</td>
                <td>
                    {{ form.cc_state }}
                </td>
            </tr>
            <tr>
                <td>ZIP</td>
                <td>
                    {{ form.cc_zip }}
                </td>
            </tr>

            <tr>
                <td>
                    Credit Card Number
                </td>
                <td>
                    {{ form.cc_number }}
                </td>
            </tr>
            <tr>
                <td>Credit Card Expiration</td>
                <td>
                    {{ form.cc_exp_mo }} / {{ form.cc_exp_yr }}
                </td>
            </tr>
            <tr>
                <td>Credit Card CVV</td>
                <td>
                    {{ form.cc_cvv }}
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <button class="btn" type="submit">Charge Card</button>
                </td>
            </tr>
        </table>
        {% csrf_token %}
        {{ form.stripe_token }}
        {{ form.stripe_error }}
        {{ form.stripe_error_param }}
    </form>

{% endblock %}