{% extends "backoffice/stripe_charge/base.html" %}

{% block content %}

    {% if charge %}
        <h2>Edit Charge</h2>
    {% else %}
        <h2>Add Charge</h2>
    {% endif %}

    {% include "backoffice/includes/form_error.html" %}

    {% if charge and charge.card.stripe_card and not charge.processor_charge_id %}
        <form method="POST" action="{% url "backoffice:charge-charge" pk=charge.id %}">
            <button
                class="btn delete"
                type="submit"
                name="charge"
            >
                Charge Card
            </button>
            {% csrf_token %}
        </form>
    {% endif %}

    {% if charge %}
        <form method="POST" action="{% url "backoffice:charge-detail" pk=charge.id %}">
    {% else %}
        <form method="POST" action="{% url "backoffice:charge-create" %}">
    {% endif %}

        <table class="inputform charges">
            {% if charge %}
                <tr>
                    <td>Charge ID</td>
                    <td>
                        {% if charge.processor_charge_id %}
                            <a href="https://dashboard.stripe.com/payments/{{ charge.processor_charge_id }}" target="_blank">{{ charge.processor_charge_id }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Charge Status</td>
                    <td>
                        {{ charge.status }}
                    </td>
                </tr>
                <tr>
                    <td>Charge Date</td>
                    <td>
                        {{ charge.charged_at|date:"m/d/Y" }}
                    </td>
                </tr>
            {% endif %}

            <tr>
                <td>Payer Name</td>
                <td>
                    {{ form.full_name }}
                </td>
            </tr>
            <tr>
                <td>Payer E-mail</td>
                <td>
                    {{ form.email }}
                </td>
            </tr>
            <tr>
                <td>Contact Phone Number</td>
                <td>
                    {{ form.phone }}
                </td>
            </tr>
            <tr>
                <td>Charge Amount<br /><small>Decimal format. 100.00</small></td>
                <td class="currency">
                    <span class="currency-prefix">$</span>{{ form.amount }}
                </td>
            </tr>
            <tr>
                <td>Charge Type</td>
                <td>
                    {{ form.charge_type }}
                </td>
            </tr>

            <tr>
                <td class="align-top">Notes</td>
                <td>
                    {{ form.notes }}
                </td>
            </tr>
            <tr>
                <td class="align-top">Billing Address</td>
                <td>
                    {{ form.cc_address }}
                </td>
            </tr>
            <tr>
                <td>Billing City</td>
                <td>
                    {{ form.cc_city }}
                </td>
            </tr>
            <tr>
                <td>Billing State</td>
                <td>
                    {{ form.cc_state }}
                </td>
            </tr>
            <tr>
                <td>Other State</td>
                <td>
                    {{ form.foreign_region }}
                </td>
            </tr>
            <tr>
                <td>Billing Country</td>
                <td>
                    {{ form.country }}
                </td>
            </tr>
            <tr>
                <td>Billing Zip</td>
                <td>
                    {{ form.cc_zip }}
                </td>
            </tr>
            <tr>
                <td>Card</td>
                <td>
                    {{ charge.card.stripe_card }}
                </td>
            </tr>
            <tr>
                <td>Credit Card Number</td>
                <td>
                    {{ form.cc_number }}
                </td>
            </tr>
            <tr>
                <td>Credit Card Expiration</td>
                <td>
                    {{ form.cc_exp_mo }} / {{ form.cc_exp_yr }}
                </td>
            </tr>
            <tr>
                <td>Credit Card<br> Security Code (CVV)</td>
                <td>
                    {{ form.cc_cvv }}
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <button class="btn" type="submit" name="edit">
                        {% if charge %}
                            Edit
                        {% else %}
                            Add
                        {% endif %}
                    </button>
                    {% if charge %}
                        <button
                            class="btn delete"
                            type="submit"
                            name="delete"
                            onclick="return confirmDelete(this.form, '{% url "backoffice:charge-delete" pk=charge.id %}', 'charge')"
                        >
                            Delete Charge
                        </button>
                    {% endif %}
                </td>
            </tr>
        </table>
        {% csrf_token %}
    </form>

{% endblock %}