{% extends "backoffice/stripe_charge/base.html" %}
{% load humanize %}

{% block content %}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
        <tr>
            <th col="id" default-sort="desc">ID</th>
            <th col="full_name">Billing Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Stripe Charge ID</th>
            <th>Status</th>
            <th default-sort="desc" col="charged_at">Charged</th>
        </tr>
        {% for charge in charge_list %}
            <tr class="clickable click-to-edit" destination="{% url "backoffice:charge-detail" pk=charge.id %}">
                <td><a href="{% url "backoffice:charge-detail" pk=charge.id %}">{{ charge.id }}</a></td>
                <td>{{ charge.full_name }}</td>
                <td>{{ charge.email }}</td>
                <td>{{ charge.phone.as_national }}</td>
                <td>${{ charge.amount|intcomma }}</td>
                <td>{{ capture|yesno:"Charge,Auth Only" }}</td>
                <td>{{ charge.processor_charge_id }}</CFIF></td>
                <td>{{ charge.status }}</td>
                <td>{{ charge.charged_at|date:"m/d/Y" }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
