<div id="reservation_details">

    <p class="reservation-info">
        We're glad to have you renting from us! Please give us some information on your needs: the
        date of the rental, the date when you'll be bringing the vehicle back, and any notes or special requests
        (such as whether you'll need the vehicle delivered or whether you'll be picking it up at PRI).
    </p>

    <table class="inputform details">
        <tr>
            <td>Vehicle</td>
            <td>
                <input name="vehicle_marketing" type="hidden" value="{{ vehicle.id }}" />
                <input name="vehicle_slug" type="hidden" value="{{ vehicle.slug }}" />
                {{ vehicle.make}} {{ vehicle.model }}
            </td>
        </tr>
        <tr>
            <td>Rental Date</td>
            <td>
                {{ form.out_date }} {{ form.out_date.errors }}
                {{ form.out_time }}
            </td>
        </tr>
        <tr>
            <td>Return Date</td>
            <td>
                {{ form.back_date }} {{ form.back_date.errors }}
                {{ form.back_time }}
            </td>
        </tr>
        <tr>
            <td>Number of Drivers</td>
            <td>
                {{ form.drivers }}
            </td>
        </tr>
        <tr>
            <td>Delivery</td>
            <td>
                {{ form.delivery_required }}
            </td>
        </tr>
        <tr class="delivery-zip">
            <td>Delivery ZIP</td>
            <td>
                {{ form.delivery_zip }}
            </td>
        </tr>
        <tr class="smallprint">
            <td></td>
            <td>
                <small class="subtext delivery-pricing tooltip" title="pricing">See delivery pricing <span class="ui-icon ui-icon-info"></span></small>
            </td>
        </tr>
        <tr>
            <td>Included Miles</td>
            <td>{{ vehicle.miles_included }} per day</td>
        </tr>
        <tr>
            <td>Extra miles</td>
            <td>
                {{ form.extra_miles }}
                <small class="tooltip" title="You get {{ vehicle.miles_included }} miles per day included with your rental. If you go beyond that amount, additional miles are charged at ${{ vehicle.extra_miles_overage_per_mile }}/mile. If you're planning on covering a lot of distance, buy additional miles now for a discount!">Pre-purchase and save! <span class="ui-icon ui-icon-info"></span></small>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                {{ form.email }}
            </td>
        </tr>
        <tr>
            <td>Discount/Coupon Code</td>
            <td>
                {{ form.coupon_code }}
            </td>
        </tr>
        <tr>
            <td>Military ID?</td>
            <td>
                {{ form.is_military }}
                <small class="tooltip" title="If you're active duty military, we'll apply a {{ vehicle.military_discount_pct }}% discount."><span class="ui-icon ui-icon-info"></span></small>
            </td>
        </tr>
        <tr>
            <td class="align-top">Notes/Requests</td>
            <td>
                {{ form.customer_notes }}
            </td>
        </tr>

        {% if form_type == "details" %}
            <tr class="buttons">
                <td></td>
                <td>
                    <button type="submit" name="details_btn" class="btn reserve-rental-details-btn">Continue</button>
                    <div class="spinner next-form-spinner details-spinner"></div>
                </td>
            </tr>
        {% endif %}
    </table>

</div>

{% with hidden="hidden" form_id="reservation_details_error" %}
    {% include "global_includes/form_errors.html" %}
{% endwith %}
