{% extends "front_site/includes/login_form.html" %}

{% block price_breakdown_container %}
    {% include "front_site/reserve/price_breakdown.html" %}
{% endblock %}

{% comment %}
<div id="reservation_login" class="1hidden">

    <p class="reservation-info">
    Welcome back! Please enter your password and your reservation will be processed immediately.
    </p>

    <div id="price_breakdown_container">
        {% include "front_site/reserve/price_breakdown.html" %}
    </div>

    <table class="inputform password">
        <tr>
            <td>Password</td>
            <td>
                {{ login_form.password }}
                <cfinput name="login_pass" type="password" value="">
                <small class="forgot-password dialog-trigger">Forgot?</small>
            </td>
        </tr>

        <tr class="buttons">
            <td></td>
            <td>
                <button type="submit" class="btn reserve-rental-login-btn">Complete Reservation</button>
                <div class="spinner next-form-spinner password-spinner"></div>
            </td>
        </tr>
    </table>

</div>

<div class="exception hidden" id="reservation_login_error">
    <h3>An error occurred</h3>
    <p class="alert-message"></p>
</div>
{% endcomment %}