<div id="reservation_payment" {# <cfif NOT IsDefined("IdentityResult") OR (IsDefined("IdentityResult") AND NOT IdentityResult.success) OR (IsDefined("LoginResult") AND NOT LoginResult.success)> #}class="1hidden"{# </cfif> #}>

    <p class="reservation-info">
    We'll need a credit card to secure your reservation. Once the reservation is confirmed, you'll get access to the
    secure PRI Customer Portal, where you can manage your rentals, confirm your insurance information, and specify
    your preferred methods of payment for the rental and the security deposit.
    </p>

    <div id="price_breakdown_new_user">
        {% include "front_site/reserve/price_breakdown.html" %}
    </div>

    <table class="inputform payment">
        <tr>
            <td>First Name</td>
            <td>
                {{ payment_form.first_name }}
{#                <cfinput name="fname" value="#Reservation.fname#" maxlength="255" class="#StructKeyExists(fieldErrors,"fname") ? 'field-error' : ''#" />#}
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                {{ payment_form.last_name }}
{#                <cfinput name="lname" value="#Reservation.lname#" maxlength="255" class="#StructKeyExists(fieldErrors,"lname") ? 'field-error' : ''#" />#}
            </td>
        </tr>
        <tr>
            <td>Mobile Phone</td>
            <td>
                {{ payment_form.mobile_phone }}
{#                <cfinput name="mphone" value="#Reservation.mphone#" maxlength="20" class="phone #StructKeyExists(fieldErrors,"mphone") ? 'field-error' : ''#" />#}
            </td>
        </tr>
        <tr>
            <td>Home Phone</td>
            <td>
                {{ payment_form.home_phone }}
{#                <cfinput name="hphone" value="#Reservation.hphone#" maxlength="20" class="phone #StructKeyExists(fieldErrors,"hphone") ? 'field-error' : ''#" />#}
            </td>
        </tr>
        <tr>
            <td>Work Phone</td>
            <td>
                {{ payment_form.work_phone }}
{#                <cfinput name="wphone" value="#Reservation.wphone#" maxlength="20" class="phone #StructKeyExists(fieldErrors,"wphone") ? 'field-error' : ''#" />#}
            </td>
        </tr>
        <tr>
            <td>Fax</td>
            <td>
                {{ payment_form.fax }}
{#                <cfinput name="fax" value="#Reservation.fax#" maxlength="20" class="phone #StructKeyExists(fieldErrors,"fax") ? 'field-error' : ''#" />#}
            </td>
        </tr>
        <tr>
            <td>Credit Card Number</td>
            <td>
                {{ payment_form.cc_number }}
{#                <cfinput name="ccnum" type="tel" value="#Reservation.ccnum#" class="cc-field #StructKeyExists(fieldErrors,"ccnum") ? 'field-error' : ''#" autocomplete="cc-number">#}
            </td>
        </tr>
        <tr>
            <td>Credit Card Expiration</td>
            <td>
                {{ payment_form.cc_exp_mo }}
                {% comment %}
                <cfselect name="ccexpmo" class="#StructKeyExists(fieldErrors,"ccexpmo") ? 'field-error' : ''#">
                    <option value="01" <cfif Reservation.ccexpmo IS "01">selected</cfif>>January (01)</option>
                    <option value="02" <cfif Reservation.ccexpmo IS "02">selected</cfif>>February (02)</option>
                    <option value="03" <cfif Reservation.ccexpmo IS "03">selected</cfif>>March (03)</option>
                    <option value="04" <cfif Reservation.ccexpmo IS "04">selected</cfif>>April (04)</option>
                    <option value="05" <cfif Reservation.ccexpmo IS "05">selected</cfif>>May (05)</option>
                    <option value="06" <cfif Reservation.ccexpmo IS "06">selected</cfif>>June (06)</option>
                    <option value="07" <cfif Reservation.ccexpmo IS "07">selected</cfif>>July (07)</option>
                    <option value="08" <cfif Reservation.ccexpmo IS "08">selected</cfif>>August (08)</option>
                    <option value="09" <cfif Reservation.ccexpmo IS "09">selected</cfif>>September (09)</option>
                    <option value="10" <cfif Reservation.ccexpmo IS "10">selected</cfif>>October (10)</option>
                    <option value="11" <cfif Reservation.ccexpmo IS "11">selected</cfif>>November (11)</option>
                    <option value="12" <cfif Reservation.ccexpmo IS "12">selected</cfif>>December (12)</option>
                </cfselect>
                {% endcomment %}/

                {{ payment_form.cc_exp_yr }}
                {% comment %}
                <cfset tyear = #Dateformat(Now(),"yyyy")#>
                <cfset fyear = tyear+15>
                <cfset ynow=#LSDateFormat(Now(),"yyyy")#>
                <cfset ythen=(#ynow# + 11)>
                <cfset mnow=#LSDateFormat(Now(),"mm")#>
                <cfset dyear=ynow>
                <cfselect name="ccexpyr" class="#StructKeyExists(fieldErrors,"ccexpyr") ? 'field-error' : ''#">
                    <cfoutput>
                    <cfloop index="year" from="#ynow#" to="#ythen#">
                        <option value="#dyear#" <cfif Reservation.ccexpyr IS "#dyear#">selected</cfif>>#dyear#</option>>
                        <cfset dyear = dyear + 1>
                    </cfloop>
                    </cfoutput>
                </cfselect>
                {% endcomment %}
            </td>
        </tr>
        <tr>
            <td>CVV</td>
            <td>
                {{ payment_form.cc_cvv }}
{#                <cfinput name="cccvv" value="#Reservation.cccvv#" style="width: 70px;" class="#StructKeyExists(fieldErrors,"cccvv") ? 'field-error' : ''#" />#}
            </td>
        </tr>
        <tr>
            <td>Credit Card Bank Phone</td>
            <td>
                {{ payment_form.cc_phone }}
{#                <cfinput name="cctel" value="#Reservation.cctel#" maxlength="20" class="phone #StructKeyExists(fieldErrors,"cctel") ? 'field-error' : ''#" />#}
                <small class="tooltip" title="We need the customer service contact phone number shown on the back of your card so that we can verify the card if necessary, and to refund the security deposit after the rental is over."><span class="ui-icon ui-icon-info"></span></small>
            </td>
        </tr>
        <tr>
            <td>Street Address Line 1</td>
            <td>
                {{ payment_form.address_line_1 }}
{#                    <cftextarea name="addr" style="height: 50px;" class="#StructKeyExists(fieldErrors,"addr") ? 'field-error' : ''#">#Reservation.addr#</cftextarea>#}
            </td>
        </tr>
        <tr>
            <td>Street Address Line 2</td>
            <td>
                {{ payment_form.address_line_2 }}
            </td>
        </tr>
        <tr>
            <td>City</td>
            <td>
                {{ payment_form.city }}
{#                <cfinput name="city" value="#Reservation.city#" maxlength="150" class="#StructKeyExists(fieldErrors,"city") ? 'field-error' : ''#" />#}
            </td>
        </tr>
        <tr>
            <td class="label">State</td>
            <td>
                {{ payment_form.state }}
                {% comment %}
                <cfselect name="state" data-stripe="address_state" class="#StructKeyExists(fieldErrors,"state") ? 'field-error' : ''#">
                <CFLOOP ARRAY="#states#" INDEX="state">
                    <CFOUTPUT><option value="#state.abbr#" <cfif Reservation.state IS "#state.abbr#">selected</cfif>>#state.name#</option></CFOUTPUT>
                </CFLOOP>
                </cfselect>
                {% endcomment %}
            </td>
        </tr>
        <tr>
            <td class="label">ZIP</td>
            <td>
                {{ payment_form.zip }}
                <cfinput name="zip" value="#Reservation.zip#" style="width: 100px;" maxlength="10" class="#StructKeyExists(fieldErrors,"zip") ? 'field-error' : ''#" />
            </td>
        </tr>

        <tr>
            <td class="label"></td>
            <td>
                Please choose a password.
            </td>
        </tr>
        <tr>
            <td class="label">Password</td>
            <td>
                {{ payment_form.password_new }}
            </td>
        </tr>
        <tr>
            <td class="label">Password (repeat)</td>
            <td>
                {{ payment_form.password_repeat }}
            </td>
        </tr>

        <tr class="buttons">
            <td></td>
            <td>
                <button type="submit" name="payment_btn" class="btn reserve-rental-complete-btn">Complete Reservation</button>
                <div class="spinner next-form-spinner payment-spinner"></div>
            </td>
        </tr>
    </table>

</div>

<div class="exception hidden" id="reservation_payment_error">
    <h3>An error occurred</h3>
    <p class="alert-message"></p>
</div>