{% extends "front_site/base.html" %}
{% load static %}

{% block page_title %}Reserve Your Vehicle{% endblock %}

{% block content %}

    <div class="reservation-pics-sidebar">
        {% for picture in vehicle.pics.all %}
            <img src="{{ picture.image.url }}" />
        {% endfor %}
    </div>

    <div class="reservation-form-sidebar">

        <form
            method="POST"
            name="reservation_form"
            id="reservation_form"
            {% if form_type == "login" %}
                action="{% url "reserve-login" slug=vehicle.slug %}"
            {% elif form_type == "payment" %}
                action="{% url "reserve-payment" slug=vehicle.slug %}"
            {% else %}
                action="{% url "reserve" slug=vehicle.slug %}"
            {% endif %}
            onsubmit="return false;"
            autocomplete="on"
        >

                {% if form.errors %}
                    {% with form_id="reservation_form_error" %}
                        {% include "global_includes/form_errors.html" %}
                    {% endwith %}
                {% endif %}

                <div id="details_form_container">
                    {% include "front_site/reserve/details_form.html" %}
                </div>

                <div id="login_form_container">
                    {% if form_type == "login" %}
                        {% include "front_site/reserve/login_form.html" %}
                    {% endif %}
                </div>

                <div id="payment_form_container">
                    {% if form_type == "payment" %}
                        {% include "front_site/reserve/payment_form.html" %}
                    {% endif %}
                </div>

            {% csrf_token %}
        </form>

    </div>

    <div class="dialog" id="dialog_reset_password" title="Reset Password">
        <p>We will send you an email with a link to click on to receive your new password.</p>
    </div>

    <div class="dialog" id="dialog_reset_password_done" title="Reset Password">
        <p>
            An email has been sent to you containing a link to follow to receive your new password. Afterwards, please
            return here to continue with your reservation.
        </p>
    </div>

    {% include "global_includes/delivery_pricing.html" %}

{% endblock %}
