{% extends "backoffice/reservation/base.html" %}
{% load humanize %}

{% block content %}

    {% if reservation %}
        <h2>Edit Reservation</h2>
    {% else %}
        <h2>Add Reservation</h2>
    {% endif %}

    {% include "backoffice/includes/form_error.html" %}

    {% if reservation %}
        <form method="POST" action="{% url "backoffice:reservation-detail" pk=reservation.id %}">
    {% else %}
        <form method="POST" action="{% url "backoffice:reservation-create" %}">
    {% endif %}

        <table class="inputform reservations">
            {% if reservation %}
                <tr>
                    <td>Conf Code</td>
                    <td>{{ reservation.confirmation_code }}</td>
                </tr>
                <tr>
                    <td>Reservation Date</td>
                    <td>
                        <b>{{ reservation.reserved_at|date:"m/d/Y" }} <small>{{ reservation.reserved_at|date:"l" }}</small> @ {{ reservation.reserved_at|date:"H:i" }} </b>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn" type="button" name="send_insurance" onclick="sendInsuranceAuthForm({{ reservation.customer.id }})">Send Insurance Auth</button>
                        <button class="btn" type="button" name="send_welcome" onclick="sendWelcomeEmail({{ reservation.id }})">Send Welcome Email</button>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Search Customer</td>
                <td>
                    <input name="customername" id="customername" value="" maxlength="255" class="search" />
                    {{ form.customer }}
                </td>
            </tr>
            <tr>
                <td>First Name</td>
                <td>
                    {{ form.first_name }}
                    {% if reservation.customer %}
                        <a class="matched-customer" href="{% url "backoffice:customer-detail" pk=reservation.customer.id %}">
                            <span class=" ui-icon ui-icon-person"></span>
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    {{ form.last_name }}
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    {{ form.email }}
                </td>
            </tr>
            <tr>
                <td>Home Phone</td>
                <td>
                    {{ form.home_phone }}
                </td>
            </tr>
            <tr>
                <td>Work Phone</td>
                <td>
                    {{ form.work_phone }}
                </td>
            </tr>
            <tr>
                <td>Mobile Phone</td>
                <td>
                    {{ form.mobile_phone }}
                </td>
            </tr>
            <tr>
                <td>Vehicle</td>
                <td>
                    {{ form.vehicle }}
                </td>
            </tr>
            <tr>
                <td>Date Out</td>
                <td>
                    {{ form.out_at_date }} @ {{ form.out_at_time }}
                    <div class="schedule-conflict-warning ui-state-error hidden" onclick="showScheduleConflicts();">
                        <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                        <strong>Schedule conflict.</strong> Click to view.</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Date Returned</td>
                <td>
                    {{ form.back_at_date }} @ {{ form.back_at_time }}
                </td>
            </tr>
            <tr>
                <td>Number of Drivers</td>
                <td>
                    {{ form.drivers }}
                </td>
            </tr>
            <tr>
                <td>Delivery</td>
                <td>
                    {{ form.delivery_required }}
                </td>
            </tr>
            <tr>
                <td>Delivery ZIP</td>
                <td>
                    {{ form.delivery_zip }}
                    <button class="btn" type="button" onclick="getTaxRate()">Get Tax Rate</button>
                </td>
            </tr>
            <tr>
                <td>Tax Rate</td>
                <td>
                    {{ form.tax_percent }}
                </td>
            </tr>
            {% if reservation %}
                <tr>
                    <td>Miles Included</td>
                    <td>
                        {{ form.miles_included }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Extra Miles</td>
                <td>
                    {{ form.extra_miles }}
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    {{ form.status }}
                </td>
            </tr>

            {% if not reservation %}
                <tr>
                    <td>Send Info Request Email?</td>
                    <td>
                        {{ form.send_email }}
                        <small>Sends an email requesting customer to fill in remaining info via the website.</small>
                    </td>
                </tr>
            {% endif %}

            <tr>
                <td>Discount/Coupon Code</td>
                <td>
                    {{ form.coupon_code }}
                    {% if reservation.coupon_code %}
                        ({% if reservation.coupon %}
                             <span style="color:green">VALID</span> {{ reservation.coupon.value_str }}
                        {% else %}
                             <span style="color:red">INVALID</span>
                        {% endif %})
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Military ID</td>
                <td>
                    {{ form.is_military }}
                </td>
            </tr>
            <tr>
                <td class="align-top">Notes<br /><small>Customer Requests</small></td>
                <td>
                    {{ form.customer_notes }}
                </td>
            </tr>

            {% if reservation %}

                <tr>
                    <td>Deposit Amount</td>
                    <td class="currency">
                        <span class="currency-prefix">$</span>
                        {{ form.deposit_amount }}
                    </td>
                </tr>

                <tr class="divider">
                    <td colspan="2">
                        <h3>Price Breakdown</h3>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table class="price-breakdown">
                            <tr>
                                <td>Rental Total ({{ reservation.num_days }} day{{ reservation.num_days|pluralize }}):</td>
                                <td><b>${{ price_data.base_price|intcomma }}</b></td>
                                <td></td>
                            </tr>
                            {% if price_data.multi_day_discount %}
                                <tr>
                                    <td>Multi-Day Discount ({{ price_data.multi_day_discount_pct }}%):</td>
                                    <td>- ${{ price_data.multi_day_discount|intcomma }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}

                            <tr>
                                <td colspan="2">Effective Specific Discount (greatest of following):</td>
                                <td></td>
                            </tr>

                            <tr class="specific-discount">
                                <td>Coupon Discount: </td>
                                <td>- ${{ price_data.coupon_discount|intcomma }}</td>
                                <td></td>
                            </tr>
                            <tr class="specific-discount">
                                <td>Promotion Discount: </td>
                                <td>- ${{ price_data.promotion_discount|intcomma }}</td>
                                <td></td>
                            </tr>
                            <tr class="specific-discount">
                                <td>Customer Discount: </td>
                                <td>- ${{ price_data.customer_discount|intcomma }}</td>
                                <td></td>
                            </tr>
                            <tr class="specific-discount">
                                <td>Military Discount: </td>
                                <td>- ${{ price_data.military_discount|intcomma }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Effective Discount: </td>
                                <td>- ${{ price_data.specific_discount|intcomma }}</td>
                                <td>{{ price_data.specific_discount_label }}</td>
                            </tr>

                            {% if reservation.extra_miles %}
                                <tr>
                                    <td>Extra Miles ({{ reservation.extra_miles }}):</td>
                                    <td>${{ price_data.extra_miles_cost|intcomma }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}

                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    SubTotal: <strong>{{ price_data.computed_subtotal|intcomma }}</strong>
                                </td>
                                <td>
                                    {{ form.override_subtotal }}
                                </td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td>Tax: <small>({{ price_data.tax_rate_as_percent }}%)</small> ${{ price_data.tax_amount|intcomma }} </td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td>Invoice Total: <strong>${{ price_data.total_with_tax|intcomma }}</strong></td>
                                <td></td>
                            </tr>
                        </table>

                    </td>
                </tr>

            {% endif %}

            <tr>
                <td></td>
                <td>
                    <button class="btn" type="submit" name="edit">
                        {% if reservation %}
                            Edit
                        {% else %}
                            Add
                        {% endif %}
                    </button>
                    {% if reservation %}
                        <button
                            class="btn"
                            type="button"
                            name="convert"
                            onclick="convertToRental(this.form, '{% url "backoffice:reservation-convert" pk=reservation.id %}')"
                        >
                            Convert to Rental
                        </button>
                        <button
                            class="btn delete"
                            type="submit"
                            name="delete"
                            onclick="return confirmDelete(this.form, '{% url "backoffice:reservation-delete" pk=reservation.id %}', 'reservation')"
                        >
                            Delete Reservation
                        </button>
                    {% endif %}
                </td>
            </tr>
        </table>
        <input type="hidden" id="reservation_id" value="{{ reservation.id }}" />
        {% csrf_token %}
    </form>

    <div class="dialog" id="dialog_conflicts" title="Schedule Conflict">
        <p>
            The <span id="conflict_vehicle"></span> is reserved for the following dates/times that conflict with your selection:
        </p>

        <table class="data" id="conflict_data">
            <thead>
            <tr>
                <th>Customer</th>
                <th>Type</th>
                <th>Date Out</th>
                <th>Date Back</th>
                <th>Num. Days</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

{% endblock %}