<p>
    Edit a post.
</p>
<table class="inputform">
    <form method="post" action="{% block form_action_url %}{% url "backoffice:bbs-edit" pk=bbspost.id %}{% endblock %}">
        <tr>
            <td>{{ form.body }}</td>
        </tr>
        <tr>
            <td valign=top align=right> &mdash; <b>{{ bbspost.author.full_name }}</b> {{ bbspost.created_at|date:"n/j g:iA" }}</td>
        </tr>
        <tr>
            <td><button type="submit" class="btn" name="EDITNOTES2">Post Change</button></td>
        </tr>
        {% csrf_token %}
    </form>
</table>
