{% load bbcode_tags %}

{% for post in bbs_posts %}
    <div class="bbsnote {{ post.css_class }} {% if post.reply_to != post %}reply{% endif %}">
        <div class="bbsinfo">
			<b>{{ post.author.employee.full_name }}</b> {{ post.created_at|date:"n/j g:iA" }}
            {% if not post.deleted_at %}
				<a class="submenu" href="{% url "backoffice:home-reply-post" pk=post.reply_to.id %}">Reply</a>
                {% if user == post.author %}
					<a class="submenu" href="{% url "backoffice:home-edit-post" pk=post.id %}">Edit</a>
					<a class="submenu" href="{% url "backoffice:home-delete-post" pk=post.id %}">Delete</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="bbsnotetext">
            {{ post.body|bbcode|safe }}
        </div>
    </div>
{% endfor %}

<small>
    <font color="#202020">
        <b><font color="#ff0000">Red</font></b>, less than 6hrs<Br>
        <b><font color="#ff8080">Pink</font></b>, less than 2days<br>
        <b><font color="#000">White</font></b>, All other<br>
        {% if short_bbs %}Shows messages from the last three (3) days.<br>{% endif %}
    </font>
</small>

