{% load bbcode_tags %}

<h3>Reply to a post.</h3>

<table class="inputform">
    {% for post in thread_posts %}
        <tr>
            <td class={{ post.css_class }}><p class=bbs>{{ post.body|bbcode|safe }} -- <b>{{ post.author.employee.full_name }}</b> {{ post.created_at|date:"n/j g:iA" }}</p></td>
        </tr>
    {% endfor %}
</table>

<table class="inputform">
    <form method="post" action="{% block form_action_url %}{% url "backoffice:bbs-reply" pk=bbspost.id %}{% endblock %}">
        <tr>
            <td valign=top>{{ form.body }}</td>
        </tr>
        <tr>
            <td valign=top align=right> &mdash; <b>{{ user.employee.full_name }}</b> {{ now|date:"n/j g:iA" }}</td>
        </tr>
        <tr>
            <td><button type="submit" class="btn" name="REPLYNOTES2">Post</button></td>
        </tr>
        {% csrf_token %}
    </form>
</table>
