{% extends "customer_portal/joy_ride/base.html" %}

{% block nav_reserve_class %}selected{% endblock %}

{% block subpage_pane %}

    <form method="POST" name="reservation_form" id="reservation_form" action="{% url "customer_portal:joyride-reserve" %}" onsubmit="return false;" autocomplete="on">

        {% if form.errors %}
            {% with form_id="reservation_form_error" %}
                {% include "global_includes/form_errors.html" %}
            {% endwith %}
        {% endif %}

        <div id="reservation_price">

            <table class="inputform price">
                <tr class="vehicle-pick-buttons hidden">
                    <td class="align-top">Pick Your Vehicles</td>
                    <td>
                        <button class="btn pick-vehicles-btn" type="car" style="margin-right: 16px;">Cars</button>
                        <span class="vehicles-picked" style="margin-left: 20px;"></span>
                    </td>
                </tr>
                <tr class="vehicle-choice">
                    <td>Vehicle Choice ##1</td>
                    <td>
                        {{ form.vehicle_choice_1 }}
                    </td>
                </tr>
                <tr class="vehicle-choice">
                    <td>Vehicle Choice ##2</td>
                    <td>
                        {{ form.vehicle_choice_2 }}
                    </td>
                </tr>
                <tr class="vehicle-choice">
                    <td>Vehicle Choice ##3</td>
                    <td>
                        {{ form.vehicle_choice_3 }}
                    </td>
                </tr>
                <tr>
                    <td>Number of Passengers</td>
                    <td>
                        {{ form.num_passengers }}
                    </td>
                </tr>
                <tr>
                    <td>Number of Minors</td>
                    <td>
                        {{ form.num_minors }}
                    </td>
                </tr>
                <tr>
                    <td>Requested Date</td>
                    <td>
                        {{ form.requested_date }}
                    </td>
                </tr>
                <tr>
                    <td>Alternate Date</td>
                    <td>
                        {{ form.backup_date }}
                        <small class="tooltip" title="{{ form.backup_date.help_text }}"><span class="ui-icon ui-icon-info"></span></small>
                    </td>
                </tr>
                <tr>
                    <td>Big and Tall</td>
                    <td>
                        {{ form.big_and_tall }}
                        <small class="tooltip" title="{{ form.big_and_tall.help_text }}"><span class="ui-icon ui-icon-info"></span></small>
                    </td>
                </tr>
                <tr>
                    <td>Discount/Coupon Code</td>
                    <td>
                        {{ form.coupon_code }}
                    </td>
                </tr>
                <tr>
                    <td class="align-top">Notes/Requests</td>
                    <td>
                        {{ form.customer_notes }}
                    </td>
                </tr>

                <tr class="buttons">
                    <td></td>
                    <td>
                        <button type="submit" name="price_btn" class="btn reserve-joyride-price-btn">Continue</button>
                        <div class="spinner next-form-spinner price-spinner"></div>
                    </td>
                </tr>
            </table>

        </div>

        {% with hidden="hidden" form_id="reservation_details_error" %}
            {% include "global_includes/form_errors.html" %}
        {% endwith %}

        <div id="reservation_confirm" class="hidden">

            <div id="price_breakdown">
                <table class="price-breakdown small-item-data">
                    <tr class="hidden">
                        <td><span class="price-nodrv"></span></td>
                        <td>$<span class="price-drvcost"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><span class="price-nopax"></span></td>
                        <td>$<span class="price-paxcost"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><span class="price-specific-discount-label"></span></td>
                        <td>- $<span class="price-specific-discount"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Subtotal</td>
                        <td>$<span class="price-subtotal"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tax (<span class="price-tax-rate"></span>%)</td>
                        <td>$<span class="price-tax"></span></td>
                        <td></td>
                    </tr>
                    <tr class="total">
                        <td>Total</td>
                        <td>$<span class="price-total"></span></td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <table class="inputform confirm">
                <tr class="buttons">
                    <td></td>
                    <td>
                        <button type="submit" name="confirm_btn" class="btn reserve-joyride-confirm-btn">Complete Reservation</button>
                        <div class="spinner next-form-spinner confirm-spinner"></div>
                    </td>
                </tr>
            </table>

        </div>

        {% with hidden="hidden" form_id="reservation_confirm_error" %}
            {% include "global_includes/form_errors.html" %}
        {% endwith %}

        {% csrf_token %}
        <input type="hidden" name="email" id="id_email" value="{{ user.email }}" />
    </form>

    {% include "global_includes/vehicle_picker.html" %}

{% endblock %}