{% extends "customer_portal/joy_ride/base.html" %}

{% block nav_reserve_class %}selected{% endblock %}

{% block subpage_pane %}
    {% comment %}
    <cfquery name="Vehicles" datasource="#DSN#">
        SELECT vehicleid,make,model,type,year,status FROM Vehicles
        WHERE status = 1
        ORDER BY weighting DESC
    </cfquery>
    {% endcomment %}

    <form method="POST" name="reservation_form" id="reservation_form" action="{% url "customer_portal:joyride-reserve" %}" onsubmit="return false;" autocomplete="on">
    <cfoutput>

        {% if form.errors %}
            {% with form_id="reservation_form_error" %}
                {% include "global_includes/form_errors.html" %}
            {% endwith %}
        {% endif %}

        <div id="reservation_price">

            <table class="inputform price">
                <tr class="vehicle-pick-buttons hidden">
                    <td class="align-top">Pick Your Vehicles</td>
                    <td>
                        <button class="btn pick-vehicles-btn" type="car" style="margin-right: 16px;">Cars</button>
                        <span class="vehicles-picked" style="margin-left: 20px;"></span>
                    </td>
                </tr>
                <tr class="vehicle-choice">
                    <td>Vehicle Choice ##1</td>
                <td>
                    {{ form.vehicle_choice_1 }}
                    <cfselect name="choice1">
                        <option value="0">(Choose Vehicle)</option>
                        <optgroup label="Cars">
                            <cfloop query="Vehicles">
                                <cfif type IS 1>
                                    <option value="#vehicleid#" <cfif JoyPerf.choice1 IS vehicleid>selected</cfif>>#make# #model#</option>
                                </cfif>
                            </cfloop>
                        </optgroup>
                    </cfselect>
                </td>
            </tr>
            <tr class="vehicle-choice">
                <td>Vehicle Choice ##2</td>
                <td>
                    {{ form.vehicle_choice_2 }}
                    <cfselect name="choice2">
                        <option value="0">(Choose Vehicle)</option>
                        <optgroup label="Cars">
                            <cfloop query="Vehicles">
                                <cfif type IS 1>
                                    <option value="#vehicleid#" <cfif JoyPerf.choice2 IS vehicleid>selected</cfif>>#make# #model#</option>
                                </cfif>
                            </cfloop>
                        </optgroup>
                        <optgroup label="Motorcycles">
                            <cfloop query="Vehicles">
                                <cfif type IS 2>
                                    <option value="#vehicleid#" <cfif JoyPerf.choice2 IS vehicleid>selected</cfif>>#make# #model#</option>
                                </cfif>
                            </cfloop>
                        </optgroup>
                    </cfselect>
                </td>
            </tr>
            <tr class="vehicle-choice">
                <td>Vehicle Choice ##3</td>
                <td>
                    {{ form.vehicle_choice_3 }}
                    <cfselect name="choice3">
                        <option value="0">(Choose Vehicle)</option>
                        <optgroup label="Cars">
                            <cfloop query="Vehicles">
                                <cfif type IS 1>
                                    <option value="#vehicleid#" <cfif JoyPerf.choice3 IS vehicleid>selected</cfif>>#make# #model#</option>
                                </cfif>
                            </cfloop>
                        </optgroup>
                        <optgroup label="Motorcycles">
                            <cfloop query="Vehicles">
                                <cfif type IS 2>
                                    <option value="#vehicleid#" <cfif JoyPerf.choice3 IS vehicleid>selected</cfif>>#make# #model#</option>
                                </cfif>
                            </cfloop>
                        </optgroup>
                    </cfselect>
                </td>
            </tr>
            <tr>
                <td>Number of Passengers</td>
                <td>
                    {{ form.num_passengers }}
                    <cfselect name="nopax" class="#StructKeyExists(fieldErrors,"nopax") ? 'field-error' : ''#">
                        <option value="1" <cfif JoyPerf.nopax IS 1>selected</cfif>>1</option>
                        <option value="2" <cfif JoyPerf.nopax IS 2>selected</cfif>>2</option>
                        <option value="3" <cfif JoyPerf.nopax IS 3>selected</cfif>>3</option>
                        <option value="4" <cfif JoyPerf.nopax IS 4>selected</cfif>>4</option>
                    </cfselect>
                </td>
            </tr>
            <tr>
                <td>Number of Minors</td>
                <td>
                    {{ form.num_minors }}
                    <cfselect name="nominors" class="#StructKeyExists(fieldErrors,"nominors") ? 'field-error' : ''#">
                        <option value="0" <cfif JoyPerf.nominors IS 0>selected</cfif>>0</option>
                        <option value="1" <cfif JoyPerf.nominors IS 1>selected</cfif>>1</option>
                        <option value="2" <cfif JoyPerf.nominors IS 2>selected</cfif>>2</option>
                        <option value="3" <cfif JoyPerf.nominors IS 3>selected</cfif>>3</option>
                        <option value="4" <cfif JoyPerf.nominors IS 4>selected</cfif>>4</option>
                    </cfselect>
                </td>
            </tr>
            <tr>
                <td>Requested Date</td>
                <td>
                    {{ form.requested_date }}
                    <cfinput name="reqdate" value="#JoyPerf.reqdate#" style="width: 120px;" placeholder="MM/DD/YYYY" class="#StructKeyExists(fieldErrors,"reqdate") ? 'field-error' : ''#" />
                </td>
            </tr>
            <tr>
                <td>Alternate Date</td>
                <td>
                    {{ form.backup_date }}
                    <cfinput name="bupdate" value="#JoyPerf.bupdate#" style="width: 120px;" placeholder="MM/DD/YYYY" class="#StructKeyExists(fieldErrors,"bupdate") ? 'field-error' : ''#" />
                    <small class="tooltip" title="{{ form.backup_date.help_text }}"><span class="ui-icon ui-icon-info"></span></small>
                </td>
            </tr>
            <tr>
                <td>Big and Tall</td>
                <td>
                    {{ form.big_and_tall }}
                    <cfselect name="bigtall">
                        <option value="0" <cfif JoyPerf.bigtall IS 0>selected</cfif>>No</option>
                        <option value="1" <cfif JoyPerf.bigtall IS 1>selected</cfif>>Yes</option>
                    </cfselect>
                    <small class="tooltip" title="{{ form.big_and_tall.help_text }}"><span class="ui-icon ui-icon-info"></span></small>
                </td>
            </tr>
            <tr>
                <td>Discount/Coupon Code</td>
                <td>
                    {{ form.coupon_code }}
                    <cfinput name="coupon" value="#JoyPerf.coupon#" maxlength="20" placeholder="(Optional)" class="#StructKeyExists(fieldErrors,"coupon") ? 'field-error' : ''#" />
                </td>
            </tr>
            <tr>
                <td class="align-top">Notes/Requests</td>
                <td>
                    {{ form.customer_notes }}
{#                    <cftextarea name="notes" class="#StructKeyExists(fieldErrors,"notes") ? 'field-error' : ''#">#JoyPerf.notes#</cftextarea>#}
                </td>
            </tr>

            <cfif NOT IsDefined("IdentityResult") OR NOT IdentityResult.success OR (IsDefined("LoginResult") AND NOT LoginResult.success)>
            <tr class="buttons">
                <td></td>
                <td>
                    <button type="submit" name="price_btn" class="btn reserve-joyride-price-btn">Continue</button>
                    <div class="spinner next-form-spinner price-spinner"></div>
                </td>
            </tr>
            </cfif>
        </table>

    </div>

    {% with hidden="hidden" form_id="reservation_details_error" %}
        {% include "global_includes/form_errors.html" %}
    {% endwith %}

    <div id="reservation_confirm" class="hidden">

        <div id="price_breakdown">
        <table class="price-breakdown small-item-data">
            <tr class="hidden">
                <td><span class="price-nodrv"></span></td>
                <td>$<span class="price-drvcost"></span></td>
                <td></td>
            </tr>
            <tr>
                <td><span class="price-nopax"></span></td>
                <td>$<span class="price-paxcost"></span></td>
                <td></td>
            </tr>
            {% comment %}
            <tr class="customer-discount">
                <td>Promotional Discount</td>
                <td>- $<span class="price-customer-discount"></span></td>
                <td></td>
            </tr>
            <tr class="coupon-discount">
                <td>Coupon Discount</td>
                <td>- $<span class="price-coupon-discount"></span></td>
                <td></td>
            </tr>
            {% endcomment %}
            <tr>
                <td><span class="price-specific-discount-label"></span></td>
                <td>- $<span class="price-specific-discount"></span></td>
                <td></td>
            </tr>
            <tr>
                <td>Subtotal</td>
                <td>$<span class="price-subtotal"></span></td>
                <td></td>
            </tr>
            <tr>
                <td>Tax (<span class="price-tax-rate"></span>%)</td>
                <td>$<span class="price-tax"></span></td>
                <td></td>
            </tr>
            <tr class="total">
                <td>Total</td>
                <td>$<span class="price-total"></span></td>
                <td></td>
            </tr>
        </table>
        </div>

        <table class="inputform confirm">
            <tr class="buttons">
                <td></td>
                <td>
                    <button type="submit" name="confirm_btn" class="btn reserve-joyride-confirm-btn">Complete Reservation</button>
                    <div class="spinner next-form-spinner confirm-spinner"></div>
                </td>
            </tr>
        </table>

    </div>

    {% with hidden="hidden" form_id="reservation_confirm_error" %}
        {% include "global_includes/form_errors.html" %}
    {% endwith %}

    </div>


    </cfoutput>
    {% csrf_token %}
    <input type="hidden" name="email" id="id_email" value="{{ user.email }}" />
    <cfinput name="page" type="hidden" value="reserve" />
    <cfinput name="method" type="hidden" value="validateJoyPerf" />
    <cfinput name="type" type="hidden" value="1" />
    <cfinput name="nodrv" type="hidden" value="0" />
    <cfinput name="reservation_type" type="hidden" value="joyride" />
    <cfinput name="customerid" type="hidden" value="" />
    </form>

    {% include "global_includes/vehicle_picker.html" %}
    {% comment %}
    <div class="dialog vehicle-picker" id="dialog_pick_vehicles" title="Choose Up to Three Vehicles">
        {% for vehicle in ready_vehicles %}
        <cfoutput query="Vehicles">
        <div
            class="vehicle-picker-pick"
            vehicleid="{{ vehicle.id }}"
            type="{{ vehicle.vehicle_type_casual }}"
        >
            <img src="{{ vehicle.thumbnail_image.url }}" />
            <span class="offer-title overlay-text bottom">{{ vehicle.make }} {{ vehicle.model }}</span>
        </div>
        </cfoutput>
        {% endfor %}
    </div>
    {% endcomment %}
{% endblock %}