{% extends "customer_portal/joy_ride/base.html" %}

{% block nav_upcoming_class %}selected{% endblock %}

{% block subpage_pane %}
    {% for event in upcoming_joy_rides %}
    <cfoutput query="JoyRideUpcoming">
        <a href="{% url "customer_portal:joyride-confirm" confirmation_code=event.confirmation_code %}">
        <div class="reservation">
            {% include "customer_portal/joy_ride/joy_ride.html" %}
        </div>
        </a>
    </cfoutput>
    {% endfor %}

    {% if not upcoming_joy_rides.exists %}
    <cfif JoyRideUpcoming.recordCount IS 0>
        <div class="no-records">No upcoming Joy Ride events</div>
    </cfif>
    {% endif %}
{% endblock %}