{% extends "backoffice/employee/base.html" %}

{% block content %}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
         <tr>
            <th col="id" default-sort="desc">ID</th>
            <th col="last_name" colspan="2">Name</th>
            <th col="user__email">Email</th>
            <th col="status">Status</th>
            <th col="hired_on" default-sort="desc">Hired</th>
        </tr>
        {% for employee in employee_list %}
            <tr class="clickable click-to-edit" destination="{% url "backoffice:employee-detail" pk=employee.id %}">
                <td><a href="{% url "backoffice:employee-detail" pk=employee.id %}">{{ employee.id }}</a></td>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.get_status_display }}</td>
                <td>{{ employee.created_at|date:"m/d/Y" }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
