{% extends "backoffice/gift_certificate/base.html" %}
{% load humanize %}

{% block content %}

    {% include "backoffice/includes/paginator.html" %}

    {% include "backoffice/includes/search_form.html" %}

    <table class="data alternating" sortedby="{{ sortby }}">
        <tr>
            <th col="id" default-sort="desc">ID</th>
            <th col="created_at" default-sort="desc">Created</th>
            <th col="issued_at" default-sort="desc">Issued</th>
            <th>Tag</th>
            <th col="cc_name">Billing Name</th>
            <th col="beneficiary_name">Beneficiary</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Amount</th>
            <th>Is Paid</th>
            <th>Used</th>
        </tr>
        {% for gift_certificate in giftcertificate_list %}
            <tr class="clickable click-to-edit" destination="{% url "backoffice:giftcert-detail" pk=gift_certificate.id %}">
                <td><a href="{% url "backoffice:giftcert-detail" pk=gift_certificate.id %}">{{ gift_certificate.id }}</a></td>
                <td>{{ gift_certificate.created_at|date:"m/d/Y" }}</td>
                <td>{{ gift_certificate.issued_at|date:"m/d/Y" }}</td>
                <td>{{ gift_certificate.tag }}</td>
                <td>{{ gift_certificate.cc_name }}</td>
                <td>{{ gift_certificate.beneficiary_name }}</td>
                <td><a href="mailto:{{ gift_certificate.email }}">{{ gift_certificate.email }}</a></td>
                <td>{{ gift_certificate.phone.as_national }}</td>
                <td>${{ gift_certificate.amount|intcomma }}</td>
                <td>{% if gift_certificate.is_paid %}&#10003;{% endif %}</td>
                <td>{% if gift_certificate.is_used %}&#10003;{% endif %}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
