{% extends "customer_portal/base.html" %}

{% block page_title %}Reservations{% endblock %}

{% block content %}
    <div class="form-page-container">

        <ul class="form-page-nav">
            <li page="upcoming" class="{% block nav_upcoming_reservations_class %}{% endblock %}">
                <a href="{% url "customer_portal:upcoming-reservations" %}">Upcoming Reservations</a>
            </li>
            <li page="past" class="{% block nav_past_rentals_class %}{% endblock %}">
                <a href="{% url "customer_portal:past-rentals" %}">Past Rentals</a>
            </li>
            <li page="reserve" class="{% block nav_make_reservation_class %}{% endblock %}">
                <a href="{% url "customer_portal:select-vehicle" %}">Make Reservation</a>
            </li>
        </ul>

        {% block subpage_pane %}{% endblock %}
    </div>
{% endblock %}