{% extends "customer_portal/base.html" %}

{% block page_title %}Reservation Information{% endblock %}

{% block content %}

    <p class="reservation-info">
        Thank you for your reservation!
        {% if user.customer.info_is_complete %}
            {% if reservation.is_reservation and reservation.reservation.status == reservation.reservation.Status.UNCONFIRMED %}
                We may need to contact you for more details before your vehicle is confirmed. We will not charge
                your card until the reservation is confirmed.
            {% elif reservation.is_reservation and reservation.reservation.status == reservation.reservation.Status.CONFIRMED %}
                Your vehicle is now secured for the dates you've selected. Your card has not yet been billed.
            {% elif reservation.is_rental and reservation.rental.status == reservation.rental.Status.CONFIRMED %}
                Your vehicle is now secured for the dates you've selected. Your card has been billed.
            {% elif reservation.is_rental and reservation.rental.status == reservation.rental.Status.IN_PROGRESS %}
                This rental is in progress.
            {% elif reservation.is_rental and reservation.rental.status == reservation.rental.Status.COMPLETE %}
                This rental is complete.
            {% endif %}
        {% else %}
            We're not quite done, however...
        {% endif %}
    </p>

    <div class="confcode-container">
        <p>Confirmation code:</p>
        <div class="confcode">{{ basereservation.confirmation_code }}</div>
    </div>

    <table class="reservation-details small-item-data">
        <tr>
            <td>Vehicle</td>
            <td>{{ basereservation.vehicle.make }} {{ basereservation.vehicle.model }}</td>
        </tr>
        <tr>
            <td>
                {% if basereservation.delivery_required %}
                    PRI Delivers Vehicle:
                {% else %}
                    Pick Up at PRI:
                {% endif %}
            </td>
            <td>{{ basereservation.out_at|date:"g:i A D m/d/Y" }}</td>
        </tr>
        <tr>
            <td>
                {% if basereservation.delivery_required %}
                    PRI Collects Vehicle:
                {% else %}
                    Due Back at PRI:
                {% endif %}
            </td>
            <td>{{ basereservation.back_at|date:"g:i A D m/d/Y" }}</td>
        </tr>
        <tr>
            <td>Number of Days</td>
            <td>{{ basereservation.num_days }}</td>
        </tr>
    </table>

    {% if not user.customer.info_is_complete %}

        <form method="POST" name="reservation_form" id="reservation_form" action="{% url "customer_portal:confirm-reservation" confirmation_code=basereservation.confirmation_code %}" autocomplete="on" onsubmit="return false;">

            <div class="reservation-info">
                <p>
                    Before you take the keys, we'll need some additional information from you. Specifically, we need
                    to verify your insurance, and also take a look at your driving record. You can fill out the
                    required information now, or if you need time to gather it, you can bookmark this site and come
                    back later.
                </p>

                <p>
                    We take the utmost care to preserve your privacy and security. All information you submit is held
                    in our encrypted data store and is not shared with anyone except the relevant agencies for
                    verification purposes.
                </p>
            </div>

            {% if form.errors %}
               {% with form_id="customer_form_error" %}
                    {% include "global_includes/form_errors.html" %}
                {% endwith %}
            {% endif %}

            <table class="inputform rentalinfo">

                <thead>
                    <tr>
                        <th colspan="2">
                            <div class="form-section-header">
                                <h3>Driver Information</h3>
                                <p>
                                    We'll need the license information of the primary driver in order to run a
                                    public-records driving history background check. Please make sure the address info
                                    is correct according to the driver's license. If the primary driver is not you,
                                    please update all information accordingly.
                                </p>
                            </div>
                        </h3>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>First Name</td>
                        <td>
                            {{ form.first_name }}
                        </td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>
                            {{ form.last_name }}
                        </td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            {{ form.address_line_1 }}
                        </td>
                    </tr>
                    <tr>
                        <td>Address Line 2</td>
                        <td>
                            {{ form.address_line_2 }}
                        </td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>
                            {{ form.city }}
                        </td>
                    </tr>
                    <tr>
                       <td>State</td>
                       <td>
                           {{ form.state }}
                        </td>
                    </tr>
                    <tr>
                        <td>ZIP</td>
                        <td>
                            {{ form.zip }}
                        </td>
                    </tr>

                    <tr>
                        <td>Mobile Phone</td>
                        <td>
                            {{ form.mobile_phone }}
                        </td>
                    </tr>
                    <tr>
                        <td>Home Phone</td>
                        <td>
                            {{ form.home_phone }}
                        </td>
                    </tr>
                    <tr>
                        <td>Work Phone</td>
                        <td>
                            {{ form.work_phone }}
                        </td>
                    </tr>
                    <tr>
                        <td>Fax</td>
                        <td>
                            {{ form.fax }}
                        </td>
                    </tr>

                    <tr>
                        <td>Date Of Birth</td>
                        <td>
                            {{ form.date_of_birth_date }}
                        </td>
                    </tr>
                    <tr>
                        <td>License Number</td>
                        <td>
                            {{ form.license_number }}
                        </td>
                    </tr>
                    <tr>
                        <td>License State</td>
                        <td>
                            {{ form.license_state }}
                        </td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                        <th colspan="2">
                            <div class="form-section-header">
                                <h3>Insurance</h3>
                                <p>
                                    We'll need to verify your insurance coverage. As a reminder, we require you to carry
                                    at least $100K/300K bodily injury and $100K property damage coverage which will apply
                                    to rental vehicles.
                                </p>
                            </div>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Insurance Company</td>
                        <td>
                            {{ form.insurance_company }}
                        </td>
                    </tr>
                    <tr>
                        <td>Insurance Policy Number</td>
                        <td>
                            {{ form.insurance_policy_number }}
                        </td>
                    </tr>
                    <tr>
                        <td>Insurance Co. Telephone</td>
                        <td>
                            {{ form.insurance_company_phone }}
                        </td>
                    </tr>
                </tbody>

                {% if not user.customer.has_primary_card %}

                    <thead>
                        <tr>
                            <th colspan="2">
                                <div class="form-section-header">
                                    <h3>Credit Card</h3>
                                    <p>
                                        We'll need a credit card to secure your reservation. We charge 50% of the rental
                                        amount as a deposit, and the remainder is due at the time you receive the vehicle.
                                    </p>
                                </div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Primary Credit Card Number</td>
                            <td>
                                {{ form.cc_number }}
                            </td>
                        </tr>
                        <tr>
                            <td>Expiration</td>
                            <td>
                                {{ form.cc_exp_mo }} / {{ form.cc_exp_yr }}
                            </td>
                        </tr>
                        <tr>
                            <td>Security Code (CVV)</td>
                            <td>
                                {{ form.cc_cvv }}
                            </td>
                        </tr>
                        <tr>
                            <td>Bank Telephone</td>
                            <td>
                                {{ form.cc_phone }}
                                <span class="inline-text ui-icon ui-icon-info tooltip" title="{{ form.cc_phone.help_text }}"></span>
                            </td>
                        </tr>
                    </tbody>

                {% endif %}

                <thead>
                    <tr>
                        <th colspan="2">
                            <div class="form-section-header">
                                <h3>Secondary Credit Card (optional)</h3>
                                <p>
                                    We require a refundable security deposit for our vehicles. You might wish to put
                                    it on a different credit card from the one you used to make the reservation. If so,
                                    enter the info and tell us how you'd like us to use it. Otherwise we'll use the
                                    primary card for the security deposit as well.
                                </p>
                            </div>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Secondary Credit Card Number</td>
                        <td>
                            {{ form.cc2_number }}
                        </td>
                    </tr>
                    <tr>
                        <td>Expiration</td>
                        <td>
                            {{ form.cc2_exp_mo }} / {{ form.cc2_exp_yr }}
                        </td>
                    </tr>
                    <tr>
                        <td>Security Code (CVV)</td>
                        <td>
                            {{ form.cc2_cvv }}
                        </td>
                    </tr>
                    <tr>
                        <td>Bank Telephone</td>
                        <td>
                            {{ form.cc2_phone }}
                            <span class="inline-text ui-icon ui-icon-info tooltip" title="{{ form.cc2_phone.help_text }}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top">
                            Secondary Card Instructions<br />
                            <p class="small">Want to use the secondary card for the security deposit? Split the rental amount across the two cards? Let us know!</p>
                        </td>
                        <td>
                            {{ form.cc2_instructions }}
                        </td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                        <th colspan="2">
                            <div class="form-section-header">
                            <h3>Music Preference (optional)</h3>
                                <p>
                                    If you like, we can pre-load a car with your favorite music!
                                </p>
                            </div>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Favorite Genre</td>
                        <td>
                            {{ form.music_genre }}
                        </td>
                    </tr>
                    <tr>
                        <td>Favorite Artist / Composer</td>
                        <td>
                            {{ form.music_favorite }}
                        </td>
                    </tr>

                    <tr class="buttons">
                        <td></td>
                        <td>
                            <button type="submit" class="btn reserve-submit-info-btn">Submit</button>
                            <div class="spinner next-form-spinner rentalinfo-spinner"></div>
                        </td>
                    </tr>
                </tbody>

            </table>

            {{ form.confirmation_code }}
            {% csrf_token %}
        </form>

    {% else %}

        <form method="POST" name="reservation_form" id="reservation_form" action="{% url "customer_portal:confirm-reservation" confirmation_code=basereservation.confirmation_code %}" autocomplete="on">

            <table class="inputform rentalinfo">

                <thead>
                    <tr>
                        <th colspan="2">
                            <div class="form-section-header">
                                <h3>Reservation Notes</h3>
                                <p>
                                    Please let us know if you've got any special requests or notes. Delivery
                                    locations/times, payment instructions, planning for special events&mdash;tell us what
                                    you need!
                                </p>
                            </div>
                        </h3>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="align-top">Notes/Requests</td>
                        <td>
                            {{ form.customer_notes }}
                        </td>
                    </tr>

                    <tr class="buttons">
                        <td></td>
                        <td>
                            <button type="submit" class="btn">Update</button>
                            <div class="spinner next-form-spinner rentalinfo-spinner"></div>
                        </td>
                    </tr>
                </tbody>

            </table>

            {% csrf_token %}
        </form>

    {% endif %}

{% endblock %}
