{% extends "customer_portal/reservations/base.html" %}

{% block nav_make_reservation_class %}selected{% endblock %}

{% block subpage_pane %}

    {% comment %}
    <cfquery name="Vehicle" datasource="#DSN#">
        SELECT make,model,year FROM Vehicles
        WHERE vehicleid = <CFQUERYPARAM value="#vid#" CFSQLType="CF_SQL_INTEGER">
    </cfquery>
    {% endcomment %}

    <form method="POST" name="reservation_form" id="reservation_form" action="{% url "customer_portal:make-reservation" slug=vehicle.slug %}" onsubmit="return false;">
    <cfoutput query="Vehicle">

        {% comment %}
        <cfquery name="VehicleFront" datasource="#FDSN#">
            SELECT milesinc,deposit FROM VehiclesFront
            WHERE vehicleid = <CFQUERYPARAM value="#vid#" CFSQLType="CF_SQL_INTEGER">
        </cfquery>
        {% endcomment %}

        {% if form.errors %}
            {% with form_id="reservation_form_error" %}
                {% include "global_includes/form_errors.html" %}
            {% endwith %}
        {% endif %}

        <div id="reservation_price">

            <table class="inputform price">
                <tr>
                    <td>Vehicle</td>
                    <td><input name="vehicle_marketing" type="hidden" value="{{ vehicle.id }}" />{{ vehicle.make}} {{ vehicle.model }}</td>
                </tr>
                <tr>
                    <td>Rental Date</td>
                    <td>
                        {{ form.out_date }} {{ form.out_time }}
                        {% comment %}
                        <cfinput name="dateout" value="#Reservation.dateout#" style="width: 120px;" placeholder="MM/DD/YYYY" class="#StructKeyExists(fieldErrors,"dateout") ? 'field-error' : ''#" />
                        <cfselect name="dateouttime" class="#StructKeyExists(fieldErrors,"dateouttime") ? 'field-error' : ''#">
                            <option value="07:00" <cfif Reservation.dateouttime IS "07:00">selected</cfif>>7:00 am</option>
                            <option value="07:30" <cfif Reservation.dateouttime IS "07:30">selected</cfif>>7:30 am</option>
                            <option value="08:00" <cfif Reservation.dateouttime IS "08:00">selected</cfif>>8:00 am</option>
                            <option value="08:30" <cfif Reservation.dateouttime IS "08:30">selected</cfif>>8:30 am</option>
                            <option value="09:00" <cfif Reservation.dateouttime IS "09:00">selected</cfif>>9:00 am</option>
                            <option value="09:30" <cfif Reservation.dateouttime IS "09:30">selected</cfif>>9:30 am</option>
                            <option value="10:00" <cfif Reservation.dateouttime IS "10:00">selected</cfif>>10:00 am</option>
                            <option value="10:30" <cfif Reservation.dateouttime IS "10:30">selected</cfif>>10:30 am</option>
                            <option value="11:00" <cfif Reservation.dateouttime IS "11:00">selected</cfif>>11:00 am</option>
                            <option value="11:30" <cfif Reservation.dateouttime IS "11:30">selected</cfif>>11:30 am</option>
                            <option value="12:00" <cfif Reservation.dateouttime IS "12:00">selected</cfif>>12:00 pm</option>
                            <option value="12:30" <cfif Reservation.dateouttime IS "12:30">selected</cfif>>12:30 pm</option>
                            <option value="13:00" <cfif Reservation.dateouttime IS "13:00">selected</cfif>>1:00 pm</option>
                            <option value="13:30" <cfif Reservation.dateouttime IS "13:30">selected</cfif>>1:30 pm</option>
                            <option value="14:00" <cfif Reservation.dateouttime IS "14:00">selected</cfif>>2:00 pm</option>
                            <option value="14:30" <cfif Reservation.dateouttime IS "14:30">selected</cfif>>2:30 pm</option>
                            <option value="15:00" <cfif Reservation.dateouttime IS "15:00">selected</cfif>>3:00 pm</option>
                            <option value="15:30" <cfif Reservation.dateouttime IS "15:30">selected</cfif>>3:30 pm</option>
                            <option value="16:00" <cfif Reservation.dateouttime IS "16:00">selected</cfif>>4:00 pm</option>
                            <option value="16:30" <cfif Reservation.dateouttime IS "16:30">selected</cfif>>4:30 pm</option>
                            <option value="17:00" <cfif Reservation.dateouttime IS "17:00">selected</cfif>>5:00 pm</option>
                            <option value="17:30" <cfif Reservation.dateouttime IS "17:30">selected</cfif>>5:30 pm</option>
                            <option value="18:00" <cfif Reservation.dateouttime IS "18:00">selected</cfif>>6:00 pm</option>
                            <option value="18:30" <cfif Reservation.dateouttime IS "18:30">selected</cfif>>6:30 pm</option>
                            <option value="19:00" <cfif Reservation.dateouttime IS "19:00">selected</cfif>>7:00 pm</option>
                            <option value="19:30" <cfif Reservation.dateouttime IS "19:30">selected</cfif>>7:30 pm</option>
                            <option value="20:00" <cfif Reservation.dateouttime IS "20:00">selected</cfif>>8:00 pm</option>
                            <option value="23:00" <cfif Reservation.dateouttime IS "23:00">selected</cfif>>Other (special)</option>
                        </cfselect>
                        {% endcomment %}
                    </td>
                </tr>
                <tr>
                    <td>Return Date</td>
                    <td>
                        {{ form.back_date }} {{ form.back_time }}
                        {% comment %}
                        <cfinput name="dateback" value="#Reservation.dateback#" style="width: 120px;" placeholder="MM/DD/YYYY" class="#StructKeyExists(fieldErrors,"dateback") ? 'field-error' : ''#" />
                        <cfselect name="datebacktime" class="#StructKeyExists(fieldErrors,"datebacktime") ? 'field-error' : ''#">
                            <option value="07:00" <cfif Reservation.datebacktime IS "07:00">selected</cfif>>7:00 am</option>
                            <option value="07:30" <cfif Reservation.datebacktime IS "07:30">selected</cfif>>7:30 am</option>
                            <option value="08:00" <cfif Reservation.datebacktime IS "08:00">selected</cfif>>8:00 am</option>
                            <option value="08:30" <cfif Reservation.datebacktime IS "08:30">selected</cfif>>8:30 am</option>
                            <option value="09:00" <cfif Reservation.datebacktime IS "09:00">selected</cfif>>9:00 am</option>
                            <option value="09:30" <cfif Reservation.datebacktime IS "09:30">selected</cfif>>9:30 am</option>
                            <option value="10:00" <cfif Reservation.datebacktime IS "10:00">selected</cfif>>10:00 am</option>
                            <option value="10:30" <cfif Reservation.datebacktime IS "10:30">selected</cfif>>10:30 am</option>
                            <option value="11:00" <cfif Reservation.datebacktime IS "11:00">selected</cfif>>11:00 am</option>
                            <option value="11:30" <cfif Reservation.datebacktime IS "11:30">selected</cfif>>11:30 am</option>
                            <option value="12:00" <cfif Reservation.datebacktime IS "12:00">selected</cfif>>12:00 pm</option>
                            <option value="12:30" <cfif Reservation.datebacktime IS "12:30">selected</cfif>>12:30 pm</option>
                            <option value="13:00" <cfif Reservation.datebacktime IS "13:00">selected</cfif>>1:00 pm</option>
                            <option value="13:30" <cfif Reservation.datebacktime IS "13:30">selected</cfif>>1:30 pm</option>
                            <option value="14:00" <cfif Reservation.datebacktime IS "14:00">selected</cfif>>2:00 pm</option>
                            <option value="14:30" <cfif Reservation.datebacktime IS "14:30">selected</cfif>>2:30 pm</option>
                            <option value="15:00" <cfif Reservation.datebacktime IS "15:00">selected</cfif>>3:00 pm</option>
                            <option value="15:30" <cfif Reservation.datebacktime IS "15:30">selected</cfif>>3:30 pm</option>
                            <option value="16:00" <cfif Reservation.datebacktime IS "16:00">selected</cfif>>4:00 pm</option>
                            <option value="16:30" <cfif Reservation.datebacktime IS "16:30">selected</cfif>>4:30 pm</option>
                            <option value="17:00" <cfif Reservation.datebacktime IS "17:00">selected</cfif>>5:00 pm</option>
                            <option value="17:30" <cfif Reservation.datebacktime IS "17:30">selected</cfif>>5:30 pm</option>
                            <option value="18:00" <cfif Reservation.datebacktime IS "18:00">selected</cfif>>6:00 pm</option>
                            <option value="18:30" <cfif Reservation.datebacktime IS "18:30">selected</cfif>>6:30 pm</option>
                            <option value="19:00" <cfif Reservation.datebacktime IS "19:00">selected</cfif>>7:00 pm</option>
                            <option value="19:30" <cfif Reservation.datebacktime IS "19:30">selected</cfif>>7:30 pm</option>
                            <option value="20:00" <cfif Reservation.datebacktime IS "20:00">selected</cfif>>8:00 pm</option>
                            <option value="23:00" <cfif Reservation.datebacktime IS "23:00">selected</cfif>>Other (special)</option>
                        </cfselect>
                        {% endcomment %}
                    </td>
                </tr>
                <tr>
                    <td>Number of Drivers</td>
                    <td>
                        {{ form.drivers }}
                        {% comment %}
                        <cfselect name="drivers" class="#StructKeyExists(fieldErrors,"drivers") ? 'field-error' : ''#">
                            <option value="1" <cfif Reservation.drivers IS 1>selected</cfif>>1</option>
                            <option value="2" <cfif Reservation.drivers IS 2>selected</cfif>>2</option>
                            <option value="3" <cfif Reservation.drivers IS 3>selected</cfif>>More than 2</option>
                        </cfselect>
                        {% endcomment %}
                    </td>
                </tr>
                <tr>
                    <td>Delivery</td>
                    <td>
                        {{ form.delivery_required }}
                        {% comment %}
                        <cfselect name="delivery" class="#StructKeyExists(fieldErrors,"delivery") ? 'field-error' : ''#" onchange="toggleDeliveryZip();">
                            <option value="0" <cfif Reservation.delivery IS 1>selected</cfif>>I will be picking up the vehicle at PRI in Ringwood, NJ</option>
                            <option value="1" <cfif Reservation.delivery IS 2>selected</cfif>>I would like the vehicle to be delivered to me</option>
                        </cfselect>
                        {% endcomment %}
                    </td>
                </tr>
                <tr class="delivery-zip">
                    <td>Delivery ZIP</td>
                    <td>
                        {{ form.delivery_zip }}
                        <cfinput name="deliveryzip" value="#Reservation.deliveryzip#" style="width: 100px;" maxlength="10" class="#StructKeyExists(fieldErrors,"deliveryzip") ? 'field-error' : ''#" />
                    </td>
                </tr>
                <tr class="smallprint">
                    <td></td>
                    <td>
                        <small class="subtext delivery-pricing tooltip" title="pricing">See delivery pricing <span class="ui-icon ui-icon-info"></span></small>
                    </td>
                </tr>
                <tr>
                    <td>Included Miles</td>
                    <td>{{ vehicle.miles_included }} per day</td>
                </tr>
                <tr>
                    <td>Extra miles</td>
                    <td>
                        {{ form.extra_miles }}
                        {% comment %}
                        <cfselect name="extramiles" class="#StructKeyExists(fieldErrors,"extramiles") ? 'field-error' : ''#">
                            <cfloop from="1" to="#arrayLen(extraMilesPrices)#" index="i">
                                <cfset milesChoice = extraMilesPrices[i]>
                                <option value="#milesChoice.value#" <cfif Reservation.extramiles IS milesChoice.value>selected</cfif>>#milesChoice.label#</option>
                            </cfloop>
                        </cfselect>
                        {% endcomment %}
                        <small class="tooltip" title="You get {{ vehicle.miles_included }} miles per day included with your rental. If you go beyond that amount, additional miles are charged at ${{ vehicle.extra_miles_overage_per_mile }}/mile. If you're planning on covering a lot of distance, buy additional miles now for a discount!">Pre-purchase and save! <span class="ui-icon ui-icon-info"></span></small>
                    </td>
                </tr>
                <tr>
                    <td>Discount/Coupon Code</td>
                    <td>
                        {{ form.coupon_code }}
                        <cfinput name="coupon" value="#Reservation.coupon#" maxlength="20" placeholder="(Optional)" class="#StructKeyExists(fieldErrors,"coupon") ? 'field-error' : ''#" />
                    </td>
                </tr>
                <tr>
                    <td class="align-top">Notes/Requests</td>
                    <td>
                        {{ form.notes }}
{#                        <cftextarea name="notes" class="#StructKeyExists(fieldErrors,"notes") ? 'field-error' : ''#">#Reservation.notes#</cftextarea>#}
                    </td>
                </tr>

                <tr class="buttons">
                    <td></td>
                    <td>
                        <button type="submit" name="price_btn" class="btn reserve-rental-price-btn">Continue</button>
                        <div class="spinner next-form-spinner price-spinner"></div>
                    </td>
                </tr>

            </table>

        </div>

    {% with hidden="hidden" form_id="reservation_details_error" %}
        {% include "global_includes/form_errors.html" %}
    {% endwith %}

    <div id="reservation_confirm" class="hidden">

        <div id="price_breakdown">
        <table class="price-breakdown small-item-data">
            <tr>
                <td>Rental total (<span class="price-numdays"></span>)</td>
                <td>$<span class="price-rental-total"></span></td>
                <td></td>
            </tr>
            <tr class="multiday">
                <td>Multi-Day Discount (<span class="price-multi-day-discount-pct"></span>%)</td>
                <td>- $<span class="price-multi-day-discount"></span></td>
                <td></td>
            </tr>
            <tr>
                <td><span class="price-specific-discount-label"></span></td>
                <td>- $<span class="price-specific-discount"></span></td>
                <td></td>
            </tr>
            <tr>
                <td>Extra Miles (<span class="price-extra-miles"></span>)</td>
                <td>$<span class="price-extra-miles-cost"></span></td>
                <td></td>
            </tr>
            <tr>
                <td>Subtotal</td>
                <td>$<span class="price-subtotal"></span></td>
                <td></td>
            </tr>
            <tr>
                <td>Tax (<span class="price-tax-rate"></span>%)</td>
                <td>$<span class="price-tax"></span></td>
                <td></td>
            </tr>
            <tr class="total">
                <td>Total</td>
                <td>$<span class="price-total"></span></td>
                <td></td>
            </tr>
            <tr class="deposit">
                <td>Reservation Deposit</td>
                <td>$<span class="price-reservation-deposit"></span></td>
                <td class="tooltip" title="We will charge your card 50% of the rental total in order to secure your reservation. The remainder will be due at the time you receive the vehicle.">Amount to be charged now <span class="ui-icon ui-icon-info"></span></td>
            </tr>
            <tr class="smallprint">
                <td colspan="3" class="price-delivery-smallprint">
                Delivery may incur additional charges. <span class="delivery-pricing" title="pricing">See pricing <span class="ui-icon ui-icon-info"></span></span>
                </td>
            </tr>
            <tr class="security-deposit">
                <td>Security Deposit</td>
                <td>$<span class="price-security-deposit">{{ vehicle.security_deposit }}</span></td>
                <td class="tooltip" title="We require a security deposit of some form of collateral with rentals of our vehicles. This typically is done by placing an authorization (&quot;hold&quot;) on a credit card. This hold is performed 1-2 days prior to the rental date, and is released right after the rental is over. If you would like to use different cards for your rental and your security deposit, you will be able to submit a card for the security deposit after you complete the reservation.">Refundable collateral amount <span class="ui-icon ui-icon-info"></span></td>
            </tr>
        </table>
        </div>

        <table class="inputform confirm">

            <tr class="buttons">
                <td></td>
                <td>
                    <button type="submit" name="confirm_btn" class="btn reserve-rental-confirm-btn">Complete Reservation</button>
                    <div class="spinner next-form-spinner confirm-spinner"></div>
                </td>
            </tr>

        </table>

    </div>

    {% with hidden="hidden" form_id="reservation_confirm_error" %}
        {% include "global_includes/form_errors.html" %}
    {% endwith %}

    </cfoutput>
    {% csrf_token %}
    <input type="hidden" name="email" id="id_email" value="{{ user.email }}" />
    <cfinput name="page" type="hidden" value="reserve" />
    <cfinput name="reservationid" type="hidden" value="#Reservation.reservationid#" />
    <cfinput name="reservation_type" type="hidden" value="rental" />
    </form>

{% endblock %}