{% extends "customer_portal/reservations/base.html" %}

{% block nav_make_reservation_class %}selected{% endblock %}

{% block subpage_pane %}

    <form method="POST" name="reservation_form" id="reservation_form" action="{% url "customer_portal:make-reservation" slug=vehicle.slug %}" onsubmit="return false;">

        {% if form.errors %}
            {% with form_id="reservation_form_error" %}
                {% include "global_includes/form_errors.html" %}
            {% endwith %}
        {% endif %}

        <div id="reservation_price">

            <table class="inputform price">
                <tr>
                    <td>Vehicle</td>
                    <td><input name="vehicle_marketing" type="hidden" value="{{ vehicle.id }}" />{{ vehicle.make}} {{ vehicle.model }}</td>
                </tr>
                <tr>
                    <td>Rental Date</td>
                    <td>
                        {{ form.out_date }} {{ form.out_time }}
                    </td>
                </tr>
                <tr>
                    <td>Return Date</td>
                    <td>
                        {{ form.back_date }} {{ form.back_time }}
                    </td>
                </tr>
                <tr>
                    <td>Number of Drivers</td>
                    <td>
                        {{ form.drivers }}
                    </td>
                </tr>
                <tr>
                    <td>Delivery</td>
                    <td>
                        {{ form.delivery_required }}
                    </td>
                </tr>
                <tr class="delivery-zip">
                    <td>Delivery ZIP</td>
                    <td>
                        {{ form.delivery_zip }}
                    </td>
                </tr>
                <tr class="smallprint">
                    <td></td>
                    <td>
                        <small class="subtext delivery-pricing tooltip" title="pricing">See delivery pricing <span class="ui-icon ui-icon-info"></span></small>
                    </td>
                </tr>
                <tr>
                    <td>Included Miles</td>
                    <td>{{ vehicle.miles_included }} per day</td>
                </tr>
                <tr>
                    <td>Extra miles</td>
                    <td>
                        {{ form.extra_miles }}
                        <small class="tooltip" title="You get {{ vehicle.miles_included }} miles per day included with your rental. If you go beyond that amount, additional miles are charged at ${{ vehicle.extra_miles_overage_per_mile }}/mile. If you're planning on covering a lot of distance, buy additional miles now for a discount!">Pre-purchase and save! <span class="ui-icon ui-icon-info"></span></small>
                    </td>
                </tr>
                <tr>
                    <td>Discount/Coupon Code</td>
                    <td>
                        {{ form.coupon_code }}
                    </td>
                </tr>
                <tr>
                    <td class="align-top">Notes/Requests</td>
                    <td>
                        {{ form.customer_notes }}
                    </td>
                </tr>

                <tr class="buttons">
                    <td></td>
                    <td>
                        <button type="submit" name="price_btn" class="btn reserve-rental-price-btn">Continue</button>
                        <div class="spinner next-form-spinner price-spinner"></div>
                    </td>
                </tr>

            </table>

        </div>

        {% with hidden="hidden" form_id="reservation_details_error" %}
            {% include "global_includes/form_errors.html" %}
        {% endwith %}

        <div id="reservation_confirm" class="hidden">

            <div id="price_breakdown">
                <table class="price-breakdown small-item-data">
                    <tr>
                        <td>Rental total (<span class="price-numdays"></span>)</td>
                        <td>$<span class="price-rental-total"></span></td>
                        <td></td>
                    </tr>
                    <tr class="multiday">
                        <td>Multi-Day Discount (<span class="price-multi-day-discount-pct"></span>%)</td>
                        <td>- $<span class="price-multi-day-discount"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><span class="price-specific-discount-label"></span></td>
                        <td>- $<span class="price-specific-discount"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Extra Miles (<span class="price-extra-miles"></span>)</td>
                        <td>$<span class="price-extra-miles-cost"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Subtotal</td>
                        <td>$<span class="price-subtotal"></span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tax (<span class="price-tax-rate"></span>%)</td>
                        <td>$<span class="price-tax"></span></td>
                        <td></td>
                    </tr>
                    <tr class="total">
                        <td>Total</td>
                        <td>$<span class="price-total"></span></td>
                        <td></td>
                    </tr>
                    <tr class="deposit">
                        <td>Reservation Deposit</td>
                        <td>$<span class="price-reservation-deposit"></span></td>
                        <td class="tooltip" title="We will charge your card 50% of the rental total in order to secure your reservation. The remainder will be due at the time you receive the vehicle.">Amount to be charged now <span class="ui-icon ui-icon-info"></span></td>
                    </tr>
                    <tr class="smallprint">
                        <td colspan="3" class="price-delivery-smallprint">
                        Delivery may incur additional charges. <span class="delivery-pricing" title="pricing">See pricing <span class="ui-icon ui-icon-info"></span></span>
                        </td>
                    </tr>
                    <tr class="security-deposit">
                        <td>Security Deposit</td>
                        <td>$<span class="price-security-deposit">{{ vehicle.security_deposit }}</span></td>
                        <td class="tooltip" title="We require a security deposit of some form of collateral with rentals of our vehicles. This typically is done by placing an authorization (&quot;hold&quot;) on a credit card. This hold is performed 1-2 days prior to the rental date, and is released right after the rental is over. If you would like to use different cards for your rental and your security deposit, you will be able to submit a card for the security deposit after you complete the reservation.">Refundable collateral amount <span class="ui-icon ui-icon-info"></span></td>
                    </tr>
                </table>
            </div>

            <table class="inputform confirm">

                <tr class="buttons">
                    <td></td>
                    <td>
                        <button type="submit" name="confirm_btn" class="btn reserve-rental-confirm-btn">Complete Reservation</button>
                        <div class="spinner next-form-spinner confirm-spinner"></div>
                    </td>
                </tr>

            </table>

        </div>

        {% with hidden="hidden" form_id="reservation_confirm_error" %}
            {% include "global_includes/form_errors.html" %}
        {% endwith %}

        {% csrf_token %}
        <input type="hidden" name="email" id="id_email" value="{{ user.email }}" />
    </form>

{% endblock %}