{% load bbcode_tags %}

<div class="confcode">{{ reservation.confirmation_code }}</div>
<table class="small-item-data">
    <tr>
        <td>
            {% if reservation.delivery_required %}
                PRI Delivers Vehicle:
            {% else %}
                Pick Up at PRI:
            {% endif %}
        </td>
        <td>{{ reservation.out_at|date:"g:i A D m/d/Y" }}</td>
    </tr>
    <tr>
        <td>
            {% if reservation.delivery_required %}
                PRI Collects Vehicle:
            {% else %}
                Due Back at PRI:
            {% endif %}
        </td>
        <td>{{ reservation.back_at|date:"g:i A D m/d/Y" }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ reservation.num_days }} day{{ reservation.num_days|pluralize }}</td>
    </tr>
</table>
<p class="reservation-status">
    {{ reservation.reservation.get_status_display }}{{ reservation.rental.get_status_display }}
</p>
<div class="vehiclepic-box">
    <img class="vehiclepic" src="{{ reservation.vehicle.vehicle_marketing.thumbnail_image.url }}" />
    <span class="offer-title overlay-text bottom">{{ reservation.vehicle.make }} {{ reservation.vehicle.model }}</span>
</div>
{% if user.customer.info_is_complete %}
    {% if reservation.customer_notes %}
        <div class="customer-notes">
            {{ reservation.customer_notes|bbcode }}
        </div>
    {% endif %}
{% elif not reservation.is_past %}
    <div class="exception complete-info-prompt">
        <h3>Action Required</h3>
        <p>Please complete your information.</p>
    </div>
{% endif %}
