{% extends "customer_portal/reservations/base.html" %}
{% load humanize %}

{% block nav_make_reservation_class %}selected{% endblock %}

{% block subpage_pane %}

    {% if bikes_enabled %}
        <div class="vehicle-picker-column right">
            {% for vehicle in bikes %}
                <a href="{% url "customer_portal:make-reservation" slug=vehicle.slug %}">
                    <div class="vehicle-picker-pick reservation-picker" vehicleid="#vehicleid#">
                        <div class="section-header">${{ vehicle.price_per_day|floatformat:0|intcomma }} / day</div>
                        {% if vehicle.thumbnail_image %}
                            <img src="{{ vehicle.thumbnail_image.url }}" />
                        {% endif %}
                        <span class="caption">{{ vehicle.make }} {{ vehicle.model }}</span>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}

    <div class="vehicle-picker-column">
        {% for vehicle in cars %}
            <a href="{% url "customer_portal:make-reservation" slug=vehicle.slug %}">
                <div class="vehicle-picker-pick reservation-picker" vehicleid="#vehicleid#">
                    <div class="section-header">${{ vehicle.price_per_day|floatformat:0|intcomma }} / day</div>
                    {% if vehicle.thumbnail_image %}
                        <img src="{{ vehicle.thumbnail_image.url }}" />
                    {% endif %}
                    <span class="caption">{{ vehicle.make }} {{ vehicle.model }}</span>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}