{% extends "customer_portal/reservations/base.html" %}
{% load humanize %}

{% block nav_make_reservation_class %}selected{% endblock %}

{% block subpage_pane %}

    {% comment %}
    <cfquery name="Cars" datasource="#DSN#">
        SELECT vehicleid,make,model FROM Vehicles
        WHERE status = 1
        AND type = 1
        ORDER BY weighting DESC
    </cfquery>

    <cfquery name="Bikes" datasource="#DSN#">
        SELECT vehicleid,make,model FROM Vehicles
        WHERE status = 1
        AND type = 2
        ORDER BY weighting DESC
    </cfquery>
    {% endcomment %}

    <div class="vehicle-picker-column right">
    {% for vehicle in bikes %}
    <cfoutput query="Bikes">
        {% comment %}
        <cfquery name="BikesFront" datasource="#FDSN#">
            SELECT price FROM VehiclesFront
            WHERE vehicleid = <CFQUERYPARAM value="#vehicleid#" CFSQLType="CF_SQL_INTEGER">
        </cfquery>
        {% endcomment %}
        <a href="{% url "customer_portal:make-reservation" slug=vehicle.slug %}">
            <div class="vehicle-picker-pick reservation-picker" vehicleid="#vehicleid#">
                <div class="section-header">${{ vehicle.price_per_day|floatformat:0|intcomma }} / day</div>
                {% if vehicle.thumbnail_image %}
                    <img src="{{ vehicle.thumbnail_image.url }}" />
                {% endif %}
                <span class="caption">{{ vehicle.make }} {{ vehicle.model }}</span>
            </div>
        </a>
    </cfoutput>
    {% endfor %}
    </div>

    <div class="vehicle-picker-column">
    {% for vehicle in cars %}
    <cfoutput query="Cars">
        {% comment %}
        <cfquery name="CarsFront" datasource="#FDSN#">
            SELECT price FROM VehiclesFront
            WHERE vehicleid = <CFQUERYPARAM value="#vehicleid#" CFSQLType="CF_SQL_INTEGER">
        </cfquery>
        {% endcomment %}
        <a href="{% url "customer_portal:make-reservation" slug=vehicle.slug %}">
            <div class="vehicle-picker-pick reservation-picker" vehicleid="#vehicleid#">
                <div class="section-header">${{ vehicle.price_per_day|floatformat:0|intcomma }} / day</div>
                {% if vehicle.thumbnail_image %}
                    <img src="{{ vehicle.thumbnail_image.url }}" />
                {% endif %}
                <span class="caption">{{ vehicle.make }} {{ vehicle.model }}</span>
            </div>
        </a>
    </cfoutput>
    {% endfor %}
    </div>

{% endblock %}