{% extends "customer_portal/reservations/base.html" %}

{% block nav_upcoming_reservations_class %}selected{% endblock %}

{% block subpage_pane %}

    {% for reservation in upcoming_reservations %}
        <a href="{% url "customer_portal:confirm-reservation" confirmation_code=reservation.confirmation_code %}">
            <div class="reservation {% if not user.customer.info_is_complete %}incomplete-info{% endif %}">
                {% include "customer_portal/reservations/reservation.html" %}
            </div>
        </a>
    {% endfor %}

    {% if not upcoming_reservations.exists %}
        <div class="no-records">No upcoming rentals</div>
    {% endif %}

{% endblock %}